{% extends "layouts/base.njk" %}
{% set title = "장바구니" %}
{% block content %}
  <div class="title center">
    <h3>장바구니</h3>
  </div>
  <!-- 장바구니 목록 -->
  <div class="util-wrap">
    <div class="btn-wrap">
      <button type="button" class="btn-outline xsmall">
        <span>전체선택</span>
      </button>
    </div>
    <div class="btn-wrap">
      <button type="button" class="btn-outline xsmall">
        <span>선택삭제</span>
      </button>
    </div>
  </div>
  <div class="product-list">
    <div class="list-item header">
      <div class="item">
        <div class="checkbox-wrap">
          <label class="checkbox" for="check-all">
            <input type="checkbox" id="check-all" title="선택"/>
            <span class="checkbox-icon"></span>
          </label>
        </div>
      </div>
      <div class="item">
        <p>상품명</p>
      </div>
      <div class="item">
        <p>수량</p>
      </div>
      <div class="item">
        <p>주문금액</p>
      </div>
      <div class="item">
        <p>배송방법</p>
      </div>
      <div class="item">
        <p>상태</p>
      </div>
    </div>
    <!-- // list-header -->
    <div class="list-item">
      <div class="item">
        <div class="checkbox-wrap">
          <label class="checkbox" for="check-1">
            <input type="checkbox" id="check-1" title="선택"/>
            <span class="checkbox-icon"></span>
          </label>
        </div>
      </div>
      <div class="item product">
        <div class="product-wrap">
          <div class="product-inner-item">
            <div class="product-img"><img src="https://www.colormi.co.kr/resources/fe/img/productDetail/memopad_24_05.jpg" alt="상품이미지"/></div>
            <div class="product-info">
              <div class="badge-wrap">
                <span class="badge line-display-1">묶음배송불가</span>
                {# <span class="badge line-display-3 recommend">MD추천</span>
                <span class="badge line-display-4 new">신상품</span>
                <span class="badge line-display-4">시즌신상품</span>
                <span class="badge line-display-6">배송비무료</span>
                <span class="badge line-display-6">묶음배송가능</span>
                <span class="badge line-display-6 best">베스트</span>
                <span class="badge line-display-6">주간베스트</span>
                <span class="badge line-display-7 discount-1">폭풍할인</span>
                <span class="badge line-display-7 discount-2">즉시할인중</span>
                <span class="badge line-display-8">쿠폰할인불가</span>
                <span class="badge line-display-9">인기상품</span>
                <span class="badge line-display-9">최다판매</span>
                <span class="badge line-display-9">주문폭주</span>
                <span class="badge line-display-9">별도문의</span>
                <span class="badge fill-gray-dark">당일출고</span>
                <span class="badge fill-gray-dark">익일출고</span>
                <span class="badge fill-gray-dark">자체제작</span>
                <span class="badge fill-gray-dark">사은품증정</span> #}
              </div>
              <p class="product-name">상품명</p>
              <div class="product-text">
                <p class="text">기본정보가 노출되는 줄입니다.</p>
                <p class="text">제목 및 내용이 노출되는 줄입니다.</p>
              </div>
              <div class="btn-wrap">
                <button type="button" class="btn-outline xsmall">
                  <span>옵션변경</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <p><span>1</span>건</p>
      </div>
      <div class="item">
        <p><span>100,000,000</span>원</p>
      </div>
      <div class="item">
        <p>선불택배</p>
      </div>
      <div class="item">
        <div class="btn-wrap">
          <button type="button" class="btn-outline-tertiary xsmall">
            <span>견적중</span>
            <i class="step-ing"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- // list-item -->
    <div class="list-item">
      <div class="item">
        <div class="checkbox-wrap">
          <label class="checkbox" for="check-2">
            <input type="checkbox" id="check-2" title="선택"/>
            <span class="checkbox-icon"></span>
          </label>
        </div>
      </div>
      <div class="item product">
        <div class="product-wrap">
          <div class="product-inner-item">
            <div class="product-img"><img src="/" alt="상품이미지"/></div>
            <div class="product-info">
              <div class="badge-wrap">
                <span class="badge line-display-1">묶음배송불가</span>
              </div>
              <p class="product-name">상품명</p>
              <div class="product-text">
                <p class="text">기본정보가 노출되는 줄입니다.</p>
                <p class="text">제목 및 내용이 노출되는 줄입니다.</p>
              </div>
              <div class="btn-wrap">
                <button type="button" class="btn-outline xsmall">
                  <span>옵션변경</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <p><span>1</span>건</p>
      </div>
      <div class="item">
        <p><span>100,000,000</span>원</p>
      </div>
      <div class="item">
        <p>선불택배</p>
      </div>
      <div class="item">
        <div class="btn-wrap">
          <button type="button" class="btn-outline-tertiary xsmall">
            <span>견적요청</span>
          </button>
        </div>
      </div>
    </div>
    <!-- // list-item -->
    <div class="list-item">
      <div class="item">
        <div class="checkbox-wrap">
          <label class="checkbox" for="check-3">
            <input type="checkbox" id="check-3" title="선택"/>
            <span class="checkbox-icon"></span>
          </label>
        </div>
      </div>
      <div class="item product">
        <div class="product-wrap">
          <div class="product-inner-item">
            <div class="product-img"><img src="/" alt="상품이미지"/></div>
            <div class="product-info">
              <div class="badge-wrap">
                <span class="badge line-display-1">묶음배송불가</span>
              </div>
              <p class="product-name">상품명</p>
              <div class="product-text">
                <p class="text">기본정보가 노출되는 줄입니다.</p>
                <p class="text">제목 및 내용이 노출되는 줄입니다.</p>
              </div>
              <div class="btn-wrap">
                <button type="button" class="btn-outline xsmall">
                  <span>옵션변경</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <p><span>1</span>건</p>
      </div>
      <div class="item">
        <p><span>100,000,000</span>원</p>
      </div>
      <div class="item">
        <p>선불택배</p>
      </div>
      <div class="item">
        <div class="btn-wrap">
          <button type="button" class="btn-tertiary xsmall">
            <span>견적완료</span>
            <i class="step-end"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- // list-item -->
    <div class="list-item">
      <div class="item">
        <div class="checkbox-wrap">
          <label class="checkbox" for="check-4">
            <input type="checkbox" id="check-4" title="선택"/>
            <span class="checkbox-icon"></span>
          </label>
        </div>
      </div>
      <div class="item product">
        <div class="product-wrap">
          <div class="product-inner-item">
            <div class="product-img"><img src="/" alt="상품이미지"/></div>
            <div class="product-info">
              <div class="badge-wrap">
                <span class="badge line-display-1">묶음배송불가</span>
              </div>
              <p class="product-name">상품명</p>
              <div class="product-text">
                <p class="text">기본정보가 노출되는 줄입니다.</p>
                <p class="text">제목 및 내용이 노출되는 줄입니다.</p>
              </div>
              <div class="btn-wrap">
                <button type="button" class="btn-outline xsmall">
                  <span>옵션변경</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <p><span>1</span>건</p>
      </div>
      <div class="item">
        <p><span>100,000,000</span>원</p>
      </div>
      <div class="item">
        <p>선불택배</p>
      </div>
      <div class="item">
        <div class="btn-wrap">
          <button type="button" class="btn-secondary xsmall">
            <i class="step-cart">장바구니</i>
          </button>
        </div>
      </div>
    </div>
    <!-- // list-item -->
  </div>
  <!-- 상품 금액 -->
  <div class="product-price-wrap">
    <div class="product-order-price">
      <dl class="product-price">
        <dt class="total">총 상품 금액</dt>
        <dd class="total">
          <strong>100,000,000</strong>원</dd>
      </dl>
      <span class="icon-plus">+</span>
      <dl class="product-price">
        <dt class="shipping">배송비</dt>
        <dd class="shipping"><strong>7,000</strong>원</dd>
      </dl>
      <span class="icon-minus">-</span>
      <dl class="product-price">
        <dt class="shipping">할인 금액</dt>
        <dd class="shipping"><strong>12,000</strong>원</dd>
      </dl>
      <span class="icon-sum">=</span>
      <dl class="product-price">
        <dt class="total-sum">총 결제 예정금액<span>(VAT포함가)</span>
        </dt>
        <dd class="total-sum">
          <strong>100,000,000</strong>원</dd>
      </dl>
    </div>
  </div>
  <div class="btn-wrap">
    <button type="button" class="btn-outline medium">
      <span>견적문의</span>
    </button>
    <button type="button" class="btn-primary medium">
      <span>주문하기</span>
    </button>
  </div>
  {% endblock %}