{% extends "layouts/base.njk" %}
{% set title = "장바구니" %}
{% block content %}
  <div class="content">
    <div class="page-title">
      <h3>장바구니</h3>
    </div>
    <section class="content-box">
      <div class="util-wrap">
        <div class="btn-wrap">
          <button type="button" class="btn-outline --xsmall">
            <span>전체선택</span>
          </button>
        </div>
        <div class="btn-wrap">
          <button type="button" class="btn-outline --xsmall">
            <span>판매중지 삭제</span>
          </button>
          <button type="button" class="btn-black --xsmall">
            <span>선택삭제</span>
          </button>
        </div>
      </div>
      <!-- 장바구니 목록 -->
      <div class="table-list">
        <div class="list-item-wrap --header">
          <div class="list-item">
            <div class="item --checkbox">
              <div class="checkbox-wrap">
                <label class="checkbox" for="check-all">
                  <input type="checkbox" id="check-all" title="선택"/>
                  <span class="checkbox-icon"></span>
                </label>
              </div>
            </div>
            <div class="item --product">
              <p>상품명</p>
            </div>
            <div class="item --quantity">
              <p>수량</p>
            </div>
            <div class="item --amount">
              <p>주문금액</p>
            </div>
            <div class="item --delivery">
              <p>배송방법</p>
            </div>
            <div class="item --status">
              <p>상태</p>
            </div>
          </div>
        </div>
        <!-- // list header -->
        <div class="list-item-wrap --body">
          <div class="list-item">
            <div class="item --checkbox">
              <div class="checkbox-wrap">
                <label class="checkbox" for="check-1">
                  <input type="checkbox" id="check-1" title="선택"/>
                  <span class="checkbox-icon"></span>
                </label>
              </div>
            </div>
            <div class="item --product" data-label="상품명">
              <div class="product-wrap">
                <div class="product-inner-item">
                  <div class="product-img"><img src="/resources/fe/img/product/A001_thum_1.jpg" alt="상품이미지"/>
                  </div>
                  <div class="product-info">
                    <div class="badge-wrap">
                      <span class="badge line-display-4 new">신상품</span>
                    </div>
                    <p class="product-name">상품명</p>
                    <div class="product-text">
                      <p class="text">기본정보가 노출되는 줄입니다.</p>
                      <p class="text">제목 및 내용이 노출되는 줄입니다.</p>
                    </div>
                    <!-- 책자 : 옵션변경 버튼 대신 사용 -->
                    <div class="product-text --right">
                      <a href="" class="btn-text --small">
                        <span>상세보기</span>
                      </a>
                    </div>
                    <!-- // 책자 : 옵션변경 버튼 대신 사용 -->
                    <!-- 책자 이외 : 상세보기 버튼 삭제 -->
                    <div class="btn-wrap">
                      <button type="button" class="btn-outline --xsmall">
                        <span>옵션변경</span>
                      </button>
                    </div>
                    <!-- 책자 이외 : 상세보기 버튼 삭제 -->
                  </div>
                </div>
              </div>
            </div>
            <div class="item --quantity" data-label="수량">
              <div class="item-inner">
                <p>
                  <span>1</span>건
                </p>
              </div>
            </div>
            <div class="item --amount" data-label="주문금액">
              <div class="item-inner">
                <p>
                  <span>100,000,000</span>원
                </p>
              </div>
            </div>
            <div class="item --delivery" data-label="배송방법">
              <div class="item-inner">
                <p>선불택배</p>
              </div>
            </div>
            <div class="item --status" data-label="상태">
              <div class="item-inner">
                <span class="badge line-tertiary square step-ing">견적중</span>
                <span class="badge line-tertiary square">견적요청</span>
                <span class="badge fill-tertiary square step-end">견적완료</span>
                <span class="badge fill-secondary square step-cart">
                  <i>장바구니</i>
                </span>
              </div>
            </div>
          </div>
          <!-- 판매중지 상품: --disabled 클래스 추가 + .guide-text -->
          <div
            class="list-item --disabled">
            <!-- 판매중지 상품 안내 텍스트 -->
            <p class="guide-text">판매중지 상품</p>
            <!-- // 판매중지 상품 안내 텍스트 -->
            <div class="item --checkbox">
              <div class="checkbox-wrap">
                <label class="checkbox" for="check-1">
                  <input type="checkbox" id="check-1" title="선택"/>
                  <span class="checkbox-icon"></span>
                </label>
              </div>
            </div>
            <div class="item --product" data-label="상품명">
              <div class="product-wrap">
                <div class="product-inner-item">
                  <div class="product-img"><img src="/resources/fe/img/product/A001_thum_1.jpg" alt="상품이미지"/>
                  </div>
                  <div class="product-info">
                    <div class="badge-wrap">
                      <span class="badge line-display-4 new">신상품</span>
                    </div>
                    <p class="product-name">상품명</p>
                    <div class="product-text">
                      <p class="text">기본정보가 노출되는 줄입니다.</p>
                      <p class="text">제목 및 내용이 노출되는 줄입니다.</p>
                    </div>
                    <!-- 책자 : 옵션변경 버튼 대신 사용 -->
                    <div class="product-text --right">
                      <a href="" class="btn-text --small">
                        <span>상세보기</span>
                      </a>
                    </div>
                    <!-- // 책자 : 옵션변경 버튼 대신 사용 -->
                    <!-- 책자 이외 : 상세보기 버튼 삭제 -->
                    <div class="btn-wrap">
                      <button type="button" class="btn-outline --xsmall">
                        <span>옵션변경</span>
                      </button>
                    </div>
                    <!-- 책자 이외 : 상세보기 버튼 삭제 -->
                  </div>
                </div>
              </div>
            </div>
            <div class="item --quantity" data-label="수량">
              <div class="item-inner">
                <p>
                  <span>1</span>건
                </p>
              </div>
            </div>
            <div class="item --amount" data-label="주문금액">
              <div class="item-inner">
                <p>
                  <span>100,000,000</span>원
                </p>
              </div>
            </div>
            <div class="item --delivery" data-label="배송방법">
              <div class="item-inner">
                <p>선불택배</p>
              </div>
            </div>
            <div class="item --status" data-label="상태">
              <div class="item-inner">
                <span class="badge line-tertiary square step-ing">견적중</span>
              </div>
            </div>
          </div>
          <!-- 장바구니 상품 없음 -->
          <div class="list-item">
            <div class="item --no-item --icon">
              <p class="guide-basic-title">장바구니에 담긴 상품이 없어요.</p>
              <p class="guide-sub-deep --small">새로운 상품으로 채워주세요!</p>
              <div class="btn-wrap">
                <a href="" class="btn-round icon">
                  <span>메인으로</span>
                </a>
              </div>
            </div>
          </div>
          <!-- // 장바구니 상품 없음 -->
        </div>
        <!-- // list body -->
      </div>
      <!-- 상품 금액 -->
      <div class="product-price-wrap --step --end">
        <div class="product-order-price">
          <dl class="product-price">
            <dt class="total-sum">총 결제 예정금액<span>(VAT포함가)</span>
            </dt>
            <dd class="total-sum">
              <strong>100,000,000</strong>원
            </dd>
          </dl>
        </div>
      </div>
    </section>
    <!-- 안내 -->
    <section class="content-box">
      <div class="desc-box">
        <p class="guide-basic-title">※ 꼭 확인하세요.</p>
        <ul class="guide-sub-deep --small --dot">
          <li>장바구니 담긴 상품 보관 기간은 최대 7일이며 이후 자동 삭제됩니다.</li>
          <li>묶음배송불가 상품은 별도의 배송비가 발생합니다.</li>
          <li>장바구니에서 견적요청한 상품은 ‘견적완료’ 표시 전까지 결제가 불가능하며, 완료 후에는 결제 진행이 가능합니다.</li>
          <li>판매중지 된 상품은 ...작성중</li>
        </ul>
      </div>
    </section>
    <div class="btn-wrap confirm">
      <button type="button" class="btn-outline --medium">
        <span>견적요청</span>
      </button>
      <button type="button" class="btn-primary --medium">
        <span>주문하기</span>
      </button>
    </div>
  </div>
{% endblock %}