{% extends "layouts/base.njk" %}
{% set title = "장바구니" %}
{% block content %}
  <div class="modal --full large">
    <div class="modal-header">
      <h5 class="modal-title">옵션변경</h5>
    </div>
    <div class="modal-container">
      <!-- 기본정보 -->
      <div class="product-order">
        <div class="title-wrap">
          <h5 class="required">기본정보</h5>
          <strong class="desc-guide required">표시는 필수입력 항목 이오니 반드시 입력해 주세요</strong>
        </div>
        <dl class="product-option">
          <dt>구성</dt>
          <dd>
            <div class="form-field">
              <div class="form-wrap select">
                <select class="btn-select">
                  <option>메모장</option>
                  <option>메모장 커버</option>
                  <option>메모장 세트(커버1개+메모장2부)</option>
                </select>
              </div>
            </div>
          </dd>
          <dt>매수</dt>
          <dd>
            <div class="form-field">
              <div class="form-wrap select">
                <select class="btn-select">
                  <option>50매</option>
                </select>
              </div>
            </div>
          </dd>
          <dt>사이즈</dt>
          <dd>
            <div class="form-field">
              <div class="form-wrap select">
                <select class="btn-select">
                  <option>A5</option>
                  <option>B5</option>
                  <option>A4</option>
                </select>
              </div>
            </div>
          </dd>
          <dt>수량</dt>
          <dd>
            <div class="form-field">
              <input type="number" placeholder="Placeholder"/>
              <p class="description">10부 단위로 주문 가능</p>
            </div>
          </dd>
          <dt>커버각인</dt>
          <dd>
            <div class="form-field">
              <div class="form-wrap select">
                <select class="btn-select">
                  <option>안함</option>
                  <option>추가</option>
                </select>
              </div>
            </div>
          </dd>
          <dt>파일첨부</dt>
          <dd>
            <div class="form-field file">
              <label class="btn-primary small">
                <input type="file"/>
                <span>파일첨부</span>
              </label>
              <span class="guide-sub">선택한 파일이 없습니다.</span>
              <!-- // 파일 선택 후 : 안내문구 > 파일명으로 텍스트 대치 -->
              <!-- 파일 선택 후 : 삭제 버튼 사용 -->
              <button type="button" class="btn-del">
                <i class="delete">삭제</i>
              </button>
              <!-- // 파일 선택 후 : 삭제 버튼 사용 -->
            </div>
          </dd>
        </dl>
      </div>
      <!-- 주문내용 -->
      <div class="product-order">
        <div class="title-wrap">
          <h5>주문내용</h5>
        </div>
        <dl class="product-option">
          <dt class="required">제목</dt>
          <dd>
            <div class="form-field">
              <input type="text" placeholder="Placeholder"/>
            </div>
          </dd>
          <dt>웹하드</dt>
          <dd>
            <button type="button" class="btn-outline xsmall">
              <span>웹하드 업로드</span>
            </button>
            <div class="guide-wrap">
              <dl class="desc-guide line-round">
                <dt>ID</dt>
                <dd>colomi</dd>
                <dt>PW</dt>
                <dd>1234</dd>
              </dl>
              <span class="guide-sub-deep">*웹하드 자료는 한폴더에 넣어 올려주세요</span>
            </div>
          </dd>
          <dt>요청사항</dt>
          <dd>
            <div class="form-field textarea">
              <div class="form-wrap">
                <textarea id="textarea" placeholder="Placeholder"></textarea>
              </div>
            </div>
          </dd>
          <dt>배송방법</dt>
          <dd>
            <div class="form-field">
              <div class="form-wrap select">
                <select class="btn-select">
                  <option>선불택배</option>
                </select>
              </div>
            </div>
          </dd>
        </dl>
      </div>
    </div>
    <div class="modal-footer">
      <div class="btn-wrap confirm">
        <button type="button" class="btn-outline medium">
          <span>취소</span>
        </button>
        <button type="button" class="btn-primary medium">
          <span>변경</span>
        </button>
      </div>
    </div>
    <div class="btn-wrap close">
      <button type="button" class="btn-close">
        <i>닫기</i>
      </button>
    </div>
  </div>
{% endblock %}