{% extends "layouts/base.njk" %}
{% set title = "작업가이드" %}
{% block content %}
  {% include "components/sideNavCustomer.njk" %}
  <div class="content">
    <div class="page-title">
      <h3>작업가이드</h3>
    </div>
    <section class="content-box">
      작업가이드 내용
      <button type="button" class="btn-round icon">
        <span>작업가이드</span>
      </button>
    </section>
  </div>
{% endblock %}