{% extends "layouts/base.njk" %}
{% set title = "회원탈퇴" %}
{% block content %}
  {% include "components/sideNavCustomer.njk" %}
  <div class="content">
    <div class="page-title">
      <h3>회원탈퇴</h3>
    </div>
    <section class="content-box">
      <div class="desc-box">
        <p class="guide-basic-title">탈퇴 유의사항</p>
        <div class="desc-box-inner">
          <p class="guide-sub-deep --small">포인트 소멸</p>
          <ul class="guide-sub-deep --small --dot">
            <li>회원탈퇴 시 보유하고 계신 포인트가 자동 소멸되며 복원되지 않습니다.</li>
            <li>사이트 정책에 따라 최대 30일 동안 회원 재가입이 불가능합니다.</li>
            <li>회원일 때, 작성하셨던 게시물이나 댓글 등 활동 내역은 삭제되지 않습니다.</li>
            <li>진행 중인 상품 또는 미수 잔액이 있는 경우 탈퇴가 불가능합니다.</li>
            <li>회원탈퇴 후 재가입 시 신규회원으로 가입되며, 탈퇴 전의 회원정보, 주문정보, 쿠폰은 복원되지 않습니다.</li>
          </ul>
          <p class="guide-sub-deep --small">개인정보 파기</p>
          <ul class="guide-sub-deep --small --dot">
            <li>개인정보는 회원 재가입 유예기간 경과 후 즉시 파기됩니다.</li>
            <li>단, 전자상거래법, 통신비밀보호법 등 관련 법령의 규정에 의하여 아래의 개인정보가 일정기간 보관됩니다.</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="content-box">
      <div class="desc-box border-box-2">
        <div class="radio-wrap">
          <label class="radio" for="radio-0-1">
            <input type="radio" id="radio-0-1" name="radio-0" checked="checked"/>
            <span class="radio-icon"></span>
            <span class="radio-label">상품 종류부족/가격/품질 불만</span>
          </label>
          <label class="radio" for="radio-0-2">
            <input type="radio" id="radio-0-2" name="radio-0"/>
            <span class="radio-icon"></span>
            <span class="radio-label">고객응대 불만</span>
          </label>
          <label class="radio" for="radio-0-3">
            <input type="radio" id="radio-0-3" name="radio-0"/>
            <span class="radio-icon"></span>
            <span class="radio-label">교환/반품/AS 서비스 불만</span>
          </label>
          <label class="radio" for="radio-0-4">
            <input type="radio" id="radio-0-4" name="radio-0"/>
            <span class="radio-icon"></span>
            <span class="radio-label">배송 불만</span>
          </label>
          <label class="radio" for="radio-0-5">
            <input type="radio" id="radio-0-5" name="radio-0"/>
            <span class="radio-icon"></span>
            <span class="radio-label">시스템 불만</span>
          </label>
          <label class="radio" for="radio-0-6">
            <input type="radio" id="radio-0-6" name="radio-0"/>
            <span class="radio-icon"></span>
            <span class="radio-label">기타</span>
          </label>
        </div>
      </div>
    </section>
    <section class="content-box">
      <div class="product-order">
        <div class="product-option">
          <dl class="column-item">
            <dt>상세내용</dt>
            <dd>
              <div class="form-field textarea">
                <div class="form-wrap">
                  <textarea id="textarea" placeholder="칼라미에게 하고 싶은 말을 자유롭게 작성해주세요."></textarea>
                </div>
              </div>
            </dd>
          </dl>
        </div>
      </div>
    </section>
    <section class="content-box confirm">
      <div class="checkbox-wrap">
        <label class="checkbox" for="check-1">
          <input type="checkbox" id="check-1"/>
          <span class="checkbox-icon"></span>
          <span class="checkbox-label">위 내용을 모두 확인하였으며, 이에 동의합니다.</span>
        </label>
      </div>
    </section>
    <div class="btn-wrap confirm">
      <button type="button" class="btn-primary --medium">
        <span>탈퇴하기</span>
      </button>
    </div>
  </div>
{% endblock %}