{% extends "layouts/base.njk" %}
{% set title = "작업가이드" %}
{% block content %}
  {% include "components/sideNavCustomer.njk" %}
  <div class="content">
    <div class="page-title">
      <h3>작업가이드</h3>
    </div>
    <section class="content-box">
      <div class="desc-box border-box">
        <div class="cont-info --design-guide">
          <p class="guide-basic-title">파일 형식 안내</p>
          <div class="icon-box --design-guide">
            <ul class="guide-sub-deep --small --dot">
              <li>PDF 파일로 저장해 주세요. 다른 형식은 인쇄 과정에서 문제가 생길 수 있어요.</li>
              <li>폰트는 반드시 윤곽선(Outline) 처리해 주세요. 사용하신 글꼴이 깨지지 않도록 하는 방법이에요.</li>
              <li>이미지가 들어간 경우, 해상도 300dpi 이상으로! 인쇄 품질을 높이려면 이 정도는 필요해요!</li>
            </ul>
          </div>
        </div>
        <div class="cont-info --design-guide">
          <div class="cont-item">
            <div class="title-wrap">
              <p class="cont-title --small title-icon">사이즈 및 재단선 정보</p>
            </div>
            <ul class="guide-sub-deep --small --dot">
              <li>실제 사이즈(mm) 및 작업 사이즈 (+ 재단 여백 3mm)</li>
              <li>재단선, 접힘선, 누름선(오시) 등 표기 방법 안내</li>
            </ul>
          </div>
          <div class="cont-item">
            <div class="title-wrap">
              <p class="cont-title --small title-icon">색상 규정</p>
            </div>
            <ul class="guide-sub-deep --small --dot">
              <li>CMYK로 작업 필수 (RGB 금지)</li>
              <li>별색(Pantone) 사용 불가 : 출력이 되지 않거나 CMYK로 자동 변환 후 출력</li>
            </ul>
          </div>
          <div class="cont-item">
            <div class="title-wrap">
              <p class="cont-title --small title-icon">이미지 및 사진 사용 시 유의사항</p>
            </div>
            <ul class="guide-sub-deep --small --dot">
              <li>해상도 낮은 이미지 사용 자제
                <p>: 인쇄했을 때 흐리게 나올 수 있어요.</p>
              </li>
              <li>저작권 문제 없는 이미지 사용 권장
                <p>: 직접 촬영한 사진이나 상업적으로 사용 가능한 이미지가 안전해요.</p>
              </li>
            </ul>
          </div>
          <div class="cont-item">
            <div class="title-wrap">
              <p class="cont-title --small title-icon">저장 및 제출 방법</p>
            </div>
            <ul class="guide-sub-deep --small --dot">
              <li>파일명은 따로 지정된 형식은 없지만, 예를 들어 [업체명_인쇄물종류_날짜.pdf]처럼 정리된 형태로 보내주시면 작업에 도움되요.</li>
              <li>홈페이지내 ‘파일첨부’ 또는 ‘웹하드’ 파일 업로드</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- 안내 -->
    <section class="content-box">
      <div class="desc-box">
        <p class="guide-basic-title">※ 꼭 확인하세요.</p>
        <ul class="guide-sub-deep --small --dot">
          <li>결제 후에 빠른 접수 또는 파일 이슈, 추가 안내사항이 있는 경우, 고객상담센터(02-2266-0671)로 연락 부탁드립니다.</li>
        </ul>
      </div>
    </section>
    <div class="btn-wrap confirm">
      <button type="button" class="btn-primary --medium">
        <span>작업가이드 보기</span>
      </button>
    </div>
  </div>
{% endblock %}