{% extends "layouts/base.njk" %}
{% set title = "FAQ" %}
{% block content %}
  {% include "components/sideNavCustomer.njk" %}
  <div class="content">
    <div class="page-title">
      <h3>FAQ</h3>
    </div>
    <section class="content-box">
      <div class="util-wrap">
        <div class="btn-wrap --tab">
          <button type="button" class="btn-round --active">
            <span>전체</span>
          </button>
          <button type="button" class="btn-round">
            <span>주문</span>
          </button>
          <button type="button" class="btn-round">
            <span>견적</span>
          </button>
          <button type="button" class="btn-round">
            <span>입금/결제</span>
          </button>
          <button type="button" class="btn-round">
            <span>회원</span>
          </button>
          <button type="button" class="btn-round">
            <span>배송</span>
          </button>
          <button type="button" class="btn-round">
            <span>취소/환불</span>
          </button>
          <button type="button" class="btn-round">
            <span>데이터</span>
          </button>
          <button type="button" class="btn-round">
            <span>대용량업로드</span>
          </button>
          <button type="button" class="btn-round">
            <span>기타</span>
          </button>
        </div>
      </div>
      <div class="util-wrap --right">
        <div class="form-field">
          <div class="form-option util-option">
            <div class="form-wrap select">
              <select class="btn-select">
                <option>전체</option>
              </select>
            </div>
            <input type="text" class="--basic" placeholder="검색어를 입력해보세요."/>
            <button type="button" class="btn-outline --small">
              <span>조회</span>
            </button>
          </div>
        </div>
      </div>
      <div class="table-list --faq-list">
        <div class="list-item-wrap">
          <div class="list-item">
            <button type="button" class="item --question">
              <span class="type">Q</span>
              <span class="badge --xlarge">주문</span>
              <p class="title">
                전단지 A4, 4,000장을 주문하려고 하는데 주문서에는 1R(연), 2R(연)로 표시되어 있습니다. 어떻게 주문해야 하나요?
              </p>
            </button>
            <div class="item --answer">
              <p class="title">A</p>
              <p class="text">
                합판 전단 주문 방식에서는 인쇄시 종이 정량(1R, 4,000매)만을 인쇄하게 됩니다. 일반적인 인쇄 작업 특성상 인쇄, 재단 작업과정 중에 종이 손실이 발생합니다. 예를 들어 인쇄 초기 작업 과정에서 색상을 맞추기
                위한 종이 손실 등이 발생합니다. 일반적으로 5-10% 정도 종이 손실이 발생합니다. 따라서 정매수를 보장받기 위해서는 독판 전단 주문을 해야 하며 정매수 옵션을 체크해야만 A4 1R 주문시 4,000장 이상의
                인쇄물을 납품 받을 수 있습니다. 주문시 정매수 옵션을 체크하면 추가 비용이 발생합니다.
              </p>
            </div>
          </div>
          <!-- // list-item -->
        </div>
      </div>
    </section>
    <!-- pagination -->
    <section class="content-box">
      <div class="pagination">
        <ul class="item-wrap">
          <li class="item prev">
            <a href="">이전</a>
          </li>
          <li class="item --active">
            <a href="">1</a>
          </li>
          <li class="item">
            <a href="">2</a>
          </li>
          <li class="item">
            <span>&middot;&nbsp;&middot;&nbsp;&middot;</span>
          </li>
          <li class="item next disabled">
            <a href="">다음</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
{% endblock %}