{% extends "layouts/base.njk" %}
{% set title = "찾아오시는 길" %}
{% block content %}
  {% include "components/sideNavCustomer.njk" %}
  <div class="content">
    <div class="page-title">
      <h3>찾아오시는 길</h3>
    </div>
    <section class="content-box">
      {% include "components/map.njk" %}
    </section>
  </div>
{% endblock %}