{% extends "layouts/base.njk" %}
{% set title = "인사말" %}
{% block content %}
  {% include "components/sideNavCustomer.njk" %}
  <div class="content">
    <div class="page-title">
      <h3>인사말</h3>
    </div>
    <section class="content-box">
      <div class="cont-division">
        <p class="img-box --greeting">
          <img src="/resources/fe/images/img/img-ceo.png"/>
        </p>
        <div class="cont-info --greeting">
          <div class="title-wrap">
            <p class="cont-title --small">칼라미를 찾아주셔서 감사합니다.</p>
          </div>
          <div class="text-wrap">
            <p class="guide-sub-deep --small">
              저희 칼라미는 끊임없는 연구 개발을 통하여 급변하는 인쇄 시장에 맞추어 고객에게 좀 더 향상된 서비스를 위하여 항상 임직원 일동은 노력하고 있습니다.
            </p>
            <p class="guide-sub-deep --small">
              최신형 친환경 잉크젯 Canon IX Series와 오랜 노하우를 겸비하고 있는 인디고 및 다양한 디지털 프린트 장비로 인쇄 서비스를 하고 있으며 또한 ERP, CRM, WEB EDITING, WEB
              IMPOSITION등을 개발하여 최고의 품질을 자랑하는 인쇄물을 가장 빠르고 저렴하고 안전하게 공급하고자 항상 투자 및 인재양성을 위하여 아끼지 않는 투자를 하고 있습니다.
            </p>
            <p class="guide-sub-deep --small">
              그리고 저희 칼라미에서는 맞춤형 출판을 실현하고자 PDF의 DRM SERVER ENCRYPTION 서버 등을 이용하여 고객님의 PDF 데이터를 안전하게 보관 및 유통시킬 수 있는 보안 솔루션으로 맞춤형 출판시장을
              실현하고 있으며, 접수부터 인쇄, 제본, 납품 등 ONE-STOP SERVICE로 온라인의 질좋은 서비스를 느낄 수 있겠으며, 인쇄의 새로운 혁신을 저희 칼라미에서 같이 하기를 고대하는 바입니다.
            </p>
            <p class="guide-sub-deep --small">
              앞으로도 고객님의 요구보다 앞서가는 서비스와 끝없는 투자와 신기술 개발로 차별화된 서비스를 칼라미가 선도해 나가겠습니다.
            </p>
            <p class="guide-sub-deep --small">
              감사합니다.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}