{% extends "layouts/base.njk" %}
{% set title = "이용후기" %}
{% block content %}
  <div class="modal --full --large">
    <div class="modal-wrap">
      <div class="modal-header">
        <h5 class="modal-title">이용후기</h5>
      </div>
      <div class="modal-container">
        <div class="product-order">
          <div class="product-option item">
            <div class="product-wrap --order-info">
              <div class="product-inner-item">
                <div class="product-img">
                  <img src="/resources/fe/img/product/A001-01.jpg" alt="상품이미지"/>
                </div>
                <div class="product-info">
                  <p class="product-name">상품명</p>
                  <div class="product-text">
                    <p class="text">기본정보가 노출되는 줄입니다.</p>
                    <p class="text">제목 및 내용이 노출되는 줄입니다.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="product-option">
            <!-- 평점 -->
            <div class="rating-wrap --large">
              <span class="title">평점</span>
              <div class="rating-wrap">
                <p class="rating-container">
                  <span class="rating-num" style="width: 60%;"></span>
                </p>
              </div>
            </div>
            <!-- 첨부 이미지 -->
            <div class="product-review-photo --write">
              <ul>
                <li>
                  <p class="item">
                    <img src="/resources/fe/img/product/A001-02.jpg" alt="포토리뷰 이미지"/>
                    <strong class="badge">대표</strong>
                  </p>
                </li>
                <li>
                  <p class="item">
                    <img src="/resources/fe/img/product/A001-02.jpg" alt="포토리뷰 이미지"/>
                  </p>
                </li>
              </ul>
            </div>
            <!-- 작성글 -->
            <div class="text-content">
              이용후기 작성글
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="btn-wrap confirm">
          <button type="button" class="btn-outline --medium">
            <span>삭제</span>
          </button>
          <button type="button" class="btn-primary --medium">
            <span>등록</span>
          </button>
        </div>
      </div>
      <div class="btn-wrap close">
        <button type="button" class="btn-close">
          <i>닫기</i>
        </button>
      </div>
    </div>
  </div>
{% endblock %}