<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no, email=no, address=no. date=no"/>
    <title>{{ title }} | {{ siteName }}</title>
    <link rel="stylesheet" href="/resources/fe/css/styles.css"/>
  </head>
  <body>
    <div class="error-box --error">
      <div class="text-box">
        <p class="guide-basic --large-bold">서비스 이용에 불편을 드려 죄송합니다.</p>
        <p class="guide-basic">본 쇼핑몰은 Internet Explorer 브라우저를 지원하지 않습니다.</p>
        <p class="guide-basic">최신 브라우저 (Chrome, Firefox, Safari, Edge 등)를 사용하여 쇼핑몰을 이용해 주세요.</p>
      </div>
    </div>
    <div class="error-box --error-404">
      <div class="text-box">
        <p class="guide-basic --large-bold">페이지를 찾을 수 없습니다.</p>
        <p class="guide-basic">입력하신 주소가 맞는지 다시 한번 확인해주세요.</p>
      </div>
      <div class="btn-wrap">
        <a href="/" class="btn-round">
          <span>이전페이지</span>
        </a>
        <a href="/" class="btn-round icon">
          <span>메인으로</span>
        </a>
      </div>
    </div>
    <div class="error-box --error-403">
      <div class="text-box">
        <p class="guide-basic --large-bold">접근 권한이 없습니다.</p>
        <p class="guide-basic">요청하신 페이지 접근 권한이 없습니다.</p>
        <p class="guide-basic">입력하신 페이지에 주소가 정확한지 다시 한번 확인해주세요.</p>
      </div>
      <div class="btn-wrap">
        <a href="/" class="btn-round icon">
          <span>메인으로</span>
        </a>
      </div>
    </div>
    <div class="error-box --error-500">
      <div class="text-box">
        <p class="guide-basic --large-bold">서비스 이용에 불편을 드려 죄송합니다.</p>
        <p class="guide-basic">시스템 에러가 발생하여 페이지를 표시할 수 없습니다.</p>
        <p class="guide-basic">관리자에게 문의하시거나 잠시 후 다시 시도해주세요.</p>
      </div>
      <div class="btn-wrap">
        <a href="/" class="btn-round icon">
          <span>메인으로</span>
        </a>
      </div>
    </div>
    <div class="error-box --error-503">
      <div class="text-box">
        <p class="guide-basic --large-bold">서비스 이용에 불편을 드려 죄송합니다.</p>
        <p class="guide-basic">서버 처리중 에러가 발생했습니다.</p>
        <p class="guide-basic">잠시 후 다시 시도해주세요.</p>
      </div>
      <div class="btn-wrap">
        <a href="/" class="btn-round icon">
          <span>메인으로</span>
        </a>
      </div>
    </div>
  </body>
</html>