{% extends "layouts/base.njk" %}
{% block content %}
    <style>
        .worksheet {
            padding: 20px;
        }
        table {
            table-fixed: layout;
            width: 100%;
        }
        th,
        td {
            border: 1px solid #ccc;
            padding: 8px 12px;
        }
        th {
            background: #ececec;
        }
        td {}
    </style>
    <div class="worksheet">
        <h1>SiteInfo</h1>
        <table>
            <tr>
                <th>
                    Type
                </th>
                <th>1depth</th>
                <th>2depth</th>
                <th>3depth</th>
                <th>url</th>
                <th>status</th>
                <th>comments</th>
            </tr>
            <tr>
                <td colspan='4'>
                    designSystem
                </td>
                <td>
                    <a href='./designGuide.html'>pages/designGuide.html</a>
                </td>
                <td>작성중</td>
                <td></td>
            </tr>
            <tr>
                <td colspan='4'>
                    code snippets
                </td>
                <td>
                    <a href='./snippets.html'>pages/snippets.html</a>
                </td>
                <td>작성중</td>
                <td></td>
            </tr>
            <tr>
                <td colspan='4'>
                    main
                </td>
                <td>
                    <a href='./main.html'>pages/main.html</a>
                </td>
                <td>작성중</td>
                <td></td>
            </tr>
            <tr>
                <td colspan='4'>
                    메모장
                </td>
                <td>
                    <a href='./PD055S.html'>pages/PD055S.html</a>
                </td>
                <td>작성중</td>
                <td></td>
            </tr>
            <tr>
                <td colspan='4'>
                    무선제본
                </td>
                <td>
                    <a href='./PD001S.html'>pages/PD001S.html</a>
                </td>
                <td>작성중</td>
                <td></td>
            </tr>
            <tr>
                <td colspan='4'>
                    장바구니
                </td>
                <td>
                    <a href='./CA001S.html'>pages/CA001S.html</a>
                </td>
                <td>작성중</td>
                <td></td>
            </tr>
            <tr>
                <td colspan='4'>
                    옵션변경 (레이어팝업)
                </td>
                <td>
                    <a href='./CA901P.html'>pages/CA901P.html</a>
                </td>
                <td>작성중</td>
                <td></td>
            </tr>
            <tr>
                <td colspan='4'>
                    주문/결제
                </td>
                <td>
                    <a href='./OD001S.html'>pages/OD001S.html</a>
                </td>
                <td>작성중</td>
                <td></td>
            </tr>
        </table>
    </div>
    <script src="/js/colormi-ui.js"></script>
{% endblock %}