{% extends "layouts/base.njk" %}
{% block content %}
    <style>
        .worksheet {
            padding: 20px;
        }
        table {
            table-fixed: layout;
            width: 100%;
        }
        th {
            padding: 14px 16px;
            border-bottom: 1px solid #4c4c4c;
            background: #f4f5f6;
        }
        td {
            border-bottom: 1px solid #d6d6d6;
            padding: 14px 16px;
        }
        td:nth-child(6) {
            text-align: center;
        }
    </style>
    <div class="worksheet">
        <h1>SiteInfo</h1>
        <table>
            <colgroup>
                <col style="width: 10%;"/>
                <col span="3" style="width: 13%;"/>
                <col style="width: ;"/>
                <col style="width: 10%;"/>
                <col style="width: 15%;"/>
            </colgroup>
            <tr>
                <th>Type</th>
                <th>1depth</th>
                <th>2depth</th>
                <th>3depth</th>
                <th>url</th>
                <th>status</th>
                <th>comments</th>
            </tr>
            <tr>
                <td colspan='4'>designSystem</td>
                <td>
                    <a href='./designGuide.html'>pages/designGuide.html</a>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan='4'>code snippets</td>
                <td>
                    <a href='./snippets.html'>pages/snippets.html</a>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>main</td>
                <td></td>
                <td></td>
                <td>
                    <a href='./main.html'>pages/main.html</a>
                </td>
                <td>작성중</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>제품</td>
                <td></td>
                <td>메모장</td>
                <td>
                    <a href='./PD055S.html'>pages/PD055S.html</a>
                </td>
                <td>완료</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>무선제본</td>
                <td>
                    <a href='./PD001S.html'>pages/PD001S.html</a>
                </td>
                <td>작성중</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>낱장인쇄(제본없이)</td>
                <td>
                    <a href='./PD014S.html'>pages/PD014S.html</a>
                </td>
                <td>작성중</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>장바구니</td>
                <td>리스트</td>
                <td></td>
                <td>
                    <a href='./CA001S.html'>pages/CA001S.html</a>
                </td>
                <td>완료</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>옵션변경</td>
                <td>
                    <a href='./CA901P.html'>pages/CA901P.html</a>
                </td>
                <td>완료</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>주문/결제</td>
                <td></td>
                <td></td>
                <td>
                    <a href='./OD001S.html'>pages/OD001S.html</a>
                </td>
                <td>완료</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>배송지 변경</td>
                <td>
                    <a href='./OD100P.html'>pages/OD100P.html</a>
                </td>
                <td>완료</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>주문 완료</td>
                <td></td>
                <td>
                    <a href='./OD002S.html'>pages/OD002S.html</a>
                </td>
                <td>완료</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>로그인</td>
                <td></td>
                <td>
                    <a href='./MB002S.html'>pages/MB002S.html</a>
                </td>
                <td>완료</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>로그인</td>
                <td></td>
                <td>
                    <a href='./MB002P.html'>pages/MB002P.html</a>
                </td>
                <td>작성중</td>
                <td></td>
            </tr>
        </table>
    </div>
    <script src="/js/colormi-ui.js"></script>
{% endblock %}