{% extends "layouts/base.njk" %}
{% set title = "loadingSpinner" %}
{% block content %}
  <!-- 일부 적용 시 -->
  <div class="loading-box">
    <div style="width: 300px; height: 100px;"></div>
    <div
      class="loading-item --active">
      <!-- // 실행 시 --active 추가 -->
      <div class="loadingSpinner spinner"></div>
    </div>
  </div>
  <!-- 전체 적용 시 -->
  <div
    class="loading-item --active">
    <!-- // 실행 시 --active 추가 -->
    <div class="loadingSpinner spinner"></div>
  </div>
{% endblock %}