{% extends "layouts/base.njk" %}
{% set title = "메인" %}
{% block content %}
  <div class="main-wrap">
    <div class="main-banner-wrap">
      {% include "components/swiperMain.njk" %}
    </div>
    <div class="content">
      <div class="content-box">
        <div class="main-product-wrap">
          <div class="list">
            <div class="item">
              <div class="product-img">
                <img src="/resources/fe/img/product/A001_thum_1.jpg" alt="상품 이미지"/>
              </div>
              <div class="product-info">
                <div class="badge-wrap">
                  <span class="badge line-display-1">묶음배송불가</span>
                  <span class="badge line-display-3 recommend">MD추천</span>
                  <span class="badge line-display-4 new">신상품</span>
                </div>
                <div class="product-title">
                  <p class="product-discount">30%</p>
                  <p class="product-name">상품명</p>
                </div>
                <div class="product-text">
                  <p class="text">1,870원 ~</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-box">
        <h4 class="img-title-event">
          <img src="/resources/fe/img//img/img-main-title-event.png" alt="칼라미에서 준비한 이벤트 확인해보세요!"/>
        </h4>
        <div class="box-list --large">
          <div class="item">
            <a href="" class="event">
              <div class="event-img">
                <img src="/resources/fe/img/temp/pc-event-studyBn.png" alt="이벤트 이미지"/>
              </div>
              <p class="guide-basic">스터디플래너 40% 할인받고, 100일 목표 달성하기!</p>
              <p class="guide-basic-title">2025.03.06~2025.04.05</p>
            </a>
          </div>
          <div class="item">
            <div href="" class="event">
              <div class="event-img">
                <img src="/resources/fe/img/temp/pc-event-studyBn.png" alt="이벤트 이미지"/>
              </div>
              <p class="guide-basic">스터디플래너 40% 할인받고, 100일 목표 달성하기!</p>
              <p class="guide-basic-title">2025.03.06~2025.04.05</p>
            </div>
          </div>
        </div>
        <div class="btn-wrap">
          <button type="button" class="btn-round icon">
            <span>더보기</span>
          </button>
        </div>
      </div>
    </div>
    <div class="content-box product-review-wrap --best">
      <div class="title-review-wrap">
        <h4 class="title-review">이용후기
          <span>TOP10</span>
        </h4>
        <p class="img-title-review">
          <img src="/resources/fe/img/img/img-title-review.png" alt="좌·우 이동하며 베스트후기 확인!"/>
        </p>
      </div>
      <div class="product-review-wrap">
        {% include "components/swiperReview.njk" %}
      </div>
    </div>
    <div class="content-box">
      <div class="title-blog-wrap">
        <h4 class="title-blog">printing content</h4>
      </div>
      <div class="blog-list-wrap">
        {% include "components/swiperBlog.njk" %}
      </div>
    </div>
    <div class="content-box util-menu-list-wrap">
      <ul class="util-menu-list">
        <li class="item --quote">
          <a href="">
            <span>견적문의</span>
          </a>
        </li>
        <li class="item --guide">
          <a href="">
            <span>작업가이드</span>
          </a>
        </li>
        <li class="item --delivery">
          <a href="">
            <span>출고안내</span>
          </a>
        </li>
        <li class="item --faq">
          <a href="">
            <span>FAQ</span>
          </a>
        </li>
        <li class="item --location">
          <a href="">
            <span>오시는 길</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="floting-nav">
      <button type="button" class="btn-talk-contact">
        <i class="icon"></i>
        <span>카톡상담</span>
      </button>
      <button type="button" class="btn-top">
        <i class="top">위로</i>
      </button>
    </div>
  </div>
{% endblock %}