{% extends "layouts/base.njk" %}
{% set title = "메인" %}
{% block content %}
  <link rel="stylesheet" href="/css/swiper-bundle.min.css"/>
  <script src="/js/swiper-bundle.min.js"></script>
  <div class="main-wrap">
    <div class="main-banner-wrap">
      {% include "components/mainSwiper.njk" %}
    </div>
    <div class="content">
      <div class="floting-nav">
        <button type="button" class="btn-talk-contact">
          <i class="icon"></i>
          <span>카톡상담</span>
        </button>
        <button type="button" class="btn-top">
          <i class="top">위로</i>
        </button>
      </div>
    </div>
  </div>
{% endblock %}