{% extends "layouts/base.njk" %}
{% set title = "로그인" %}
{% block content %}
  <div class="content">
    <div class="login-wrap">
      <div class="page-title">
        <h3>선명한 컬러와 빠른 제작<br/><em>지금 로그인하면 바로 완성됩니다.</em>
        </h3>
      </div>
      <!-- 로그인 id/password -->
      <section class="content-box">
        <div class="form-field">
          <div class="form-wrap">
            <input type="text" placeholder="아이디"/>
            <div class="util">
              <button type="button" class="btn-del">
                <i>삭제</i>
              </button>
            </div>
          </div>
          <div class="form-wrap">
            <input type="password" placeholder="비밀번호"/>
            <div class="util">
              <button type="button" class="btn-del">
                <i>삭제</i>
              </button>
              <button type="button" class="btn-visible on"><!-- // 클릭 시 on/off 클래스 변경 -->
                <i>보기</i>
              </button>
            </div>
          </div>
        </div>
        <div class="btn-wrap vertical">
          <button type="button" class="btn-black --medium">
            <span>로그인</span>
          </button>
        </div>
        <div class="util-wrap">
          <div class="checkbox-wrap">
            <label class="checkbox" for="check-1-1">
              <input type="checkbox" id="check-1-1"/>
              <span class="checkbox-icon"></span>
              <span class="checkbox-label">아이디저장</span>
            </label>
          </div>
          <div class="util">
            <button type="button" class="btn-link --small">
              <span>아이디 찾기</span>
            </button>
            <button type="button" class="btn-link --small">
              <span>비밀번호 찾기</span>
            </button>
          </div>
        </div>
      </section>
      <section class="content-box">
        <div class="sns-login">
          <p>SNS 계정으로 간편하게 이용하기</p>
          <div class="item-list">
            <button type="button" class="btn-sns --naver">
              <span>네이버</span>
            </button>
            <button type="button" class="btn-sns --kakao">
              <span>카카오</span>
            </button>
            <button type="button" class="btn-sns --google">
              <span>구글</span>
            </button>
          </div>
        </div>
      </section>
      <div class="btn-wrap vertical">
        <p class="guide-sub-deep --small">아직 칼라미 회원이 아니신가요?</p>
        <button type="button" class="btn-primary --medium">
          <span>회원가입</span>
        </button>
        <button type="button" class="btn-outline --medium">
          <span>비회원 주문조회</span>
        </button>
      </div>
    </div>
  </div>
{% endblock %}