{% extends "layouts/base.njk" %}
{% set title = "아이디 찾기 완료" %}
{% block content %}
  <div class="content">
    <div class="login-wrap">
      <div class="page-title">
        <h3>아이디 찾기 완료</h3>
      </div>
      <section class="content-box">
        <div class="desc-box gray-light-box --receipt">
          <p class="guide-basic">
            회원님의 칼라미 아이디는<br/>
            <span class="guide-basic-title">회원아이디</span>
            입니다.
          </p>
        </div>
      </section>
      <div class="btn-wrap confirm --default">
        <button type="button" class="btn-primary --medium">
          <span>로그인하기</span>
        </button>
      </div>
    </div>
  </div>
{% endblock %}