{% extends "layouts/base.njk" %}
{% set title = "회원정보수정" %}
{% block content %}
  <div class="content">
    <div class="form-list-wrap">
      <div class="page-title">
        <h3>회원정보수정</h3>
        <p class="guide-sub-deep --small">비밀번호를 수정 하시려면 비밀번호와 비밀번호 확인을 입력 하시기 바랍니다.</p>
      </div>
      <section class="content-box">
        <div class="product-order">
          <div class="title-wrap --right">
            <strong class="desc-guide required">표시는 필수입력 항목 이오니 반드시 입력해 주세요.</strong>
          </div>
          <div class="product-option">
            <dl class="column-item">
              <dt class="required">이름</dt>
              <dd>
                <div
                  class="form-field --error">
                  <!-- // .error 추가 -->
                  <input type="text" placeholder="Placeholder"/>
                  <p class="description">error text</p>
                  <!-- // 에러메세지 -->
                </div>
              </dd>
            </dl>
            <dl class="column-item">
              <dt class="required">아이디</dt>
              <dd>
                <div class="form-field">
                  <input type="text" placeholder="Placeholder"/>
                </div>
              </dd>
            </dl>
            <dl class="column-item">
              <dt>비밀번호</dt>
              <dd>
                <div class="form-field">
                  <div class="form-wrap">
                    <input type="password" placeholder="비밀번호를 입력해 주세요"/>
                    <div class="util">
                      <button
                        type="button" class="btn-visible on">
                        <!-- // 클릭 시 on/off 클래스 변경 -->
                        <i>보기</i>
                      </button>
                    </div>
                  </div>
                  <div class="desc-unit">
                    <p class="description">영문</p>
                    <p class="description --error">숫자</p>
                    <p class="description --success">특수문자</p>
                    <p class="description --error">8-16자</p>
                    <!-- // 입력 전 .description (전체 디폴트 컬러) / 입력 후 조건 맞지 않으면 추가 .--error / 입력 후 조건 맞으면 변경 .--success -->
                  </div>
                </div>
              </dd>
            </dl>
            <dl class="column-item">
              <dt>비밀번호 확인</dt>
              <dd>
                <div class="form-field">
                  <div class="form-wrap">
                    <input type="password" placeholder="비밀번호를 한번 더 입력해 주세요"/>
                    <div class="util">
                      <button
                        type="button" class="btn-visible on">
                        <!-- // 클릭 시 on/off 클래스 변경 -->
                        <i>보기</i>
                      </button>
                    </div>
                  </div>
                </div>
              </dd>
            </dl>
            <dl class="column-item">
              <dt class="required">이메일</dt>
              <dd>
                <div class="form-field">
                  <input type="email" placeholder="Placeholder"/>
                </div>
              </dd>
            </dl>
            <dl class="column-item">
              <dt class="required">휴대폰번호</dt>
              <dd>
                <div class="form-field">
                  <input type="tel" placeholder="휴대폰번호"/>
                </div>
              </dd>
            </dl>
            <dl class="column-item row-span-3">
              <dt class="required">주소</dt>
              <dd>
                <div class="form-field address">
                  <p class="address-item">
                    <input type="text" placeholder="Placeholder"/>
                    <button type="button" class="btn-outline --small">
                      <span>우편번호 검색</span>
                    </button>
                  </p>
                  <input type="text" placeholder="Placeholder"/>
                  <input type="text" placeholder="Placeholder"/>
                </div>
              </dd>
            </dl>
            <dl class="column-item">
              <dt>연락처</dt>
              <dd>
                <div class="form-field">
                  <input type="tel" placeholder="연락처"/>
                </div>
              </dd>
            </dl>
            <dl class="column-item">
              <dt>통장사본</dt>
              <dd>
                <div class="form-field">
                  <div class="form-wrap file">
                    <label class="btn-primary --small">
                      <input type="file"/>
                      <span>파일첨부</span>
                    </label>
                    <span class="guide-sub">선택한 파일이 없습니다.</span>
                    <!-- // 파일 선택 후 : 안내문구 > 파일명으로 텍스트 대치 -->
                    <!-- 파일 선택 후 : 삭제 버튼 사용 -->
                    <button type="button" class="btn-del">
                      <i class="delete">삭제</i>
                    </button>
                    <!-- // 파일 선택 후 : 삭제 버튼 사용 -->
                  </div>
                </div>
              </dd>
            </dl>
          </div>
        </div>
      </section>
      <section class="content-box">
        <div class="product-order">
          <div class="title-wrap">
            <h5>마케팅 정보 수신 동의</h5>
          </div>
          <div class="product-option columns-1">
            <dl class="column-item">
              <dd>
                <div class="checkbox-wrap">
                  <label class="checkbox" for="checkbox-1-1">
                    <input type="checkbox" id="checkbox-1-1"/>
                    <span class="checkbox-icon"></span>
                    <span class="checkbox-label">SMS</span>
                  </label>
                  <label class="checkbox" for="checkbox-1-2">
                    <input type="checkbox" id="checkbox-1-2"/>
                    <span class="checkbox-icon"></span>
                    <span class="checkbox-label">이메일</span>
                  </label>
                  <label class="checkbox" for="checkbox-1-3">
                    <input type="checkbox" id="checkbox-1-3"/>
                    <span class="checkbox-icon"></span>
                    <span class="checkbox-label">수신거부</span>
                  </label>
                </div>
              </dd>
            </dl>
          </div>
        </div>
      </section>
      <div class="btn-wrap confirm">
        <button type="button" class="btn-outline --medium">
          <span>취소</span>
        </button>
        <button type="button" class="btn-primary --medium">
          <span>정보수정</span>
        </button>
      </div>
    </div>
  </div>
{% endblock %}