{% extends "layouts/base.njk" %}
{% set title = "회원정보수정" %}
{% block content %}
  {% include "components/sideNavMypage.njk" %}
  <div class="content">
    <div class="page-title">
      <h3>회원정보수정</h3>
    </div>
    <div class="form-list-wrap --small">
      <div class="text-wrap">
        <p class="guide-basic --bold">비밀번호 확인</p>
        <p class="guide-sub-deep --small">
          고객님의 안전한 정보보호를 위하여 비밀번호를 다시 한번 확인합니다.<br/>비밀번호가 타인에게 노출되지 않도록 주의하여 주세요.
        </p>
      </div>
      <section class="content-box">
        <div class="form-field">
          <div class="form-wrap">
            <input type="text" placeholder="비밀번호"/>
            <div class="util">
              <button type="button" class="btn-del">
                <i>삭제</i>
              </button>
            </div>
          </div>
        </div>
      </section>
      <div class="btn-wrap confirm">
        <button type="button" class="btn-outline --medium">
          <span>취소</span>
        </button>
        <button type="button" class="btn-primary --medium">
          <span>확인</span>
        </button>
      </div>
    </div>
  </div>
{% endblock %}