{% extends "layouts/base.njk" %}
{% set title = "아이디 찾기" %}
{% block content %}
  <div class="content">
    <div class="login-wrap">
      <div class="page-title">
        <h3>아이디 찾기</h3>
        <p class="guide-sub-deep --small">본인 인증을 통해 아이디를 쉽게 확인하세요!</p>
      </div>
      <section class="content-box">
        <div class="form-field">
          <div class="form-wrap">
            <input type="text" placeholder="이름"/>
            <div class="util">
              <button type="button" class="btn-del">
                <i>삭제</i>
              </button>
            </div>
          </div>
          <div class="form-inner button-option">
            <input type="tel" placeholder="휴대폰번호"/>
            <button type="button" class="btn-black --small">
              <span>인증번호 발송</span>
            </button>
          </div>
        </div>
        <div
          class="form-field --add-cert">
          <!-- 인증번호 입력 -->
          <div class="form-inner button-option">
            <div class="form-wrap">
              <input type="text" placeholder="인증번호 숫자 입력"/>
              <span class="time">2:00</span>
            </div>
            <button type="button" class="btn-primary --small">
              <span>인증하기</span>
            </button>
          </div>
          <!-- 인증 완료 -->
          <div class="inner-wrap">
            <p class="guide-basic">
              <span class="icon-check"></span>인증 완료되었습니다.
            </p>
          </div>
        </div>
      </section>
      <section class="content-box">
        <div class="util-wrap --right">
          <div class="util">
            <button type="button" class="btn-link --small">
              <span>비밀번호찾기</span>
            </button>
          </div>
        </div>
      </section>
    </div>
  </div>
{% endblock %}