{% import "components/subMain.njk" as subMain %}
{% extends "layouts/base.njk" %}
{% set title = "전체상품" %}
{% block content %}
  <div class="top-img-wrap">
    <img src="/resources/fe/img/img/img-top-product.png" alt="전체상품"/>
  </div>
  <div class="content">
    <div class="page-title">
      <h3>전체상품</h3>
    </div>
    {% set keys = [
      "menuData001","menuData002","menuData003","menuData004",
      "menuData005","menuData006","menuData007","menuData008",
      "menuData009","menuData010","menuData011"
    ] %}
    {% for key in keys %}
      {% set arr = menuData[key] %}
      {% if arr %}
        {{ subMain.renderMenuList(arr) }}
      {% endif %}
    {% endfor %}
  </div>
  <div class="floting-nav">
    <button type="button" class="btn-talk-contact">
      <i class="icon"></i>
      <span>카톡상담</span>
    </button>
    <button type="button" class="btn-top">
      <i class="top">위로</i>
    </button>
  </div>
{% endblock %}