{% extends "layouts/base.njk" %}
{% set title = "주문·결제" %}
{% block content %}
  <div class="content">
    <div class="step-wrap">
      <ol class="step-status">
        <li>
          <p class="item">
            <i class="item-number"></i>
            <strong>장바구니</strong>
          </p>
        </li>
        <li class="current">
          <p class="item">
            <i class="item-number"></i>
            <strong>주문·결제</strong>
          </p>
        </li>
        <li>
          <p class="item">
            <i class="item-number"></i>
            <strong>주문완료</strong>
          </p>
        </li>
      </ol>
    </div>
    <div class="page-title">
      <h3>주문·결제</h3>
    </div>
    <section
      class="content-box">
      <!-- 장바구니 목록 :선택 목록 -->
      <div class="table-list">
        <div class="list-item-wrap --header">
          <div class="list-item">
            <div class="item --product">
              <p>상품명</p>
            </div>
            <div class="item --quantity">
              <p>수량</p>
            </div>
            <div class="item --amount">
              <p>주문금액</p>
            </div>
            <div class="item --delivery">
              <p>배송안내</p>
            </div>
            <div class="item --delivery-fee">
              <p>배송비</p>
            </div>
          </div>
        </div>
        <!-- // list header -->
        <div class="list-item-wrap --body">
          <div class="list-item">
            <div class="item --product" data-label="상품명">
              <div class="product-wrap">
                <div class="product-inner-item">
                  <div class="product-img"><img src="https://www.colormi.co.kr/resources/fe/img/productDetail/memopad_24_05.jpg" alt="상품이미지"/>
                  </div>
                  <div class="product-info">
                    <div class="badge-wrap">
                      <span class="badge line-display-4 new">신상품</span>
                    </div>
                    <p class="product-name">상품명</p>
                    <div class="product-text">
                      <p class="text">기본정보가 노출되는 줄입니다.</p>
                      <p class="text">제목 및 내용이 노출되는 줄입니다.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item --quantity" data-label="수량">
              <div class="item-inner">
                <p>
                  <span>1</span>건
                </p>
              </div>
            </div>
            <div class="item --amount" data-label="주문금액">
              <div class="item-inner">
                <p>
                  <span>100,000,000</span>원
                </p>
              </div>
            </div>
            <div class="item --delivery" data-label="배송안내">
              <div class="item-inner">
                <div class="form-field">
                  <div class="form-wrap select">
                    <select class="btn-select">
                      <option>선불택배</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="item --delivery-fee" data-label="배송비">
              <div class="item-inner">
                <p>
                  <span>3,000</span>원
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- // list body -->
      </div>
    </section>
    <section class="content-box">
      <div class="product-order-wrap">
        <div
          class="product-order">
          <!-- 주문자 정보 -->
          <div class="title-wrap">
            <h5>주문자 정보</h5>
          </div>
          <dl class="product-option">
            <dt>이름</dt>
            <dd>
              <div class="form-field">
                <input type="text" placeholder="Placeholder"/>
              </div>
            </dd>
            <dt>회사</dt>
            <dd>
              <div class="form-field">
                <input type="text" placeholder="Placeholder"/>
              </div>
            </dd>
            <dt>휴대폰번호</dt>
            <dd>
              <div class="form-field">
                <input type="number" placeholder="Placeholder"/>
              </div>
            </dd>
            <dt>이메일</dt>
            <dd>
              <div class="form-field">
                <input type="email" placeholder="Placeholder"/>
              </div>
            </dd>
          </dl>
          <!-- 쿠폰 할인 -->
          <div class="title-wrap">
            <h5>쿠폰 할인</h5>
          </div>
          <dl class="product-option">
            <dt>쿠폰 선택</dt>
            <dd>
              <div class="form-field">
                <div class="form-wrap select">
                  <select class="btn-select">
                    <option>쿠폰을 선택해주세요.</option>
                  </select>
                </div>
                <p class="description --primary">- 1,200원 할인</p>
              </div>
            </dd>
          </dl>
        </div>
        <!-- 배송지 정보 -->
        <div class="product-order">
          <div class="title-wrap">
            <h5 class="required">배송지 정보</h5>
            <strong class="desc-guide required">표시는 필수입력 항목 이오니 반드시 입력해 주세요</strong>
          </div>
          <dl class="product-option columns-1">
            <dd>
              <div class="form-field">
                <div class="form-inner button-option">
                  <div class="desc-box border-box --small">
                    <div class="radio-wrap">
                      <label class="radio" for="radio-0-1">
                        <input type="radio" id="radio-0-1" name="radio-0" checked="checked">
                        <span class="radio-icon"></span>
                        <span class="radio-label">홍길동(기본배송지)</span>
                      </label>
                      <label class="radio" for="radio-0-2">
                        <input type="radio" id="radio-0-2" name="radio-0">
                        <span class="radio-icon"></span>
                        <span class="radio-label">김지아</span>
                      </label>
                      <label class="radio" for="radio-0-3">
                        <input type="radio" id="radio-0-3" name="radio-0">
                        <span class="radio-icon"></span>
                        <span class="radio-label">김초롱이</span>
                      </label>
                    </div>
                  </div>
                  <button type="button" class="btn-primary --small">
                    <span>배송지 변경</span>
                  </button>
                </div>
              </div>
            </dd>
          </dl>
          <dl class="product-option">
            <dt class="required">수령인</dt>
            <dd>
              <div
                class="form-field --error">
                <!-- // .error 추가 -->
                <input type="text" placeholder="Placeholder"/>
                <p class="description">error text</p>
                <!-- // 에러메세지 -->
              </div>
            </dd>
            <dt class="required">연락처</dt>
            <dd>
              <div class="form-field">
                <input type="text" placeholder="Placeholder"/>
              </div>
            </dd>
            <dt class="required">주소</dt>
            <dd>
              <div class="form-field address">
                <p class="address-item">
                  <input type="text" placeholder="Placeholder"/>
                  <button type="button" class="btn-outline --small">
                    <span>우편번호 검색</span>
                  </button>
                </p>
                <input type="text" placeholder="Placeholder"/>
                <input type="text" placeholder="Placeholder"/>
              </div>
            </dd>
            <dt>배송메세지</dt>
            <dd>
              <div class="form-field">
                <div class="form-wrap select">
                  <select class="btn-select">
                    <option>선택안함</option>
                  </select>
                </div>
                <!-- checkbox -->
                <div class="checkbox-wrap">
                  <label class="checkbox" for="check-0-1">
                    <input type="checkbox" id="check-0-1"/>
                    <span class="checkbox-icon"></span>
                    <span class="checkbox-label">다음에도 동일한 메세지 사용하기</span>
                  </label>
                </div>
              </div>
            </dd>
          </dl>
        </div>
      </div>
    </section>
    <!-- 결제수단 -->
    <section class="content-box">
      <div class="product-order">
        <div class="title-wrap">
          <h5>결제수단</h5>
        </div>
        <dl class="product-option columns-1">
          <dd>
            <div class="radio-wrap">
              <label class="radio" for="radio-1-1">
                <input type="radio" id="radio-1-1" name="radio-1"/>
                <span class="radio-icon"></span>
                <span class="radio-label">신용카드</span>
              </label>
              <label class="radio" for="radio-1-2">
                <input type="radio" id="radio-1-2" name="radio-1"/>
                <span class="radio-icon"></span>
                <span class="radio-label">무통장입금 (전용계좌)</span>
              </label>
              <label class="radio" for="radio-1-3">
                <input type="radio" id="radio-1-3" name="radio-1"/>
                <span class="radio-icon"></span>
                <span class="radio-label">가상계좌</span>
              </label>
            </div>
          </dd>
        </dl>
        <!-- 무통장 입금 시 -->
        <div class="desc-box gray-light-box">
          <div class="item-box-wrap --center">
            <div class="item-box">
              <div class="item-box-inner">
                <p class="guide-basic --large-bold">국민은행 412701-01-227972</p>
                <p class="guide-sub --bold">빌포스트(주)</p>
              </div>
            </div>
            <div class="item-box">
              <div class="item-box-inner">
                <input type="text" placeholder="입금자명" value="입금자명"/>
                <ul class="guide-sub-deep --small --dot">
                  <li>입금은행/계좌번호/예금주를 미리 메모해 두시기 바랍니다.</li>
                  <li>무통장 입금 시 ‘신청자명’과 ‘입금자명’이 다를 경우 반드시 연락 주셔야 합니다.</li>
                  <li>무통장 입금 시 '입금'까지 완료하셔야 합니다.</li>
                </ul>
              </div>
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- 상품 금액 -->
    <section class="content-box">
      <div class="product-price-wrap --step --end">
        <div class="product-order-price">
          <dl class="product-price">
            <dt class="total">총 상품 금액</dt>
            <dd class="total">
              <strong>100,000,000</strong>원</dd>
          </dl>
          <span class="icon-plus">+</span>
          <dl class="product-price">
            <dt class="shipping">배송비</dt>
            <dd class="shipping">
              <strong>7,000</strong>원</dd>
          </dl>
          <span class="icon-minus">-</span>
          <dl class="product-price">
            <dt class="shipping">할인 금액</dt>
            <dd class="shipping">
              <strong>12,000</strong>원</dd>
          </dl>
          <span class="icon-sum">=</span>
          <dl class="product-price">
            <dt class="total-sum">총 결제 예정금액<span>(VAT포함가)</span>
            </dt>
            <dd class="total-sum">
              <strong>100,000,000</strong>원</dd>
          </dl>
        </div>
      </div>
    </section>
    <!-- 안내 -->
    <section class="content-box">
      <div class="desc-box">
        <p class="guide-basic-title">※ 꼭 확인하세요.</p>
        <ul class="guide-sub">
          <li>- 무통장입금은 입금이 확인된 후 작업을 진행합니다.</li>
          <li>- 주문 접수 후 컨펌(인쇄 전 최종 파일 확인 작업)이 진행된 이후에는 취소 처리가 불가능합니다.</li>
          <li>- 컨펌이 진행된 이후에도 취소할 경우 작업 비용(30,000원) 공제 후 환불 처리가 진행됩니다.</li>
          <li>- 취소 및 환불 관련 문의는 고객센터(02-2266-0671)로 문의해 주시기 바랍니다.</li>
          <li>- 환불계좌번호 오류 시 발생되는 문제에 대해서는 칼라로 미에서 책임지지 않습니다. 결제하기 전 고객님의 환불 계좌 번호를 다시 한번 확인해 주시기 바랍니다.</li>
        </ul>
      </div>
    </section>
    <section class="content-box">
      <div class="title-wrap">
        <p class="cont-title">인쇄/제작 동의</p>
      </div>
      <div class="desc-box border-box scroll-box">
        <p class="guide-sub-deep --small">[인쇄/제작]</p>
        <ul class="guide-sub-deep --small">
          <li>1. 모든 작업은 결제완료 후 진행됩니다. 무통장입금의 경우 입금이 확인된 후 진행됩니다.</li>
          <li>2. 동일한 데이터로 주문/접수 하셔도, PC 모니터와 실제 잉크의 색상차이로 인해 결과물의 차이가 있을 수 있습니다.</li>
          <li>3. 천재지변(정전, 기계고장, 데이터 오류, 연휴 배송사고, 택배배송사 과실)등 기타사유등으로 출고가 지연될 수 있습니다.</li>
          <li>4. 인쇄 작업 개시 후 데이터 수정은 불가하며, 부득이하게 공정을 중단하여 데이터를 수정할 시 모든 부담은 고객에게 있습니다.</li>
          <li>5. 특이사항이 없을 경우, 인쇄 작업은 결제완료 후 별도의 확인절차 없이 진행됩니다.</li>
          <li>6. 당사가 제공하는 최종 인쇄 데이터의 오탈자, 컨텐츠 오류 등에 대한 검수 책임은 고객에게 있으며, 제작 완료 후 발견된 오탈자 및 컨텐츠 오류 등의 인쇄사고에 대해서 당사는 일체의 책임을 지지 않습니다.</li>
          <li>7. 칼라미는 저작권(이미지, 디자인, 원고 등)과 서체(타입페이스, 폰트 등) 사용권의 법적 문제가 없는 데이터만 인쇄,제작하며 저작권 문제발생 시 당사는 일체의 책임을 지지 않습니다.</li>
          <li>8. 불법 성매매에 관한 인쇄제작물, 청소년 유해매체 인쇄물 등 국가기관의 심의 내용에 해당되는 인쇄물은 접수받지 않습니다. 임의로 주문된 불건전 유해매체물은 인쇄가 진행되더라도 자체 파기되며, 환불 및
            재작업 처리가 되지 않습니다.</li>
        </ul>
        <br/>
        <p class="guide-sub-deep --small">[편집디자인]</p>
        <p class="guide-sub-deep --small">칼라미의 편집디자인 서비스를 이용하신 고객의 경우,</p>
        <ul class="guide-sub-deep --small">
          <li>1. 디자인 원본 파일(ai, indd, psd 등)의 소유권은 칼라미에 있습니다.</li>
          <li>2. 원본파일은 고객에게 제공되지 않습니다.</li>
          <li>3. 최종 디자인은 칼라미의 포트폴리오, 예시로 활용될 수 있습니다.</li>
        </ul>
        <br/>
        <p class="guide-sub-deep --small">[교환/반품/환불]</p>
        <ul class="guide-sub-deep --small">
          <li>1. 칼라미의 상품은 주문제작 특성상 단순변심으로 인한 교환, 반품, 환불이 불가합니다.</li>
          <li>2. 부득이하게 주문을 취소해야하는 경우, 공정별 작업비를 공제한 후 환불처리 됩니다.</li>
          <li>3. 환불계좌번호의 오기입 시 발생되는 문제에 대해서는 당사는 책임지지 않습니다. 결제하기 전 환불계좌번호를 한번 더 확인해 주시기 바랍니다.</li>
        </ul>
        <br/>
        <p class="guide-sub-deep --small">위와 관련된 문의는 고객센터(02-2266-0671)로 연락주시기 바랍니다.</p>
      </div>
      <div class="checkbox-wrap">
        <label class="checkbox" for="check-1-1">
          <input type="checkbox" id="check-1-1"/>
          <span class="checkbox-icon"></span>
          <span class="checkbox-label">위의 내용을 확인하였으며, 동의합니다.</span>
        </label>
      </div>
    </section>
    <div class="btn-wrap confirm">
      <button type="button" class="btn-primary --medium">
        <span>결제하기</span>
      </button>
    </div>
  </div>
{% endblock %}