{% extends "layouts/base.njk" %}
{% set title = "무선제본" %}
{% block content %}
  {# A001 #}
  <div class="content">
    <nav class="breadcrumb">
      <ol>
        <li>
          <a href="/">카테고리</a>
        </li>
        <li>
          <a href="/">카테고리</a>
        </li>
        <li>
          <strong>무선제본</strong>
        </li>
      </ol>
    </nav>
    <section class="content-box">
      <div class="product-wrap">
        <div class="product-inner">
          {% set itemList = [
          { fileName: "A001-01.jpg", alt: "상품 이미지 1" },
          { fileName: "A001-02.jpg", alt: "상품 이미지 2" },
          { fileName: "A001-01.jpg", alt: "상품 이미지 1" },
          { fileName: "A001-02.jpg", alt: "상품 이미지 2" },
          { fileName: "A001-01.jpg", alt: "상품 이미지 1" },
          { fileName: "A001-02.jpg", alt: "상품 이미지 2" }
        ] %}
          {% include "components/productImage.njk" %}
          <div class="product-info">
            <div class="item">
              <div class="top-area">
                <div class="badge-wrap">
                  <span class="badge fill-display-2 --large">10% SALE</span>
                </div>
                <p class="product-name">상품명</p>
                <div class="btn-wrap layer-wrap">
                  <a href="" class="btn-share">공유하기</a>
                  <!-- 공유하기 레이어 -->
                  <div class="layer-item" style="display: none;">
                    <div class="layer-container">
                      <p class="title">공유하기</p>
                      <div class="sns-login --share">
                        <div class="item-list">
                          <button type="button" class="btn-sns --kakao">
                            <span>카카오톡</span>
                          </button>
                          <button type="button" class="btn-sns --facebook">
                            <span>페이스북</span>
                          </button>
                          <button type="button" class="btn-sns --instagram">
                            <span>인스타</span>
                          </button>
                          <button type="button" class="btn-sns --naver">
                            <span>블로그</span>
                          </button>
                        </div>
                      </div>
                      <div class="copy-link">
                        <div class="form-field --small">
                          <input type="text" class="--basic" value="https://www.colormi.co.kr/......" readonly="readonly"/>
                        </div>
                        <button type="button" class="btn-black --xsmall">
                          <span>복사</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rating-wrap">
                <p class="rating-container">
                  <em class="rating-num" style="width: 52%;"></em>
                </p>
                <strong class="text">5.2</strong>
              </div>
              <div class="badge-wrap">
                <span class="badge line-display-1">묶음배송불가</span>
                <span class="badge line-display-3 recommend">MD추천</span>
                <span class="badge line-display-4 new">신상품</span>
                <span class="badge line-display-4">시즌신상품</span>
                <span class="badge line-display-6">배송비무료</span>
                <span class="badge line-display-6">묶음배송가능</span>
                <span class="badge line-display-6 best">베스트</span>
                <span class="badge line-display-6">주간베스트</span>
                <span class="badge line-display-7 discount-1">폭풍할인</span>
                <span class="badge line-display-7 discount-2">즉시할인중</span>
                <span class="badge line-display-8">쿠폰할인불가</span>
                <span class="badge line-display-9">인기상품</span>
                <span class="badge line-display-9">최다판매</span>
                <span class="badge line-display-9">주문폭주</span>
                <span class="badge line-display-9">별도문의</span>
                <span class="badge fill-gray-dark">당일출고</span>
                <span class="badge fill-gray-dark">익일출고</span>
                <span class="badge fill-gray-dark">자체제작</span>
                <span class="badge fill-gray-dark">사은품증정</span>
              </div>
              <div class="product-text">
                <p class="text">기본정보가 노출되는 줄입니다.</p>
                <p class="text">표지 옵션이 노출되는 줄입니다.</p>
                <p class="text">내지 옵션이 노출되는 줄입니다.</p>
                <p class="text">간지5 / 면지5</p>
                <p class="text">간지5 / 면지5</p>
                <p class="text">제목 및 내용이 노출되는 줄입니다.</p>
              </div>
              <div class="desc-box tertiary-light-box --small">
                <div class="quote-wrap">
                  <div class="quote-title">
                    <p class="title">한눈에<strong>견적보기</strong>
                    </p>
                    <p class="description">공급가+부가세 포함</p>
                  </div>
                  <div class="quote-check">
                    <div class="checkbox-wrap">
                      <label
                        class="checkbox" for="check-1">
                        <!-- 나중에 적용 됨 <input type="checkbox" id="check-1"/> -->
                        <span class="checkbox-icon"></span>
                        <span class="checkbox-label">흑백</span>
                      </label>
                      <span class="price">
                        <em>100,000,000</em>원</span>
                    </div>
                    <div class="checkbox-wrap">
                      <label
                        class="checkbox" for="check-2">
                        <!-- 나중에 적용 됨 <input type="checkbox" id="check-2"/> -->
                        <span class="checkbox-icon"></span>
                        <span class="checkbox-label">인디고</span>
                      </label>
                      <span class="price">
                        <em>100,000,000</em>원</span>
                    </div>
                    <div class="checkbox-wrap">
                      <label
                        class="checkbox" for="check-3">
                        <!-- 나중에 적용 됨 <input type="checkbox" id="check-3"/> -->
                        <span class="checkbox-icon"></span>
                        <span class="checkbox-label">캐논IX</span>
                      </label>
                      <span class="price">
                        <em>100,000,000</em>원</span>
                    </div>
                  </div>
                </div>
                <!-- 나중에 적용 됨 <div class="btn-wrap"> <button type="button" class="btn-black --xsmall">
                    <span>적용</span>
                </button> </div> -->
              </div>
            </div>
            <div class="item">
              <dl class="product-price">
                <dt class="total-title">총 상품 금액</dt>
                <dd class="total-price">
                  <strong>100,000,000</strong>원</dd>
              </dl>
              <div class="btn-wrap --hide">
                <button type="button" class="btn-outline --medium">
                  <i>DM</i>
                </button>
                <button type="button" class="btn-outline --medium">
                  <span>장바구니</span>
                </button>
                <button type="button" class="btn-primary --medium">
                  <span>바로주문</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="content-box">
      <!-- 일반주문/간편주문 체크박스 -->
      <div class="util-wrap --right">
        <div class="toggle-wrap">
          <label class="toggle" for="toggle-0-1">
            <input type="checkbox" id="toggle-0-1" title="간편주문"/>
            <span class="toggle-switch"></span>
            <span class="toggle-label">간편주문</span>
          </label>
        </div>
      </div>
      <!-- 기본정보 -->
      <div class="product-order">
        <div class="title-wrap">
          <h5 class="required">기본정보</h5>
          <strong class="desc-guide required">표시는 필수입력 항목 이오니 반드시 입력해 주세요</strong>
        </div>
        <div class="product-option columns-4">
          <dl class="column-item row-span-3">
            <dt>사이즈</dt>
            <dd>
              <!-- 일반주문 옵션 -->
              <div class="radio-wrap option-item img-option">
                <label class="radio --a4" for="radio-0-1">
                  <input type="radio" id="radio-0-1" name="radio"/>
                  <span class="radio-img"></span>
                  <span class="radio-label">A4</span>
                </label>
                <label class="radio --a5" for="radio-0-2">
                  <input type="radio" id="radio-0-2" name="radio"/>
                  <span class="radio-img"></span>
                  <span class="radio-label">A5</span>
                </label>
                <label class="radio --b5" for="radio-0-3">
                  <input type="radio" id="radio-0-3" name="radio"/>
                  <span class="radio-img"></span>
                  <span class="radio-label">B5</span>
                </label>
                <label class="radio --none" for="radio-0-4">
                  <input type="radio" id="radio-0-4" name="radio"/>
                  <span class="radio-img"></span>
                  <span class="radio-label">비규격</span>
                </label>
              </div>
              <!-- // 일반주문 옵션 -->
              <!-- 간편주문 옵션 -->
              <div class="form-field">
                <div class="form-wrap select">
                  <select class="btn-select">
                    <option>A5</option>
                    <option>B5</option>
                    <option>A4</option>
                  </select>
                </div>
              </div>
              <!-- // 간편주문 옵션 -->
              <!-- 사이즈 옵션 -->
              <div class="--add-option">
                <div class="option-item">
                  <dl class="product-option">
                    <dt>재단사이즈</dt>
                    <!-- //사이즈 옵션 비규격 선택 시 클래스 추가 .--selected -->
                    <dd>
                      <div class="form-field">
                        <div class="form-option --selected">
                          <strong>가로</strong>
                          <input type="number" placeholder="Placeholder"/>
                          <span class="icon">
                            <i>X</i>
                          </span>
                          <strong>세로</strong>
                          <input type="number" placeholder="Placeholder"/>
                          <span>mm</span>
                        </div>
                      </div>
                    </dd>
                    <dt>작업사이즈</dt>
                    <dd>
                      <div class="form-field">
                        <div class="form-option">
                          <strong>가로</strong>
                          <input type="number" placeholder="Placeholder"/>
                          <span class="icon">
                            <i>X</i>
                          </span>
                          <strong>세로</strong>
                          <input type="number" placeholder="Placeholder"/>
                          <span>mm</span>
                        </div>
                      </div>
                    </dd>
                  </dl>
                </div>
              </div>
            </dd>
          </dl>
          <dl class="column-item">
            <dt>수량</dt>
            <dd>
              <div class="form-field">
                <div class="form-inner print-option">
                  <p class="option-form">
                    <input type="number" placeholder="Placeholder"/>
                    <span class="guide-basic">부</span>
                  </p>
                  <span class="guide-sub --small">총 인쇄페이지수
                    <em>120</em>
                    총 인쇄 장수
                    <em>110</em>
                  </span>
                </div>
              </div>
            </dd>
          </dl>
          <dl class="column-item">
            <dt>제본방향</dt>
            <dd>
              <div class="form-field">
                <div class="form-inner button-option">
                  <div class="form-wrap select">
                    <select class="btn-select">
                      <option>선택</option>
                    </select>
                  </div>
                  <button type="button" class="btn-primary --small">
                    <span>상세보기</span>
                  </button>
                </div>
              </div>
            </dd>
          </dl>
          <dl class="column-item">
            <dt>작업내용</dt>
            <dd>
              <div class="form-field textarea">
                <div class="form-wrap">
                  <textarea id="textarea" placeholder="상품에 대한 요청사항을 자세히 작성해주세요."></textarea>
                </div>
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <!-- 표지/내지 -->
      <div class="product-order-wrap">
        <div class="product-order">
          <div class="title-wrap">
            <h5 class="required">표지</h5>
          </div>
          <div class="product-option">
            <dl class="column-item">
              <dt>용지</dt>
              <dd>
                <div class="form-field">
                  <div class="form-inner multi-option">
                    <div class="form-wrap select">
                      <select class="btn-select">
                        <option>일반지</option>
                      </select>
                    </div>
                    <div class="form-wrap select">
                      <select class="btn-select">
                        <option>스노우지</option>
                      </select>
                    </div>
                    <div class="form-wrap select">
                      <select class="btn-select">
                        <option>150g</option>
                      </select>
                    </div>
                  </div>
                </div>
              </dd>
            </dl>
            <dl class="column-item">
              <dt>인쇄방법</dt>
              <dd>
                <div class="form-field">
                  <div class="form-inner multi-option">
                    <div class="form-wrap select">
                      <select class="btn-select">
                        <option>컬러</option>
                      </select>
                    </div>
                    <div class="form-wrap select">
                      <select class="btn-select">
                        <option>단면</option>
                      </select>
                    </div>
                    <div class="form-wrap select">
                      <select class="btn-select">
                        <option>캐논IX</option>
                      </select>
                    </div>
                  </div>
                </div>
              </dd>
            </dl>
            <!-- 일반주문 옵션 -->
            <dl class="column-item">
              <dt>후가공
                <span class="tooltip --info">
                  <i class="item">표지는 후가공비가 포함되어 있어요.</i>
                </span>
              </dt>
              <dd>
                <div class="form-field">
                  <div class="form-wrap select">
                    <select class="btn-select">
                      <option>사용여부 선택</option>
                      <option>사용</option>
                    </select>
                  </div>
                </div>
                <!-- 후가공 선택 시 -->
                <div class="--add-option">
                  <div class="checkbox-wrap option-item img-option">
                    <label class="checkbox" for="check-0-1">
                      <input
                      type="checkbox" id="check-0-1" disabled/>
                      <!-- 후가공 조건 미달 시 :disabled -->
                      <span class="checkbox-img --option-01">
                        <img
                        src="/resources/fe/img/img/img-checkbox-option-01.png" alt=""/>
                        <!-- // 후가공 조건 미달 시 안내 텍스트 -->
                        <em>180g이상 부터<br/>선택 가능</em>
                      </span>
                      <span class="checkbox-label">누름자국(오시)</span>
                    </label>
                    <label class="checkbox" for="check-0-2">
                      <input type="checkbox" id="check-0-2"/>
                      <span class="checkbox-img --option-02">
                        <img src="/resources/fe/img/img/img-checkbox-option-02.png" alt=""/>
                      </span>
                      <span class="checkbox-label">코팅</span>
                    </label>
                    <label class="checkbox" for="check-0-3">
                      <input type="checkbox" id="check-0-3"/>
                      <span class="checkbox-img --option-03">
                        <img src="/resources/fe/img/img/img-checkbox-option-03.png" alt=""/>
                      </span>
                      <span class="checkbox-label">에폭시</span>
                    </label>
                    <label class="checkbox" for="check-0-4">
                      <input type="checkbox" id="check-0-4"/>
                      <span class="checkbox-img --option-04">
                        <img src="/resources/fe/img/img/img-checkbox-option-04.png" alt=""/>
                      </span>
                      <span class="checkbox-label">박</span>
                    </label>
                    <label class="checkbox" for="check-0-5">
                      <input type="checkbox" id="check-0-5"/>
                      <span class="checkbox-img --option-05">
                        <img src="/resources/fe/img/img/img-checkbox-option-05.png" alt=""/>
                      </span>
                      <span class="checkbox-label">날개제본</span>
                    </label>
                    <label class="checkbox" for="check-0-6">
                      <input type="checkbox" id="check-0-6"/>
                      <span class="checkbox-img --option-06">
                        <img src="/resources/fe/img/img/img-checkbox-option-06.png" alt=""/>
                      </span>
                      <span class="checkbox-label">표지이어붙임</span>
                    </label>
                  </div>
                  <!-- 후가공 옵션-옵션 -->
                  <div class="option-item">
                    <div class="form-field">
                      <div class="form-wrap select">
                        <select class="btn-select">
                          <option>누름자국(오시) 횟수</option>
                        </select>
                      </div>
                      <div class="form-wrap select">
                        <select class="btn-select">
                          <option>코팅 종류</option>
                        </select>
                      </div>
                      <div class="form-wrap select">
                        <select class="btn-select">
                          <option>박 종류</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- // 후가공 선택 시 -->
              </dd>
            </dl>
            <!-- // 일반주문 옵션 -->
            <!-- 간편주문 옵션 -->
            <div class="product-option">
              <dl class="column-item">
                <dt>누름자국(오시)</dt>
                <dd>
                  <div class="form-field">
                    <div class="form-inner button-option">
                      <div class="form-wrap select">
                        <select class="btn-select" disabled="disabled">
                          <option>선택</option>
                        </select>
                      </div>
                      <button type="button" class="btn-primary --small">
                        <span>상세보기</span>
                      </button>
                    </div>
                    <p class="description">150g 이상부터 선택 가능합니다.</p>
                  </div>
                </dd>
              </dl>
              <dl class="column-item">
                <dt>코팅</dt>
                <dd>
                  <div class="form-field">
                    <div class="form-inner button-option">
                      <div class="form-wrap select">
                        <select class="btn-select" disabled="disabled">
                          <option>선택</option>
                        </select>
                      </div>
                      <button type="button" class="btn-primary --small">
                        <span>상세보기</span>
                      </button>
                    </div>
                    <p class="description">180g 이상부터 선택 가능합니다.</p>
                  </div>
                </dd>
              </dl>
              <dl class="column-item">
                <dt>에폭시</dt>
                <dd>
                  <div class="form-field">
                    <div class="form-inner button-option">
                      <div class="form-wrap select">
                        <select class="btn-select" disabled="disabled">
                          <option>선택</option>
                        </select>
                      </div>
                      <button type="button" class="btn-primary --small">
                        <span>상세보기</span>
                      </button>
                    </div>
                  </div>
                </dd>
              </dl>
              <dl class="column-item">
                <dt>박</dt>
                <dd>
                  <div class="form-field">
                    <div class="form-inner button-option">
                      <div class="form-wrap select">
                        <select class="btn-select" disabled="disabled">
                          <option>선택</option>
                        </select>
                      </div>
                      <button type="button" class="btn-primary --small">
                        <span>상세보기</span>
                      </button>
                    </div>
                  </div>
                </dd>
              </dl>
            </div>
            <!-- // 간편주문 옵션 -->
            <dl class="column-item">
              <dt>파일첨부</dt>
              <dd>
                <div class="form-field">
                  <div class="form-wrap file">
                    <label class="btn-primary --small">
                      <input type="file"/>
                      <span>파일첨부</span>
                    </label>
                    <span class="guide-sub">선택한 파일이 없습니다.</span>
                    <!-- // 파일 선택 후 : 안내문구 > 파일명으로 텍스트 대치 -->
                    <!-- 파일 선택 후 : 삭제 버튼 사용 -->
                    <button type="button" class="btn-del">
                      <i class="delete">삭제</i>
                    </button>
                    <!-- // 파일 선택 후 : 삭제 버튼 사용 -->
                  </div>
                </div>
              </dd>
            </dl>
          </div>
        </div>
        <!-- 표지/내지 :내지 -->
        <div class="product-order">
          <div class="title-wrap">
            <h5>내지</h5>
          </div>
          <div class="product-option">
            <dl class="column-item">
              <dt>용지</dt>
              <dd>
                <div class="form-field">
                  <div class="form-inner multi-option">
                    <div class="form-wrap select">
                      <select class="btn-select">
                        <option>일반지</option>
                      </select>
                    </div>
                    <div class="form-wrap select">
                      <select class="btn-select">
                        <option>스노우지</option>
                      </select>
                    </div>
                    <div class="form-wrap select">
                      <select class="btn-select">
                        <option>100g</option>
                      </select>
                    </div>
                  </div>
                </div>
              </dd>
            </dl>
            <dl class="column-item">
              <dt>인쇄방법</dt>
              <dd>
                <div class="form-field">
                  <div class="form-inner multi-option">
                    <div class="form-wrap select">
                      <select class="btn-select">
                        <option>컬러</option>
                      </select>
                    </div>
                    <div class="form-wrap select">
                      <select class="btn-select">
                        <option>단면</option>
                      </select>
                    </div>
                    <div class="form-wrap select">
                      <select class="btn-select">
                        <option>캐논IX</option>
                      </select>
                    </div>
                  </div>
                </div>
              </dd>
            </dl>
            <dl class="column-item">
              <dt>페이지 수</dt>
              <dd>
                <div class="form-field">
                  <div class="form-inner print-option">
                    <p class="option-form">
                      <input type="number" placeholder="Placeholder"/>
                    </p>
                    <span class="guide-sub --small">인쇄 장수
                      <em>5</em>
                    </span>
                  </div>
                </div>
              </dd>
            </dl>
            <dl class="column-item">
              <dt>파일첨부</dt>
              <dd>
                <div class="form-field">
                  <div class="form-wrap file">
                    <label class="btn-primary --small">
                      <input type="file"/>
                      <span>파일첨부</span>
                    </label>
                    <span class="guide-sub">선택한 파일이 없습니다.</span>
                    <!-- // 파일 선택 후 : 안내문구 > 파일명으로 텍스트 대치 -->
                    <!-- 파일 선택 후 : 삭제 버튼 사용 -->
                    <button type="button" class="btn-del">
                      <i class="delete">삭제</i>
                    </button>
                    <!-- // 파일 선택 후 : 삭제 버튼 사용 -->
                  </div>
                </div>
              </dd>
            </dl>
          </div>
          <div
            class="product-option">
            <!-- 내지/간지 추가 -->
            <div class="--add-option --item">
              <div class="title-wrap">
                <h5>
                  <i class="icon-plus"></i>
                  내지
                  <!-- 내지/간지 -->
                </h5>
                <button type="button" class="btn-close">
                  <i class="delete">삭제</i>
                </button>
              </div>
              <div class="option-item">
                <div class="product-option">
                  <dl class="column-item">
                    <dt>용지</dt>
                    <dd>
                      <div class="form-field">
                        <div class="form-inner multi-option">
                          <div class="form-wrap select">
                            <select class="btn-select">
                              <option>일반지</option>
                            </select>
                          </div>
                          <div class="form-wrap select">
                            <select class="btn-select">
                              <option>스노우지</option>
                            </select>
                          </div>
                          <div class="form-wrap select">
                            <select class="btn-select">
                              <option>100g</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl class="column-item">
                    <dt>인쇄방법</dt>
                    <dd>
                      <div class="form-field">
                        <div class="form-inner multi-option">
                          <div class="form-wrap select">
                            <select class="btn-select">
                              <option>컬러</option>
                            </select>
                          </div>
                          <div class="form-wrap select">
                            <select class="btn-select">
                              <option>단면</option>
                            </select>
                          </div>
                          <div class="form-wrap select">
                            <select class="btn-select">
                              <option>캐논IX</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl class="column-item">
                    <dt>페이지 수</dt>
                    <dd>
                      <div class="form-field">
                        <div class="form-inner print-option">
                          <p class="option-form">
                            <input type="number" placeholder="Placeholder"/>
                          </p>
                          <span class="guide-sub --small">인쇄 장수
                            <em>5</em>
                          </span>
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl class="column-item">
                    <dt>파일첨부</dt>
                    <dd>
                      <div class="form-field">
                        <div class="form-wrap file">
                          <label class="btn-primary --small">
                            <input type="file"/>
                            <span>파일첨부</span>
                          </label>
                          <span class="guide-sub">선택한 파일이 없습니다.</span>
                          <!-- // 파일 선택 후 : 안내문구 > 파일명으로 텍스트 대치 -->
                          <!-- 파일 선택 후 : 삭제 버튼 사용 -->
                          <button type="button" class="btn-del">
                            <i class="delete">삭제</i>
                          </button>
                          <!-- // 파일 선택 후 : 삭제 버튼 사용 -->
                        </div>
                      </div>
                    </dd>
                  </dl>
                  <dl class="column-item">
                    <dt>페이지 위치<span class="tooltip --info --top --multiline">
                        <i class="item">2의 배수로 입력하세요.<br/>ex) 11-12p, 21-22p</i>
                      </span>
                    </dt>
                    <dd>
                      <div class="form-field">
                        <input type="text" placeholder="페이지 위치를 2의 배수로 입력하세요. ex) 11-12p, 21-22p"/>
                      </div>
                    </dd>
                  </dl>
                  <dl class="column-item">
                    <dt>후가공
                      <span class="tooltip --info --multiline">
                        <i class="item">평량에 따라 후가공 사용<br/>여부가 달라집니다.</i>
                      </span>
                    </dt>
                    <dd>
                      <div class="form-field">
                        <div class="form-wrap select">
                          <select class="btn-select">
                            <option>사용여부 선택</option>
                            <option>사용</option>
                          </select>
                        </div>
                      </div>
                      <!-- 후가공 선택 시 -->
                      <div class="--add-option">
                        <div class="checkbox-wrap option-item img-option">
                          <label class="checkbox" for="check-1-1">
                            <input
                            type="checkbox" id="check-1-1" disabled/>
                            <!-- 후가공 조건 미달 시 :disabled -->
                            <span class="checkbox-img --option-01">
                              <img src="/resources/fe/img/img/img-checkbox-option-01.png" alt=""/>
                              <em>180g이상 부터<br/>선택 가능</em>
                              <!-- // 후가공 조건 미달 시 안내 텍스트 -->
                            </span>
                            <span class="checkbox-label">누름자국(오시)</span>
                          </label>
                          <label class="checkbox" for="check-1-2">
                            <input type="checkbox" id="check-1-2"/>
                            <span class="checkbox-img --option-02">
                              <img src="/resources/fe/img/img/img-checkbox-option-02.png" alt=""/>
                            </span>
                            <span class="checkbox-label">코팅</span>
                          </label>
                          <label class="checkbox" for="check-1-3">
                            <input type="checkbox" id="check-1-3"/>
                            <span class="checkbox-img --option-03">
                              <img src="/resources/fe/img/img/img-checkbox-option-03.png" alt=""/>
                            </span>
                            <span class="checkbox-label">에폭시</span>
                          </label>
                          <label class="checkbox" for="check-1-4">
                            <input type="checkbox" id="check-1-4"/>
                            <span class="checkbox-img --option-04">
                              <img src="/resources/fe/img/img/img-checkbox-option-04.png" alt=""/>
                            </span>
                            <span class="checkbox-label">박</span>
                          </label>
                          <label class="checkbox" for="check-1-5">
                            <input type="checkbox" id="check-1-5"/>
                            <span class="checkbox-img --option-05">
                              <img src="/resources/fe/img/img/img-checkbox-option-05.png" alt=""/>
                            </span>
                            <span class="checkbox-label">날개제본</span>
                          </label>
                          <label class="checkbox" for="check-1-6">
                            <input type="checkbox" id="check-1-6"/>
                            <span class="checkbox-img --option-06">
                              <img src="/resources/fe/img/img/img-checkbox-option-06.png" alt=""/>
                            </span>
                            <span class="checkbox-label">표지이어붙임</span>
                          </label>
                        </div>
                        <!-- 후가공 옵션-옵션 -->
                        <div class="option-item">
                          <div class="form-field">
                            <div class="form-wrap select">
                              <select class="btn-select">
                                <option>누름자국(오시) 횟수</option>
                              </select>
                            </div>
                            <div class="form-wrap select">
                              <select class="btn-select">
                                <option>코팅 종류</option>
                              </select>
                            </div>
                            <div class="form-wrap select">
                              <select class="btn-select">
                                <option>박 종류</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- // 후가공 선택 시 -->
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
            <!-- // 내지 추가 -->
            <!-- 본문추가 -->
            <dl class="column-item">
              <dt>본문추가
                <span class="tooltip --info --top --multiline">
                  <i class="item">본문에 추가할 간지/면지를 추가할 수 있으며,<br/>별도 내지 추가까지 진행할 수 있습니다.</i>
                </span>
              </dt>
              <dd>
                <div class="btn-wrap multi-option">
                  <button type="button" class="btn-outline --small">
                    <i class="plus"></i>
                    <span>내지</span>
                  </button>
                  <button type="button" class="btn-outline --small">
                    <i class="plus"></i>
                    <span>간지</span>
                  </button>
                  <button type="button" class="btn-outline --small">
                    <i class="plus"></i>
                    <span>면지</span>
                  </button>
                </div>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      {% include "components/productOrderBottom.njk" %}
    </section>
    {% include "components/productBottom.njk" %}
  </div>
{% endblock %}