{% extends "layouts/base.njk" %}
{% set title = "codeSnippets" %}

<!-- 사용할 컴포넌트 -->
{% import "components/button.njk" as ButtonComp %}

{% block content %}
  <div style="padding:20px">
    <h1>Code snippets</h1>
    <h2>Button</h2>
    {{ ButtonComp.Button({ variant: "btn-primary", size: "xsmall", label: "버튼1", useIcon: "plus" }) }}
    {{ ButtonComp.Button({ variant: "btn-black", size: "medium", label: "버튼2" }) }}
    {{ ButtonComp.Button({ variant: "btn-outline", size: "large", useIcon: "minus" }) }}
    {{ ButtonComp.Button({ variant: "btn-black", size: "small", label: "버튼3" ,disabled:true }) }}
    {{ ButtonComp.Button({ variant: "btn-round", label: "더보기"}) }} 
    {{ ButtonComp.Button({ variant: "btn-round icon", label: "더보기"}) }}
    {{ ButtonComp.Button({ variant: "btn-text", label: "더보기"}) }}
    {{ ButtonComp.Button({ variant: "btn-text", size: "small" ,label: "더보기"}) }}
    {{ ButtonComp.Button({ variant: "btn-text", size: "large", label: "더보기"}) }}  
    <h2></h2>
    <h2></h2>  
    <h2></h2>
  </div>
{% endblock %}
