<!-- footer -->
<footer>
  <div class="footer-link-wrap">
    <ul class="footer-link">
      <li>
        <a href="">회사소개</a>
      </li>
      <li>
        <a href="">이용약관</a>
      </li>
      <li>
        <a href="">개인정보처리방침</a>
      </li>
      <li>
        <a href="#">사업자등록증</a>
      </li>
    </ul>
  </div>
  <div class="footer-wrap">
    <div class="company">
      <p class="logo">
        <a href="https://www.billpost.co.kr/" target="_blank">
          <img src="/resources/fe/img/img/footer-logo.png" alt="billpost"/>
        </a>
      </p>
      <div class="sns">
        <a href="" class="btn-sns-blog" target="_blank">
          <img src="/resources/fe/img/icon/icon-sns-blog.png" alt="blog"/>
        </a>
        <a href="" class="btn-sns-talk">
          <img src="/resources/fe/img/icon/icon-sns-kakao-channel.png" alt="kakaochannel"/>
        </a>
      </div>
    </div>
    <div class="contact">
      <div class="contact-cs">
        <div class="cs-info">
          <strong class="center">고객 상담 센터</strong>
          <dl>
            <dt>접수</dt>
            <dd>02-2266-0671</dd>
            <dt>회계</dt>
            <dd>02-2024-3304</dd>
          </dl>
        </div>
        <div class="cs-info">
          <strong class="delivery">출고 안내</strong>
          <dl>
            <dt>접수센터</dt>
            <dd>9:00 - 20:00</dd>
            <dt>제작센터</dt>
            <dd>24시 출고
              <em>(주말, 공휴일 휴무)</em>
            </dd>
          </dl>
        </div>
      </div>
      <div class="contact-info webhard">
        <dl>
          <dt>ID</dt>
          <dd>colormi</dd>
          <dt>PW</dt>
          <dd>1234</dd>
        </dl>
        <a href="" class="btn-text --small" target="_blank">
          <span>웹하드접속</span>
        </a>
      </div>
      <div class="contact-info account">
        <dl>
          <dt>국민은행</dt>
          <dd>412701-01-227972</dd>
          <dd>빌포스트(주)</dd>
        </dl>
      </div>
    </div>
    <div class="info">
      <dl>
        <dt>대표
          <i>:</i>
        </dt>
        <dd>하봉채</dd>
      </dl>
      <dl>
        <dt>사업자등록번호
          <i>:</i>
        </dt>
        <dd>220-81-94270 (종사업장번호 : 003)</dd>
      </dl>
      <dl>
        <dt>개인정보보호책임자
          <i>:</i>
        </dt>
        <dd>김연걸</dd>
      </dl>
      <dl class="address">
        <dt>본사
          <i>:</i>
        </dt>
        <dd>서울특별시 광진구 자양로 76 (동서울우편집중국 내) 1층 빌포스트</dd>
      </dl>
      <dl class="address">
        <dt>충무로지점(제작센터)
          <i>:</i>
        </dt>
        <dd>서울특별시 중구 충무로 13 (충무로3가) 엘크루메트로시티 지하2층 201~208호</dd>
      </dl>
      <dl class="address">
        <dt>충무로지점(접수센터)
          <i>:</i>
        </dt>
        <dd>서울특별시 중구 퇴계로 27길 39(충무로3가 24-7), 101호~102호</dd>
      </dl>
      <dl>
        <dt>통신판매업신고</dt>
        <dd>제 2005-서울광진-1941호</dd>
      </dl>
      <dl>
        <dt>E-Mail
          <i>:</i>
        </dt>
        <dd>info@billpost.co.kr</dd>
      </dl>
      <p class="copyright">© {{ year }}
        {{ siteName }}. All Rigths Reserved.</p>
    </div>
  </div>
</footer>
<!-- //footer -->