<!-- header -->
<!-- top-banner -->
  <div
  class="top-banner-wrap" style="background: #D7E7FE; display: none;"> <!-- //배너 변경 시 background color 변경 -->
  <div class="top-banner">
    <a href="#" class="top-banner-link">
      <img src="/resources/fe/img/img" alt="리뉴얼 오픈세일 5/10 단 하루, 최대 60% 할인"/>
    </a>
    <div class="top-banner-close">
      <button class="btn-close" aria-label="close">
        닫기
      </button>
    </div>
  </div>
</div>
<!-- header -->
<div class="header-top">
  <h1 class="logo">
    <a href="/" class="logo-link">
      <img src="/resources/fe/img/img/colormi-logo.png" alt="칼라미" class="logo-img"/>
      <p>고품질 디지털 인쇄 전문</p>
    </a>
  </h1>
  <div class="util-menu-wrap">
    <div class="util-menu">
      <a href="#" class="btn-search tooltip" id="btnSearch">
        <span class="item">검색</span>
      </a>
      <a
        href="#" class="btn-login --login">
        <!-- 로그인전 --login / 로그인후 --logout / 버튼 클릭 시 --active -->
        <span>로그인/로그아웃</span>
      </a>
      <a href="#" class="btn-cart tooltip">
        <span class="item">장바구니</span>
        <!-- 장바구니 상품 갯수 -->
        <i class="badge">10</i>
        <!-- // 장바구니 상품 갯수 -->
      </a>
    </div>
    <div
      class="quick-menu" style="display: none;">
      <!-- 로그인 후 -->
      <div class="menu-box">
        <div class="user-info">
          <span class="user-img"><img src="/resources/fe/img/img/img-random-profile-1.png" alt="랜덤프로필1"/>
          </span>
          <p class="user-name">고객명</p>
        </div>
        <ul class="quick-menu-list">
          <li>
            <a href="#" class="btn-my">마이페이지</a>
          </li>
          <li>
            <a href="#" class="btn-status">주문배송조회</a>
          </li>
          <li>
            <a href="#" class="btn-logout">로그아웃</a>
          </li>
        </ul>
      </div>
      <!-- // 로그인 후 -->
      <!-- 로그인 전 -->
      <div class="menu-box">
        <ul class="quick-menu-list">
          <li>
            <a href="#" class="btn-login">로그인</a>
          </li>
          <li>
            <a href="#" class="btn-join">회원가입</a>
          </li>
        </ul>
      </div>
      <!-- // 로그인 전 -->
    </div>
  </div>
</div>
<!-- // header-top -->
<!-- search -->
{% include "components/search.njk" %}
<header>
  <div class="header-inner">
    <div class="gnb-wrap">
      <div class="gnb">
        <strong class="depth-1">
          <a href="#" class="btn-menu-all" data-menu-index="0">
            <span>전체메뉴</span>
          </a>
        </strong>
        <nav class="gnb-menu">
          <ul>
            <li class="depth-1 --home">
              <a href="#">홈</a>
            </li>
            <li class="depth-1">
              <a href="#">전체상품</a>
            </li>
            <li class="depth-1">
              <a href="#" data-menu-index="1">책자</a>
            </li>
            <li class="depth-1">
              <a href="#" data-menu-index="2">출력</a>
            </li>
            <li class="depth-1">
              <a href="#" data-menu-index="3">명함</a>
            </li>
            <li class="depth-1">
              <a href="#" data-menu-index="4">홍보물</a>
            </li>
            <li class="depth-1">
              <a href="#" data-menu-index="5">달력·수첩</a>
            </li>
            <li class="depth-1">
              <a href="#" data-menu-index="6">봉투·쇼핑백</a>
            </li>
            <li class="depth-1">
              <a href="#" data-menu-index="7">엽서·카드</a>
            </li>
            <li class="depth-1">
              <a href="#" data-menu-index="8">문구점</a>
            </li>
            <li class="depth-1">
              <a href="#" data-menu-index="9">판촉물</a>
            </li>
            <li class="depth-1">
              <a href="#" data-menu-index="10">옵셋인쇄</a>
            </li>
            <li class="depth-1 product">
              <a href="#" data-menu-index="11">오피스·문구</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="util-menu-wrap">
        <div class="util-menu">
          <a href="#" class="btn-customer">
            <span>고객센터</span>
          </a>
          <div class="quick-menu-wrap">
            <a href="#" class="btn-select" id="btnQuickMenuSelect">
              <span>패밀리사이트</span>
            </a>
            <div class="quick-menu" id="quickMenu">
              <div class="menu-box">
                <ul class="quick-menu-list">
                  <li>
                    <a href="" class="btn-option">바로DM</a>
                  </li>
                  <li>
                    <a href="" class="btn-option">북페이크</a>
                  </li>
                  <li>
                    <a href="" class="btn-option">동서남북</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- // gnb-wrap -->
    <!-- 전체메뉴, SNB -->
    {% include "components/menuSub.njk" %}
  </div>
</header>