<!-- header -->
<!-- top-banner -->
  <div
  class="top-banner-wrap" style="background: #D7E7FE;"> <!-- //배너 변경 시 background color 변경 -->
  <div class="top-banner">
    <a href="#" class="top-banner-link">
      <img src="{{ logoUrl }}" alt="리뉴얼 오픈세일 5/10 단 하루, 최대 60% 할인"/>
    </a>
    <div class="top-banner-close">
      <button class="btn-close" aria-label="close">
        닫기
      </button>
    </div>
  </div>
</div>
<!-- header -->
<header>
  <div class="header-top">
    <h1 class="logo">
      <a href="/" class="logo-link">
        <img src="https://www.colormi.co.kr/resources/fe/img/img/header-logo.png" alt="칼라미" class="logo-img">
        <p>고품질 디지털 인쇄 전문</p>
      </a>
    </h1>
    <div class="util-menu-wrap">
      <div class="util-menu">
        <a href="#" class="btn-search">
          <span>검색</span>
        </a>
        <a href="#" class="btn-login">
          <span>로그인</span>
        </a>
        <a href="#" class="btn-join">
          <span>회원가입</span>
        </a>
        <a href="#" class="btn-cart">
          <span>장바구니</span>
        </a>
      </div>
    </div>
  </div>
  <div class="gnb-wrap">
    <div class="gnb">
      <a href="#" class="btn-menu-all">
        <span>전체메뉴</span>
      </a>
      <nav class="gnb-menu">
        <ul>
          <li class="depth-1 active">
            <a href="#">전체상품</a>
          </li>
          <li class="depth-1">
            <a href="#">책자</a>
          </li>
          <li class="depth-1">
            <a href="#">출력</a>
          </li>
          <li class="depth-1">
            <a href="#">명함</a>
          </li>
          <li class="depth-1">
            <a href="#">홍보물</a>
          </li>
          <li class="depth-1">
            <a href="#">달력·수첩</a>
          </li>
          <li class="depth-1">
            <a href="#">봉투·쇼핑백</a>
          </li>
          <li class="depth-1">
            <a href="#">엽서·카드</a>
          </li>
          <li class="depth-1">
            <a href="#">문구점</a>
          </li>
          <li class="depth-1">
            <a href="#">오피스·문구</a>
          </li>
          <li class="depth-1">
            <a href="#">판촉물</a>
          </li>
          <li class="depth-1">
            <a href="#">옵셋인쇄</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="util-menu-wrap">
      <div class="util-menu">
        <a href="#" class="btn-quick">
          <span>고객센터</span>
        </a>
        <a href="#" class="btn-site">
          <span>패밀리사이트</span>
        </a>
      </div>
    </div>
  </div>
  <!-- LNB -->
  <nav class="all-menu-wrap" style="display: none;">
    <div class="all-menu">
      <div
        class="all-menu-inner">
        <!-- category -->
        <div class="category">
          <strong class="depth-1 focus">책자</strong>
          <ul>
            <li>
              <p class="depth-2">제본</p>
              <ul>
                <li class="depth-3">
                  <a href="#">무선제본</a>
                </li>
                <li class="depth-3">
                  <a href="#">중철제본</a>
                </li>
                <li class="depth-3">
                  <a href="#">스프링제본</a>
                </li>
                <li class="depth-3">
                  <a href="#">떡제본</a>
                </li>
              </ul>
            </li>
            <li>
              <p class="depth-2">책자</p>
              <ul>
                <li class="depth-3">
                  <a href="#">제안서·PPT</a>
                </li>
                <li class="depth-3">
                  <a href="#">카탈로그·브로슈어</a>
                </li>
                <li class="depth-3">
                  <a href="#">양식지</a>
                </li>
                <li class="depth-3">
                  <a href="#">교재</a>
                </li>
                <li class="depth-3">
                  <a href="#">시험지</a>
                </li>
                <li class="depth-3">
                  <a href="#">단행본</a>
                </li>
                <li class="depth-3">
                  <a href="#">문집</a>
                </li>
                <li class="depth-3">
                  <a href="#">전시도록</a>
                </li>
                <li class="depth-3">
                  <a href="#">포토북</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="product-info">
        <ul class="product-img">
          <li><img src="" alt="상품이미지1 미리보기"></li>
          <li><img src="" alt="상품이미지2 미리보기"></li>
        </ul>
        <div class="product-text">
          <strong class="title">카탈로그·브로셔<i class="status"></i>
          </strong>
          <p>
            상품을 소개하기 위해 기업에서 발행하는 책자<br>백색모조, 스노우, 랑데부 등으로 제작 가능!</p>
        </p>
      </div>
    </div>
  </nav>
  <!-- 전체메뉴 -->
  <nav class="all-menu-wrap">
    <div class="all-menu">
      <div class="banner-wrap">
        <a href="" alt=""><img src="img-banner-01.png" alt="학원·기업교재"/>
        </a>
        <a href="" alt=""><img src="img-banner-02.png" alt="1인작가 전용"/>
        </a>
        <a href="" alt=""><img src="img-banner-03.png" alt="대표님전용"/>
        </a>
      </div>
      <div
        class="all-menu-inner">
        <!-- category -->
        <div class="category">
          <strong class="depth-1 focus">책자</strong>
          <!-- //하위메뉴 링크 호버 시 .focus 추가 -->
          <ul>
            <li>
              <p class="depth-2">제본</p>
              <ul>
                <li class="depth-3">
                  <a href="#">무선제본</a>
                </li>
                <li class="depth-3">
                  <a href="#">중철제본</a>
                </li>
                <li class="depth-3">
                  <a href="#">스프링제본</a>
                </li>
                <li class="depth-3">
                  <a href="#">떡제본</a>
                </li>
              </ul>
            </li>
            <li>
              <p class="depth-2">책자</p>
              <ul>
                <li class="depth-3">
                  <a href="#">제안서·PPT</a>
                </li>
                <li class="depth-3">
                  <a href="#">카탈로그·브로슈어</a>
                </li>
                <li class="depth-3">
                  <a href="#">양식지</a>
                </li>
                <li class="depth-3">
                  <a href="#">교재</a>
                </li>
                <li class="depth-3">
                  <a href="#">시험지</a>
                </li>
                <li class="depth-3">
                  <a href="#">단행본</a>
                </li>
                <li class="depth-3">
                  <a href="#">문집</a>
                </li>
                <li class="depth-3">
                  <a href="#">전시도록</a>
                </li>
                <li class="depth-3">
                  <a href="#">포토북</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- category -->
        <div class="category">
          <strong class="depth-1">출력</strong>
          <ul>
            <li>
              <p class="depth-2">출력</p>
              <ul>
                <li class="depth-3">
                  <a href="#">낱장인쇄(제본없이)</a>
                </li>
                <li class="depth-3">
                  <a href="#">소량책자표지</a>
                </li>
                <li class="depth-3">
                  <a href="#">소량전단</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- category -->
        <div class="category">
          <strong class="depth-1">명함</strong>
          <ul>
            <li>
              <p class="depth-2">특가명함</p>
              <ul>
                <li class="depth-3">
                  <a href="#">일반명함</a>
                </li>
                <li class="depth-3">
                  <a href="#">고급명함</a>
                </li>
              </ul>
              <p class="depth-2">디자인명함</p>
              <ul>
                <li class="depth-3">
                  <a href="#">특수명함</a>
                </li>
                <li class="depth-3">
                  <a href="#">정사각명함</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- category -->
        <div class="category">
          <strong class="depth-1">홍보물</strong>
          <ul>
            <li>
              <p class="depth-2">전단지</p>
              <ul>
                <li class="depth-3">
                  <a href="#">소량전단</a>
                </li>
                <li class="depth-3">
                  <a href="#">대량전단</a>
                </li>
              </ul>
              <p class="depth-2">리플렛</p>
              <ul>
                <li class="depth-3">
                  <a href="#">리플렛</a>
                </li>
                <li class="depth-3">
                  <a href="#">카탈로그·브로슈어</a>
                </li>
              </ul>
              <p class="depth-2">티켓</p>
              <ul>
                <li class="depth-3">
                  <a href="#">상품권</a>
                </li>
                <li class="depth-3">
                  <a href="#">쿠폰</a>
                </li>
              </ul>
            </li>
            <li>
              <p class="depth-2">포스터</p>
              <ul>
                <li class="depth-3">
                  <a href="#">포스터</a>
                </li>
              </ul>
              <p class="depth-2">테이블 메뉴</p>
              <ul>
                <li class="depth-3">
                  <a href="#">메뉴판</a>
                </li>
                <li class="depth-3">
                  <a href="#">테이블세팅지</a>
                </li>
              </ul>
              <p class="depth-2">포장용품</p>
              <ul>
                <li class="depth-3">
                  <a href="#">행택</a>
                </li>
                <li class="depth-3">
                  <a href="#">헤더택</a>
                </li>
                <li class="depth-3">
                  <a href="#">랩핑지</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="all-menu-inner">
        <!-- category -->
        <div class="category">
          <strong class="depth-1">달력·수첩</strong>
          <ul>
            <li>
              <p class="depth-2">달력</p>
              <ul>
                <li class="depth-3">
                  <a href="#">탁상달력</a>
                </li>
                <li class="depth-3">
                  <a href="#">벽걸이달력</a>
                </li>
              </ul>
              <p class="depth-2">다이어리</p>
              <ul>
                <li class="depth-3">
                  <a href="#">다이어리</a>
                </li>
                <li class="depth-3">
                  <a href="#">주간플래너</a>
                </li>
                <li class="depth-3">
                  <a href="#">스터디플래너</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- category -->
        <div class="category">
          <strong class="depth-1">봉투·쇼핑백</strong>
          <ul>
            <li>
              <p class="depth-2">봉투</p>
              <ul>
                <li class="depth-3">
                  <a href="#">소량봉투</a>
                </li>
                <li class="depth-3">
                  <a href="#">대량봉투</a>
                </li>
                <li class="depth-3">
                  <a href="#">무지봉투</a>
                </li>
              </ul>
              <p class="depth-2">쇼핑백</p>
              <ul>
                <li class="depth-3">
                  <a href="#">쇼핑백</a>
                </li>
                <li class="depth-3">
                  <a href="#">무지쇼핑백</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- category -->
        <div class="category">
          <strong class="depth-1">엽서·카드</strong>
          <ul>
            <li>
              <p class="depth-2">엽서</p>
              <ul>
                <li class="depth-3">
                  <a href="#">사진엽서</a>
                </li>
                <li class="depth-3">
                  <a href="#">엽서세트</a>
                </li>
              </ul>
              <p class="depth-2">안내장</p>
              <ul>
                <li class="depth-3">
                  <a href="#">청첩장</a>
                </li>
                <li class="depth-3">
                  <a href="#">초대장</a>
                </li>
                <li class="depth-3">
                  <a href="#">안내카드</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- category -->
        <div class="category">
          <strong class="depth-1">문구점</strong>
          <ul>
            <li>
              <p class="depth-2">노트</p>
              <ul>
                <li class="depth-3">
                  <a href="#">떡메모지</a>
                </li>
                <li class="depth-3">
                  <a href="#">무선노트</a>
                </li>
                <li class="depth-3">
                  <a href="#">스프링노트</a>
                </li>
              </ul>
              <p class="depth-2">굿즈</p>
              <ul>
                <li class="depth-3">
                  <a href="#">스티커</a>
                </li>
                <li class="depth-3">
                  <a href="#">포토카드</a>
                </li>
                <li class="depth-3">
                  <a href="#">종이슬로건</a>
                </li>
                <li class="depth-3">
                  <a href="#">책갈피</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- category -->
        <div class="category">
          <strong class="depth-1">오피스·문구</strong>
          <ul>
            <li>
              <ul>
                <li class="depth-3">
                  <a href="#">노트
                  </a>
                </li>
                <li class="depth-3">
                  <a href="#">메모장</a>
                </li>
                <li class="depth-3">
                  <a href="#">스티커</a>
                </li>
                <li class="depth-3">
                  <a href="#">카드·편지지</a>
                </li>
                <li class="depth-3">
                  <a href="#">사무용품</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- category -->
        <div class="category">
          <strong class="depth-1">판촉물</strong>
          <ul>
            <li>
              <p class="depth-2">기프트</p>
              <ul>
                <li class="depth-3">
                  <a href="#">단체티셔츠</a>
                </li>
                <li class="depth-3">
                  <a href="#">에코백</a>
                </li>
                <li class="depth-3">
                  <a href="#">텀블러</a>
                </li>
                <li class="depth-3">
                  <a href="#">보조배터리</a>
                </li>
                <li class="depth-3">
                  <a href="#">골프공</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- category -->
        <div class="category">
          <strong class="depth-1">옵셋인쇄</strong>
          <ul>
            <li>
              <p class="depth-2">독판인쇄</p>
              <ul>
                <li class="depth-3">
                  <a href="#">무선책자</a>
                </li>
                <li class="depth-3">
                  <a href="#">중철책자</a>
                </li>
                <li class="depth-3">
                  <a href="#">스프링책자</a>
                </li>
                <li class="depth-3">
                  <a href="#">리플렛</a>
                </li>
                <li class="depth-3">
                  <a href="#">전단지</a>
                </li>
              </ul>
              <p class="depth-2">합판인쇄</p>
              <ul>
                <li class="depth-3">
                  <a href="#">전단지</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>