<div class="terms-box">
  <p class="title">[인쇄/제작]</p>
  <ul>
    <li>1. 모든 작업은 결제완료 후 진행됩니다. 무통장입금의 경우 입금이 확인된 후 진행됩니다.</li>
    <li>2. 동일한 데이터로 주문/접수 하셔도, PC 모니터와 실제 잉크의 색상차이로 인해 결과물의 차이가 있을 수 있습니다.</li>
    <li>3. 천재지변(정전, 기계고장, 데이터 오류, 연휴 배송사고, 택배배송사 과실)등 기타사유등으로 출고가 지연될 수 있습니다.</li>
    <li>4. 인쇄 작업 개시 후 데이터 수정은 불가하며, 부득이하게 공정을 중단하여 데이터를 수정할 시 모든 부담은 고객에게 있습니다.</li>
    <li>5. 특이사항이 없을 경우, 인쇄 작업은 결제완료 후 별도의 확인절차 없이 진행됩니다.</li>
    <li>6. 당사가 제공하는 최종 인쇄 데이터의 오탈자, 컨텐츠 오류 등에 대한 검수 책임은 고객에게 있으며, 제작 완료 후 발견된 오탈자 및 컨텐츠 오류 등의 인쇄사고에 대해서 당사는 일체의 책임을 지지 않습니다.</li>
    <li>7. 칼라미는 저작권(이미지, 디자인, 원고 등)과 서체(타입페이스, 폰트 등) 사용권의 법적 문제가 없는 데이터만 인쇄,제작하며 저작권 문제발생 시 당사는 일체의 책임을 지지 않습니다.</li>
    <li>8. 불법 성매매에 관한 인쇄제작물, 청소년 유해매체 인쇄물 등 국가기관의 심의 내용에 해당되는 인쇄물은 접수받지 않습니다. 임의로 주문된 불건전 유해매체물은 인쇄가 진행되더라도 자체 파기되며, 환불 및
      재작업 처리가 되지 않습니다.</li>
  </ul>
  <p class="title">[편집디자인]</p>
  <p>칼라미의 편집디자인 서비스를 이용하신 고객의 경우,</p>
  <ul>
    <li>1. 디자인 원본 파일(ai, indd, psd 등)의 소유권은 칼라미에 있습니다.</li>
    <li>2. 원본파일은 고객에게 제공되지 않습니다.</li>
    <li>3. 최종 디자인은 칼라미의 포트폴리오, 예시로 활용될 수 있습니다.</li>
  </ul>
  <p class="title">[교환/반품/환불]</p>
  <ul>
    <li>1. 칼라미의 상품은 주문제작 특성상 단순변심으로 인한 교환, 반품, 환불이 불가합니다.</li>
    <li>2. 부득이하게 주문을 취소해야하는 경우, 공정별 작업비를 공제한 후 환불처리 됩니다.</li>
    <li>3. 환불계좌번호의 오기입 시 발생되는 문제에 대해서는 당사는 책임지지 않습니다. 결제하기 전 환불계좌번호를 한번 더 확인해 주시기 바랍니다.</li>
  </ul>
  <p class="block">위와 관련된 문의는 고객센터(02-2266-0671)로 연락주시기 바랍니다.</p>
</div>