<div class="tab-item">
  <div class="btn-wrap --tab">
    <button type="button" class="btn-outline --large --active">
      <span>접수센터</span>
    </button>
    <button type="button" class="btn-outline --large">
      <span>제작센터</span>
    </button>
  </div>
  <div class="map-box tab-cont" id="map-01">접수센터 : 서울시 중구 퇴계로 27길 39, 101호~102호 (충무로 3가 24-7)</div>
  <div class="map-box tab-cont" id="map-02">제작센터 : 서울특별시 중구 퇴계로 27길 39(충무로3가 24-7), 101호~102호</div>
</div>