{% macro renderMenuList(arr, navIdx) %}
  {% set mn    = arr[0] %}
  {% set catg  = mn.categories[0] %}
  <nav class="all-menu-wrap" data-menu-index="{{ navIdx+1 }}">
    <div class="all-menu">
      <div class="category-wrap">
        <div class="category">
          <strong class="depth-1">
            {{ catg.depth1 | safe }}
          </strong>
          <ul>
            {% set flatIndex = 0 %}
            {% for d2 in catg.depth2List %}
              <li>
                <p class="depth-2">{{ d2.title }}</p>
                <ul>
                  {% for d3 in d2.depth3List %}
                    <li class="depth-3" data-group="{{ navIdx + 1 }}" data-index="{{ flatIndex }}">
                      <a href="#">
                        {{ d3.title }}
                        {% for tpl in d3.tooltipList %}
                          {{ tpl|safe }}
                        {% endfor %}
                      </a>
                    </li>
                    {% set flatIndex = flatIndex + 1 %}
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="header-product-wrap">
        {% set flatIndex = 0 %}
        {% for d2 in catg.depth2List %}
          {% for d3 in d2.depth3List %}
           <div class="inner-header-product{% if flatIndex == 0 %} active{% endif %}" data-group="{{ navIdx + 1 }}" data-index="{{ flatIndex }}">
              <ul class="product-img">
                {% for img in d3.itemList %}
                  <li>
                    <img src="/resources/fe/img/product/{{ img.fileName }}" alt="{{ img.alt }}" />
                  </li>
                {% endfor %}
              </ul>
              <div class="product-info">
                <strong class="product-name" data-name="{{ d3.title }}">
                  {{ d3.title }}
                  {% for tpl in d3.tooltipList %}
                    {{ tpl|safe }}
                  {% endfor %}
                </strong>
                {% for sub in d3.subs %}
                  <p class="guide-sub --small" data-sub-index="{{ loop.index0 }}">{{ sub }}</p>
                {% endfor %}
              </div>
            </div>
           {% set flatIndex = flatIndex + 1 %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </nav>
{% endmacro %}


