{% from "components/menuList.njk" import renderMenuList %}
{% set keys = [
  "menuData001","menuData002","menuData003","menuData004",
  "menuData005","menuData006","menuData007","menuData008","menuData009","menuData010",
  "menuData011"
] %}
{% for key in keys %}
  {% set arr = menuData[key] %}
  {{ renderMenuList(arr, loop.index0) }}
{% endfor %}
{% include "components/menuAll.njk" %}