<nav class="all-menu-wrap" data-menu-index="0">
  <div class="all-menu">
    <div class="banner-wrap">
      <a href="" alt=""><img src="/resources/fe/img/img/img-snb-banner-01.png" alt="학원·기업교재"/>
      </a>
      <a href="" alt=""><img src="/resources/fe/img/img/img-snb-banner-02.png" alt="1인작가 전용"/>
      </a>
      <a href="" alt=""><img src="/resources/fe/img/img/img-snb-banner-03.png" alt="대표님전용"/>
      </a>
    </div>
    <!-- 첫 번째 그룹: menuData003~006 -->
    <div
      class="category-wrap">
      <!-- menuData003, menuData004 -->
      {% for key in ["menuData003","menuData004"] %}
        <div class="category">
          <strong class="depth-1">{{ menuData[key][0].categories[0].depth1 | safe }}</strong>
          <ul>
            {% for d2 in menuData[key][0].categories[0].depth2List %}
              <li>
                <p class="depth-2">{{ d2.title }}</p>
                <ul>
                  {% for d3 in d2.depth3List %}
                    <li class="depth-3">
                      <a href="#">
                        {{ d3.title }}
                        {% for tpl in d3.tooltipList %}
                          {{ tpl|safe }}
                        {% endfor %}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
      <!-- menuData005 -->
      {% set key = "menuData005" %}
      <div class="category">
        <strong class="depth-1">{{ menuData[key][0].categories[0].depth1 | safe }}</strong>
        <ul>
          <li>
            {% for d2 in menuData[key][0].categories[0].depth2List %}
              <p class="depth-2">{{ d2.title }}</p>
              <ul>
                {% for d3 in d2.depth3List %}
                  <li class="depth-3">
                    <a href="#">
                      {{ d3.title }}
                      {% for tpl in d3.tooltipList %}
                        {{ tpl|safe }}
                      {% endfor %}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endfor %}
          </li>
        </ul>
      </div>
      <!-- menuData006-->
      {% set catg6 = menuData.menuData006[0].categories[0] %}
      <div class="category">
        <strong class="depth-1 focus">{{ catg6.depth1 | safe }}</strong>
        <ul>
          <li>
            {% for idx in range(0, 3) %}
              {% set d2 = catg6.depth2List[idx] %}
              {% if d2 %}
                <p class="depth-2">{{ d2.title }}</p>
                <ul>
                  {% for d3 in d2.depth3List %}
                    <li class="depth-3">
                      <a href="#">{{ d3.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endfor %}
          </li>
          <li>
            {% for idx in range(3, catg6.depth2List | length) %}
              {% set d2 = catg6.depth2List[idx] %}
              {% if d2 %}
                <p class="depth-2">{{ d2.title }}</p>
                <ul>
                  {% for d3 in d2.depth3List %}
                    <li class="depth-3">
                      <a href="#">{{ d3.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endfor %}
          </li>
        </ul>
      </div>
    </div>
    <div
      class="category-wrap">
      <!-- menuData007~012 -->
      {% for key in ["menuData007","menuData008","menuData009","menuData010","menuData011","menuData012"] %}
        <div class="category">
          <strong class="depth-1">{{ menuData[key][0].categories[0].depth1 | safe }}</strong>
          <ul>
            <li>
              {% for d2 in menuData[key][0].categories[0].depth2List %}
                <p class="depth-2">{{ d2.title }}</p>
                <ul>
                  {% for d3 in d2.depth3List %}
                    <li class="depth-3">
                      <a href="#">
                        {{ d3.title }}
                        {% for tpl in d3.tooltipList %}
                          {{ tpl|safe }}
                        {% endfor %}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endfor %}
            </li>
          </ul>
        </div>
      {% endfor %}
    </div>
    <div
      class="category-wrap">
      <!-- menuData013 -->
      {% set catg13 = menuData.menuData013[0].categories[0] %}
      <div class="category">
        <strong class="depth-1">{{ catg13.depth1 | safe }}</strong>
        <ul>
          <li>
            {% for idx in range(0, 2) %}
              {% set d2 = catg13.depth2List[idx] %}
              {% if d2 %}
                <p class="depth-2">{{ d2.title }}</p>
                <ul>
                  {% for d3 in d2.depth3List %}
                    <li class="depth-3">
                      <a href="#">{{ d3.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endfor %}
          </li>
          <li>
            {% for idx in range(2, 4) %}
              {% set d2 = catg13.depth2List[idx] %}
              {% if d2 %}
                <p class="depth-2">{{ d2.title }}</p>
                <ul>
                  {% for d3 in d2.depth3List %}
                    <li class="depth-3">
                      <a href="#">{{ d3.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endfor %}
          </li>
          <li>
            {% for idx in range(4, catg13.depth2List | length) %}
              {% set d2 = catg13.depth2List[idx] %}
              {% if d2 %}
                <p class="depth-2">{{ d2.title }}</p>
                <ul>
                  {% for d3 in d2.depth3List %}
                    <li class="depth-3">
                      <a href="#">{{ d3.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endfor %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>