<div class="pagination">
  <ul class="item-wrap">
    <li class="item prev">
      <a href="">이전</a>
    </li>
    <li class="item --active">
      <a href="">1</a>
    </li>
    <li class="item">
      <a href="">2</a>
    </li>
    <li class="item">
      <span>&middot;&nbsp;&middot;&nbsp;&middot;</span>
    </li>
    <li class="item">
      <a href="">5</a>
    </li>
    <li class="item next disabled">
      <span>다음</span>
    </li>
  </ul>
</div>