<div class="terms-box">
  <p>빌포스트㈜(이하 '회사'라 함)는 개인정보보호법에 따라 이용자의 개인정보 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다. 회사는
    개인정보처리방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지(팝업공지))을 통하여 공지할 것입니다.</p>
  <p>○ 본 방침은 2024년 10월 8일부터 시행 됩니다.</p>
  <p class="title --dot">제1조(개인정보의 처리목적)</p>
  <p>회사는 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 개인정보 보호법 제18조에 따라 별도의 동의를 받는 등
    필요한 조치를 이행할 예정입니다.</p>
  <ul>
    <li>1. 칼라미 회원 가입 및 관리 회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별․인증, 회원자격 유지․관리, 제한적 본인확인제 시행에 따른 본인확인, 서비스 부정이용 방지, 만 14세 미만 아동의
      개인정보 처리시 법정대리인의 동의여부 확인, 각종 고지․통지, 고충처리 등을 목적으로 개인정보를 처리합니다.</li>
    <li>2. 재화 또는 서비스 제공 물품배송, 서비스 제공, 계약서/청구서 발송, 콘텐츠 제공, 맞춤서비스 제공, 본인인증, 요금결제/정산, 채권추심 등을 목적으로 개인정보를 처리합니다.</li>
    <li>3. 고충 처리 민원인의 신원 확인, 민원사항 확인, 사실조사를 위한 연락/통지, 처리결과 통보 등의 목적으로 개인정보를 처리합니다.</li>
    <li>4. 서비스 개발 이용자들이 제공한 개인정보를 바탕으로 보다 더 유용한 서비스를 개발할 수 있습니다. 회사는 신규 서비스 개발이나 컨텐츠의 확충 시에 기존 이용자들이 회사에 제공한 개인정보를 바탕으로 개발해야
      할 서비스의 우선 순위를 보다 더 효율적으로 정하고, 회사는 이용자들이 필요로 하는 컨텐츠를 합리적으로 선택하여 제공할 수 있습니다.</li>
  </ul>
  <p class="title --dot">제2조(개인정보의 처리 및 보유기간)</p>
  <p>회사는 법령에 따른 개인정보 보유․이용기간 또는 정보주체로부터 개인정보를 수집시에 동의받은 개인정보 보유․이용기간 내에서 개인정보를 처리 보유합니다.</p>
  <ul>
    <li>1. 칼라미 회원 가입 및 관리 : 칼라미 홈페이지 탈퇴시까지<br/>다만, 다음의 사유에 해당하는 경우에는 해당 사유 종료시까지
      <ul>
        <li>1) 관계 법령 위반에 따른 수사․조사 등이 진행중인 경우에는 해당 수사․조사 종료시까지</li>
        <li>2) 홈페이지 이용에 따른 채권․채무관계 잔존시에는 해당 채권․채무관계 정산시까지</li>
      </ul>
    </li>
    <li>2. 재화 또는 서비스 제공 : 재화․서비스 공급완료 및 요금결제․정산 완료시까지<br/>다만, 다음의 사유에 해당하는 경우에는 해당 기간 종료시까지
      <ul>
        <li>1) 「전자상거래 등에서의 소비자 보호에 관한 법률」에 따른 표시․광고, 계약내용 및 이행 등 거래에 관한 기록
          <ul>
            <li>- 표시․광고에 관한 기록 : 6월</li>
            <li>- 계약 또는 청약철회, 대금결제, 재화 등의 공급기록 : 5년</li>
            <li>- 소비자 불만 또는 분쟁처리에 관한 기록 : 3년</li>
          </ul>
        </li>
        <li>2)「통신비밀보호법」제41조에 따른 통신사실확인자료 보관
          <ul>
            <li>- 가입자 전기통신일시, 개시․종료시간, 상대방 가입자번호, 사용도수, 발신기지국 위치추적자료 : 1년</li>
            <li>- 컴퓨터통신, 인터넷 로그기록자료, 접속지 추적자료 : 3개월</li>
          </ul>
          <li>3) 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」시행령 제29조에 따른 본인확인정보 보관 : 게시판에 정보 게시가 종료된 후 6개월</li>
        </ul>
      </ul>
    </li>
  </ul>
  <p class="title --dot">제3조(정보주체와 법정대리인의 권리․ 의무 및 행사방법)</p>
  <ul>
    <li>1. 정보주체는 회사에 대해 언제든지 개인정보 열람, 정정, 삭제, 처리정지 요구 등의 권리를 행사할 수 있습니다.</li>
    <li>2. 제1항에 따른 권리 행사는 회사에 대해 개인정보보호법 시행령 제41조 제1항에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며, 회사는 이에 대해 지체없이 조치하겠습니다.</li>
    <li>3. 제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 이 경우 개인정보 보호법 시행규칙 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.</li>
    <li>4. 개인정보 열람 및 처리정지 요구는 개인정보보호법 제35조 제5항, 제37조 제2항에 의하여 정보 주체의 권리가 제한 될 수 있습니다.</li>
    <li>5. 개인정보의 정정 및 삭제 요구는 다른 법령에서 그 개인정보가 수집 대상으로 명시되어 있는 경우에는 그 삭제를 요구할 수 없습니다.</li>
    <li>6. 회사는 정보주체 권리에 따른 열람의 요구, 정정/삭제의 요구, 처리정지의 요구 시 열람 등 요구를 한 자가 본인이거나 정당한 대리인인지를 확인합니다.</li>
  </ul>
  <p class="title --dot">제4조(처리하는 개인정보 항목)</p>
  <p>회사는 다음의 개인정보 항목을 처리하고 있습니다.</p>
  <ul>
    <li>1. 칼라미 회원 가입 및 관리
      <ul>
        <li>1) 회원 정보 입력
          <ul>
            <li>필수항목 : 이름, 아이디, 비밀번호, 이메일, 휴대전화번호 선택항목 : 전화번호, 주소</li>
          </ul>
        </li>
        <li>2) 사업자 정보 입력
          <ul>
            <li>필수항목 : 고객 구분 선택(개인, 법인사업자, 개인사업자, 간이사업자)</li>
            <li>선택항목 : 회사명, 대표자명, 사업자 번호, 세금계산서 이메일, 사업자 주소</li>
          </ul>
        </li>
        <li>3) 본인인증
          <ul>
            <li>필수항목 : 이름, 성별, 생년월일, 휴대전화번호, 통신사업자, 내/외국인 여부, 암호화된 이용자 확인값(CI), 중복가입확인정보(DI)</li>
          </ul>
        </li>
        <li>4) 첨부파일
          <ul>
            <li>선택항목 : 통장사본, 사업자등록증</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>2. 인쇄물 주문/제작 시
      <ul>
        <li>1) 주문자 정보
          <ul>
            <li>선택항목 : 이름, 회사명, 휴대전화, 이메일</li>
          </ul>
        </li>
        <li>2) 배송지정보
          <ul>
            <li>필수항목 : 수령인, 연락처, 주소</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>3. 칼라미의 인터넷 서비스 이용 과정에서 아래 개인 정보 항목이 자동으로 생성되어 수집될 수 있습니다.
      <ul>
        <li>- IP주소, 쿠키, MAC주소, 서비스 이용기록, 방문기록, 불량 이용기록 등</li>
      </ul>
    </li>
  </ul>
  <p class="title --dot">제5조(개인정보의 파기)</p>
  <ul>
    <li>1. 회사는 개인정보 보유기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체없이 해당 개인정보를 파기합니다.</li>
    <li>2. 정보주체로부터 동의받은 개인정보 보유기간이 경과하거나 처리목적이 달성되었음에도 불구하고 다른 법령에 따라 개인정보를 계속 보존하여야 하는 경우에는, 해당 개인정보를 별도의 데이터베이스(DB)로 옮기거나
      보관 장소를 달리하여 보존합니다.
      <ul>
        <li>1) 파기절차
          <p>회사는 파기 사유가 발생한 개인정보를 선정하고, 회사의 개인정보 보호책임자의 승인을 받아 개인정보를 파기합니다.</p>
        </li>
        <li>2) 파기방법
          <p>회사는 전자적 파일 형태로 기록/저장된 개인정보는 기록을 재생할 수 없도록 파기하며, 종이 문서에 기록/저장된 개인정보는 분쇄기로 분쇄하거나 소각하여 파기합니다.</p>
        </li>
      </ul>
    </li>
  </ul>
  <p class="title --dot">제6조(개인정보처리 위탁에 관한 사항)</p>
  <ul>
    <li>회사는 이용자의 동의 없이 이용자의 정보를 외부 업체에 위탁하지 않습니다.</li>
    <li>향후 그러한 필요가 생길 경우, 위탁 대상자와 위탁 업무 내용에 대해 사전 동의를 받도록 하겠습니다.</li>
  </ul>
  <p class="title --dot">제7조(개인정보의 제3자 제공에 관한 사항)</p>
  <p>회사는 원칙적으로 이용자의 개인정보를 제1조 (개인정보의 처리 목적)에서 명시한 범위 내에서 처리하며, 이용자의 사전 동의 없이는 본래의 범위를 초과하여 처리하거나 제3자에게 제공하지 않습니다. 단, 정보주체의
    동의, 법률의 특별한 규정 등 '개인정보보호법' 제17조 및 제18조에 해당하는 경우에만 개인정보를 제3자에게 제공합니다.</p>
  <ul>
    <li>1) 정보주체로부터 별도의 동의를 받은 경우</li>
    <li>2) 다른 법률에 특별한 규정이 있는 경우</li>
    <li>3) 명백히 정부주체 또는 제3자의 급박한 생명, 신체, 재산의 이익을 위하여 필요하다고 인정되는 경우</li>
    <li>4) 개인정보를 목적 외의 용도로 이용하거나 이를 제3자에게 제공하지 아니하면 다른 법률에서 정하는 소관 업무를 수행할 수 없는 경우로서 보호위원회의 심의ㆍ의결을 거친 경우</li>
    <li>5) 조약, 그 밖의 국제협정의 이행을 위하여 외국정보 또는 국제기구에 제공하기 위하여 필요한 경우</li>
    <li>6) 범죄의 수사와 공소의 제기 및 유지를 위하여 필요한 경우</li>
    <li>7) 법원의 재판업무 수행을 위하여 필요한 경우</li>
    <li>8) 형 및 감호, 보호처분의 집행을 위하여 필요한 경우</li>
    <li>9) 공중위생 등 공공의 안전과 안녕을 위하여 긴급히 필요한 경우</li>
  </ul>
  <p class="title --dot">제8조(개인정보의 안전성 확보조치)</p>
  <p>회사는 개인정보보호법 제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.</p>
  <ul>
    <li>1. 관리적 조치
      <dl>
        <dt>- 내부관리계획 수립/시행, 정기적 직원 교육 등</dt>
        <dd>: 개인정보의 안전한 처리를 위하여 내부관리계획을 수립하고 시행하며 승인 이력 및 개정 이력을 관리하고 개인정보보호 책임자, 담당자의 지정, 역할 및 의무 등을 명시하며 안전성 확보 조치 등을 이행하고
          있습니다.</dd>
        <dt>- 개인정보 취급 직원의 최소화</dt>
        <dd>: 개인정보를 취급하는 직원을 지정하고 그 인원을 한정시켜 최소화하여 개인정보를 처리하고 있습니다.</dd>
        <dt>- 정기적인 자체 감사 실시</dt>
        <dd>: 개인정보 취급 관련 안전성 확보를 위해 정기적(월 1회 이상)으로 자체 점검을 실시하고 있습니다.</dd>
        <dt>- 퇴사 또는 부서이동 시 권한 회수</dt>
        <dd>: 퇴사 또는 부서 이동 등 담당자가 변경될 경우 즉시 해당 계정을 통한 개인정보 접근 권한을 말소하고 있습니다.</dd>
        <dt>- 보안서약서의 징구</dt>
        <dd>: 전 직원을 대상으로 개인정보 유출 방지에 대한 보안서약서를 입, 퇴사시 작성하고 있으며 매년 5월 재 갱신을 하고 있으며 정기적으로 개인정보 처리방침과 관련하여 이행 사항 및 준수 여부를 검사하고
          있습니다.</dd>
      </dl>
    </li>
    <li>2. 기술적 조치
      <dl>
        <dt>- 개인정보에 대한 접근 제한</dt>
        <dd>: 개인정보를 처리하는 시스템에 대한 접근 권한의 부여, 변경, 말소를 통하여 개인정보에 대한 접근 통제를 위하여 필요한 조치(서버접근제어)를 하고 있습니다.</dd>
        <dt>- 해킹 등에 대비한 기술적 대책</dt>
        <dd>: 모든 임직원의 PC는 바이러스 백신 프로그램을 의무적으로 설치하여 사용하고 있으며, 사내 보안 시스템을 통해 직원에 의한 데이터 유출을 사전에 방지하고 있습니다. 또한 P2P, 메신저, 원격 프로그램,
          이동식 매체, 인터넷 등의 사용을 금지하고 있습니다.</dd>
      </dl>
    </li>
    <li>3. 물리적 조치
      <dl>
        <dt>- 문서 보안을 위한 잠금장치의 사용</dt>
        <dd>: 개인정보를 보관용으로 출력하여 저장하지 않으며 회사 내부 업무를 위한 중요 문서 또는 업무에 사용되는 최소한의 프로그램의 설치를 위해 사용하는 인가된 보조저장매체는 잠금장치가 있는 안전한 장소에 보관하고
          있습니다.</dd>
        <dt>- 개인정보의 암호화</dt>
        <dd>: 개인정보는 저장하지 않으며 이용자 요청 시에는 암호화하여 저장하고 개인정보를 전용 라인을 통해 전송 받는 경우에는 물리적, 기술적 암호화 조치를 하여 전송 받도록 하고 있습니다.</dd>
        <dt>- 접속 기록의 보관 및 위변조 방지</dt>
        <dd>: 개인정보처리시스템에 접속한 기록을 최소 1년 이상 보관/관리하고 있으며, 접속 기록이 위변조 및 도난/분실 무결성에 위배되지 않도록 물리적, 기술적으로 보안을 하고 있습니다.</dd>
        <dt>- 비인가자에 대한 출입 통제</dt>
        <dd>: 사내 제한구역 및 통제구역을 지정하여 내부 절차에 따라 출입이 가능하며 출입관리대장을 작성하고 각 출입문에는 지문인식이 장치가 설치되어 있습니다.</dd>
      </dl>
    </li>
  </ul>
  <p class="title --dot">제9조(개인정보 자동 수집 장치의 설치∙운영 및 거부에 관한 사항)</p>
  <ul>
    <li>1. 회사는 이용자에게 개별적인 맞춤서비스를 제공하기 위해 이용정보를 저장하고 수시로 불러오는 ‘쿠키(cookie)’를 사용합니다.</li>
    <li>2. 쿠키는 웹사이트를 운영하는데 이용되는 서버(http)가 이용자의 컴퓨터 브라우저에게 보내는 소량의 정보이며 이용자들의 PC 컴퓨터내의 하드디스크에 저장되기도 합니다.
      <ul>
        <li>1) 쿠키의 사용목적: 이용자가 방문한 각 서비스와 웹 사이트들에 대한 방문 및 이용형태, 인기 검색어, 보안접속 여부, 등을 파악하여 이용자에게 최적화된 정보 제공을 위해 사용됩니다.</li>
        <li>2) 쿠키 수집 거부 : 이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 이용자는 웹 브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 모든 쿠키의
          저장을 거부할 수도 있습니다. 다만, 쿠키 설치를 거부할 경우 웹 사용이 불편해지며, 로그인이 필요한 일부 서비스 이용에 어려움이 있을 수 있습니다.
          <ul>
            <li>① Internet Explorer: 메뉴 > 도구 > 인터넷옵션 > 일반 > 검색 기록 > ‘삭제’ 및 ‘설정’
            </li>
            <li>② Chrome: 메뉴 > 설정 > ‘개인정보 및 보안’</li>
            <li>③ Safari: 환경설정 > ‘크로스 사이트 추적 방지’ 및 ‘모든 쿠키 차단’</li>
            <li>④ 이 외에도 Firefox, Opera 등 주요 인터넷 웹브라우저들도 쿠키 삭제 기능을 제공하고 있습니다.</li>
          </ul>
        </li>
        <li>3) 쿠키 저장을 거부할 경우 맞춤형 서비스 이용에 어려움이 발생할 수 있습니다.</li>
      </ul>
    </li>
  </ul>
  <p class="title --dot">제10조(개인정보 보호책임자 지정 및 개인정보보호 담당부서)</p>
  <ul>
    <li>1. 회사는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.
      <p>&lt;개인정보 보호책임자&gt;</p>
      <ul>
        <li>성명 : 김연걸</li>
        <li>직위 : 상무</li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>2. 회사는 고객의 개인정보를 보호하고 개인정보와 관련한 불만 및 민원 서비스를 처리하기 위하여 아래와 같이 관련 부서를 지정하고 있습니다.
      <p>&lt;개인정보보호 담당부서&gt;</p>
      <ul>
        <li>개인정보보호담당 부서 : 빌포스트 전산본부</li>
        <li>전화번호 : 02-2024-3352, 2024-3361</li>
        <li>이메일 : ht.han@billpost.co.kr, kimsm@billpost.co.kr</li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>3. 정보 주체께서는 회사의 칼라미 서비스를 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당부서로 문의하실 수 있습니다. 회사는 정보주체의
      문의에 대해 지체없이 답변 및 처리해드릴 것입니다.</li>
  </ul>
  <p class="title --dot">제11조(권익침해 구제방법)</p>
  <p>정보주체는 아래의 기관에 대해 개인정보 침해에 대한 피해구제, 상담 등을 문의하실 수 있습니다. 아래의 기관은 회사와는 별개의 기관으로서, 회사의 자체적인 개인정보 불만처리, 피해구제 결과에 만족하지 못하시거나
    보다 자세한 도움이 필요하시면 문의하여 주시기 바랍니다.</p>
  <ul>
    <li>개인정보 침해신고센터 (한국인터넷진흥원 운영)
      <ul>
        <li>- 소관업무 : 개인정보 침해사실 신고, 상담 신청</li>
        <li>- 홈페이지 : privacy.kisa.or.kr</li>
        <li>- 전화 : (국번없이) 118</li>
        <li>- 주소 : (58324) 전남 나주시 진흥길 9(빛가람동 301-2) 3층 개인정보침해신고센터</li>
      </ul>
    </li>
  </ul>
  <p>대검찰청 사이버수사과 : (국번없이) 1301 (www.spo.go.kr)</p>
  <p>경찰청 사이버수사국 : (국번없이) 182 (https://ecrm.cyber.go.kr)</p>
  <p class="title --dot">제12조(개인정보 처리방침 변경)</p>
  <p>이 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항(또는 개별공지(팝업공지)을 통하여 고지할 것입니다.</p>
  <p>개인정보처리방침 변경일자 : 2024년 5월 14일</p>
  <p>개인정보처리방침 최종변경일자 : 2024년 10월 8일</p>
</div>