<div class="terms-box">
  <p class="title">[ 비회원 개인정보 수집 및 이용안내 ]</p>
  <p>칼라미 홈페이지는 서비스를 이용하시고자 할 경우에 필요한 최소한의 개인정보를 수집하며, 이에 대한 동의를 얻고 있습니다. 정보주체는 개인정보 수집 동의를 거부하실 수 있습니다. 다만 이 경우 비회원 서비스
    이용이 불가능합니다.</p>
  <p class="title">[ 개인정보의 수집 및 이용목적 ]</p>
  <p>비회원 구매 서비스 제공(주문자 정보확보, 물품에 관한 배송지 정보 확보, 불만처리 의사소통 경로확보)</p>
  <p class="title">[ 수집하는 개인정보의 항목]</p>
  <ul>
    <li>1) 주문자 정보는
      <ul>
        <li>- 필수항목: 이름, 휴대전화번호, 이메일</li>
      </ul>
    </li>
    <li>2) 배송지정보
      <ul>
        <li>- 필수항목: 수령인, 연락처, 주소</li>
      </ul>
    </li>
    <li>3) 서비스 이용 중 대금 결제, 배송업무, 서비스제공 및 법정문제 등의 처리를 위하여 다음과 같은 정보들이 수집될 수 있습니다.
      <ul>
        <li>- IP주소, 쿠키, MAC주소, 서비스 이용기록, 방문기록, 불량 이용기록 등</li>
      </ul>
    </li>
  </ul>
  <p class="title">[ 보유 및 이용기간 ]</p>
  <p>이용자의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다 단, 관계 법령에 의해 보관해야 하는 정보는 아래와 같이 법령이
                정한 기간만 보관합니다.</p>
  <ul>
    <li>1) 전자상거래 등에서 소비자 보호에 관한 법률
      <ul>
        <li>- 계약 또는 청약철회 등에 관한 기록: 5년 보관</li>
        <li>- 대금결제 및 재화 등의 공급에 관한 기록: 5년 보관 - 소비자의 불만 또는 분쟁처리에 관한 기록: 3년</li>
        <li>보관 - 표시, 광고에 관한 기록: 6개월 보관</li>
      </ul>
    </li>
    <li>2)전자금융거래법
      <ul>
        <li>- 전자금융에 관한 기록: 5년 보관</li>
      </ul>
    </li>
    <li>3)통신비밀보호법
      <ul>
        <li>- 로그인 기록: 3개월</li>
      </ul>
    </li>
  </ul>
</div>