<!-- tab -->
<section class="content-box">
  <div class="tab-wrap">
    <a href="#product-detail" class="btn-tab --active">
      <span>상품상세</span>
    </a>
    <a href="#product-delivery" class="btn-tab">
      <span>출고/배송/기타</span>
    </a>
  </div>
</section>
<!-- 상품상세정보 -->
<section class="content-box">
  <div
    id="product-detail" class="product-detail">
    <!-- //더보기 버튼 누르면 .more 추가 -->
    <div class="img-cont">
      <img src="/resources/fe/img/productDetail/A001_detailpage_1.jpg" alt="상품상세 이미지"/>
    </div>
    <div class="btn-wrap">
      <button type="button" class="btn-more">
        <span>상세정보 더보기</span>
        <!-- <span>상세정보 접기</span> //더보기 버튼 누르면 텍스트 변경-->
      </button>
    </div>
  </div>
</section>
<section class="content-box">
  <div id="product-delivery" class="product-delivery">
    <div class="title-wrap">
      <p class="cont-title">출고/배송/기타</p>
    </div>
    <div class="desc-box border-box">
      <p class="guide-basic-title">상품주문 시 유의사항</p>
      <ul class="guide-sub-deep --small">
        <li>- 장바구니 담긴 상품은 최대 7일동안 보관 후 삭제</li>
        <li>- 상품 결제가 완료된 후에 접수가 진행됩니다.</li>
        <li>- 주문사양이 같고 배송지가 다른 경우 장바구니 안에서는 주문 불가</li>
      </ul>
      <p class="guide-basic-title">취소/환불 안내</p>
      <ul class="guide-sub-deep --small">
        <li>- 결제완료 후 조판이 진행된 주문건 환불/취소 불가</li>
        <li>- 교정확인 완료 후 제작 진행된 제품, 화면과 색상차이로 인한 재작업 모두 환불/취소 불가</li>
        <li>- 300dpi 저해상도 이하 파일첨부 경우, 오타 및 내용오류로 인한 환불/취소 불가</li>
      </ul>
    </div>
    <ul class="description">
      <li>*고객의 실수로 인한 환불/반품/교환/취소 불가합니다.</li>
      <li>*이미 출고한 상품은 환불/반품/교환/취소 불가합니다.</li>
    </ul>
  </div>
</section>