<div class="side-wrap">
  <h3>고객센터</h3>
  <nav class="side-nav">
    <div class="item">
      <ul>
        <!-- 선택되면 li에 --active 클래스 추가 -->
        <li class="--active">
          <a href="#">홈</a>
        </li>
      </ul>
    </div>
    <div class="item">
      <ul>
        <li><a href="#">공지사항</a></li>
        <li><a href="#">견적문의</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">작업가이드</a></li>
      </ul>
    </div>
    <div class="item">
      <ul>
        <li><a href="#">이벤트</a></li>
      </ul>
    </div>
    <div class="item">
      <ul>
        <li><a href="#">출고안내</a></li>
        <li><a href="#">이용약관</a></li>
        <li><a href="#">개인정보처리방침</a></li>
      </ul>
    </div>
    <div class="item">
      <ul>
        <li><a href="#">회사소개</a></li>
        <li><a href="#">인사말</a></li>
        <li><a href="#">찾아오시는 길</a></li>
        <li><a href="#">브랜드스토리</a></li>
      </ul>
    </div>
  </nav>
</div>