<div class="side-wrap">
  <h3>마이페이지</h3>
  <nav class="side-nav">
    <div class="item">
      <ul>
        <li
          class="--active">
          <!-- 선택되면 --active 클래스 추가 -->
          <a href="#">홈</a>
        </li>
      </ul>
    </div>
    <div class="item">
      <p class="depth-2">쇼핑관리</p>
      <ul>
        <li><a href="#">주문배송조회</a></li>
        <li><a href="#">결제대기</a></li>
        <li><a href="#">교정확인</a></li>
      </ul>
    </div>
    <div class="item">
      <p class="depth-2">할인관리</p>
      <ul>
        <li><a href="#">쿠폰</a></li>
      </ul>
    </div>
    <div class="item">
      <p class="depth-2">나의 정보 관리</p>
      <ul>
        <li><a href="#">이용후기</a></li>
        <li><a href="#">1:1 문의</a></li>
        <li><a href="#">배송지관리</a></li>
        <li><a href="#">회원정보수정</a></li>
        <li><a href="#">회원탈퇴</a></li>
      </ul>
    </div>
  </nav>
  <div class="item">
    <dl class="product-price --round">
      <dt class="title">선입금</dt>
      <dd class="deposit-price">
        <strong>100,000,000</strong>원</dd>
      <dt class="title">미수금</dt>
      <dd class="receivable-price">
        <strong>-100,000,000</strong>원</dd>
    </dl>
  </div>
</div>