<section class="side-item">
  <h3>마이페이지</h3>
  <nav>
    <ul class="category-list">
      <li class="category-item">
        <p class="depth-1 --hide">마이페이지</p>
        <ul>
          <li class="category-item">
            <a href="#">홈</a>
          </li>
        </ul>
      </li>
      <li class="category-item">
        <p class="depth-1">쇼핑관리</p>
        <ul>
          <li class="category-item">
            <a href="#">주문관리</a>
          </li>
        </ul>
      </li>
      <li class="category-item">
        <p class="depth-1">할인관리</p>
      </li>
      <li class="category-item">
        <p class="depth-1">나의 정보 관리</p>
      </li>
    </ul>
  </nav>
</section>