<div class="terms-box">
  <p class="terms-title">-- 인쇄 진행에 대한 공급 계약(약관) --</p>
  <p class="title">인쇄 진행에 대한 공급 계약(약관) 이란?</p>
  <p>인쇄물 작업 데이터를 당사에 주문하기 전에 데이터에 대한 오류, 배송, 재작업 등에 관한 규정을 정의하여 고객과 당사와의 원활한 서비스를 진행하기 위한 목적으로 제정한 약관입니다. 인쇄물 주문전 다음 사항을
    반드시 점검후 진행해주시기 바랍니다. 아래 주의사항들을 반드시 준수해 주어야만 출력, 인쇄 사고 없이 원하는 인쇄결과를 얻으실 수 있습니다. 인쇄 납품일의 단축과 신속한 출력 서비스를 위해서는 다음에 제시하는 약관을
    세심하게 숙지하여 협조해 주시기 바랍니다.</p>
  <p class="title --dot">부가사항</p>
  <ul>
    <li>고객의 작업 의뢰는 당사의 인쇄 진행에 대한 공급 계약(이하 ‘약관’으로 표기)에 동의한다는 뜻으로 인정합니다.</li>
    <li>다음의 규약대로 작업하지 않은 데이터에 대해서는 당사는 재작업을 해드릴 수 없으며 결과에 대한 책임을 지지 않습니다.</li>
    <li>약관에 명기하지 않은 기타 제반 사항에 대해서는 일반 상거래 및 동종 인쇄 제작 업체의 제작 관행에 따릅니다.</li>
  </ul>
  <p class="title --dot">가격</p>
  <ul>
    <li>1. 가격은 사전 통보 없이 변경될 수 있으며 홈페이지를 통해서 공지합니다.</li>
    <li>2. 지대 및 기타 원가 상승 요인에 따라 가격이 변경될 수 있으므로 홈페이지를 통해서 확인 바랍니다.</li>
    <li>3. 가격표에 명기한 단가는 부가세 별도 금액입니다.</li>
    <li>4. 견본 없이 유선 통화로 진행한 견적은 최종 견적이 아닙니다. (제작 세부 내용에 따라 금액이 조정될 수 있습니다)</li>
    <li>5. 정확한 매수의 납품을 요구하시는 경우에는 종이 여분을 더하여야 하므로 금액이 추가됩니다.</li>
    <li>6. 당사의 제작 공정에 따라 제작 진행 중 고객의 요구에 의해 작업을 취소하는 경우, 당사의 진행 단계까지 소요된 금액을 제외하고 선입금으로 대체합니다.</li>
    <li>7. 당사에서 제시한 가격표에 명기한 금액은 고객의 의뢰한 인쇄물에 대한 제작비이며 배송료는 별도입니다.</li>
  </ul>
  <p class="title --dot">디자인 작업시 주의사항</p>
  <ul>
    <li>운영체제, 사용 프로그램에 따른 세부 사항은 품목/프로그램별 작업 및 유의 사항을 참조하시기 바랍니다.</li>
    <li>아래의 내용은 프로그램의 업그레이드, 컴퓨터 사용 환경에 따라 달라질 수 있으므로 별도 문의 바랍니다.</li>
  </ul>
  <ul>
    <li>1. 코팅인쇄물의 경우, 바탕색이 진하면 기포가 생길 수 있습니다.</li>
    <li>2. 비코팅 명함의 경우, 뒷면에 앞면의 색상 일부가 묻을 수 있습니다.</li>
    <li>3. 사용 색상은 CMYK를 기본으로 하며 별색인 경우에는 당사의 지정 방법에 따라야 합니다.<br/>해당 내용은 품목/프로그램별 작업 및 유의 사항을 참조하시기 바랍니다.</li>
    <li>4. 재단시 종이는 1~2mm, 스티커는 2~3mm의 오차가 있습니다. 재단시 발생하는 오차를 감안하여 편집하여야 합니다.</li>
    <li>5. 세로 명함은 전체 디자인에 걸쳐 각각 앞면 90도, 뒷면 -90도로 회전하여야 합니다.
      <ul>
        <li>- 양면일 경우 (앞면-왼쪽 배치 / 뒷면-오른쪽 배치), 단면일 경우 (밑으로 배치)</li>
      </ul>
    </li>
    <li>6. 명함 뒷면이 먹으로 나오길 원하시면 뒷면 데이터를 먹으로 보내야 합니다. 칼라로 제작할 경우 양면(5도)이 양면칼라(8도)로 나올 수 있습니다.</li>
    <li>7. 고객이 의뢰한 데이터는 당사에서 수정하지 않습니다. 따라서 편집한 내용과 인쇄 결과물과의 차이 발생 시, 데이터 확인에 대한 책임은 당사가 지지 않습니다.</li>
    <li>8. 고객의 요구에 의해 당사에서 수정한 내용으로 인하여 발생한 문제에 대해서는 당사는 일체의 책임을 지지 않습니다.</li>
    <li>9. 당사의 공급계약에 따르지 않아 문제 발생시, 당사는 고객에게 재작업을 의뢰할 수 있으며 비용은 고객 부담입니다.</li>
    <li>10. 완성되지 않은 데이터를 고객의 요구에 의해 당사에서 수정한 경우 당사는 고객에 대하여 추가 비용을 청구합니다.</li>
  </ul>
  <p class="title --dot">사용 이미지</p>
  <ul>
    <li>1. 컬러 인쇄을 위하여 사용한 이미지는 CMYK 모드의 EPS 또는 TIFF 포맷이어야 하며 해상도는 최소 300dpi, 최대 400dpi 이어야 합니다.<br/>(단색 이미지는 Grayscale 모드 허용)</li>
    <li>2. 이미지에는 반드시 OPI 정보가 없는 이미지이어야 합니다.</li>
    <li>3. 모든 이미지에는 컬러 프로필이(ICC Profile)이 포함되어 있지 않아야 합니다.</li>
    <li>4. 인터넷 홈페이지에 있는 저해상(72dpi) 이미지나 디지털 카메라로 촬영한 RGB 모드의 이미지는 반드시 CMYK 모드로 변환 저장해서 사용해야 고품질 이미지 출력 결과를 얻을 수 있습니다.</li>
    <li>5. 저해상(72dpi) 이미지를 포토샵에서 고해상으로 전환한다고 해서 이미지 품질이 향상되지 않습니다. 반드시 고해상(300dpi) 이미지로 원본을 저장하여 사용 용도에 적합하게 축소, 수정하여 사용해야 합니다.</li>
  </ul>
  <p class="title --dot">사용 서체</p>
  <ul>
    <li>1. 문서에 사용한 서체는 기본적으로 고객이 함께 제공한 서체를 사용함을 원칙으로 합니다.<br/>특히 Windows의 아래아 한글에서 사용하는 ‘신명조’, ‘중고딕’ 등의 HFT 방식의 서체는 가급적 사용을
      제한 합니다.<br/>HFT 글꼴 사용에 따른 출력 품질과 약물로 인한 서체 대치, 유실 등의 문제는 책임을 지지 않습니다.<br/>
    또한 PDF 문서에 서체 임베드를 위한 적합한 규격이 아닌 휴먼 계열의 서체와 문체부 바탕체 등의 서체는 출력시 다른 서체로 대치 되어 출력될 수 있습니다.</li>
    <li>2. Macintosh OS 9의 시스템 기본 서체인 ‘서울체(Seoul)’, ‘한강체’, ‘Apple Myungjo’ 등의 서체는 출력에서 지원되지 않습니다.</li>
    <li>3. 바탕이나 배경이 있는 영역에 검정(K=100%) 텍스트가 있는 경우 오버프린트 되기 때문에, 바탕 색상은 최소 30% 이상의 색상 농도를 초과하지 않아야 합니다. 그리고 나머지 색상(C, M, Y)의
      색상 농도 합계는 90% 이상을 초과하지 않아야 원하는 원래 텍스트 색상이 표현됩니다.</li>
  </ul>
  <p class="title --dot">인쇄 색상</p>
  <ul>
    <li>1. 컴퓨터 화면에 표현되는 색상과 최종 출력, 인쇄물의 색상은 당연히 차이가 발생합니다. 컴퓨터 모니터의 색상은 RGB 방식이며 컬러 출력, 인쇄물은 CMYK 모드로 인쇄되기 때문에 차이가 발생합니다.</li>
    <li>2. QuarkXPress, Adobe InDesign, CorelDraw, Adobe Illustrator와 같은 CMYK 작업 모드를 지원하지 않는 Windows의 한글, MS Office 등에서 작업한
      이미지나 문서는 RGB 방식입니다.<br/>따라서 이러한 프로그램에서 작업한 문서는 컬러출력, 인쇄시 모니터 색상과 최종 출력물의 색상은 많은 차이가 발생합니다.</li>
    <li>3. 최종 인쇄물과 색상차이를 사전에 예측하거나 일치시키려면 출력물 주문 시에 필름교정지 출력 또는 컬러 교정지 출력 옵션을 이용하여 교정 용지를 이용해 인쇄 교정을 해야 합니다.</li>
    <li>4. CMYK 이외의 별색(Spot Color)(PANTONE 컬러 등)을 사용하면 최종 인쇄물에서는 원본의 색상과 인쇄물은 현격한 차이가 발생합니다.<br/>특별히 4도(CMYK ) 이상의 별색 출력을 하지
      않으면서 사용한 별색은 출력시 강제로 CMYK로 분판되기 때문에 원래의 색상과 차이가 발생하게 됩니다.</li>
    <li>5. 추가 인쇄인 경우에도 당사 혹은 타사에서 제작한 인쇄 결과물을 첨부하여야 합니다.</li>
    <li>6. 합판 인쇄시, 한 종류의 데이터에 대한 색상을 기준으로 할 수 없으므로 인쇄 결과 색상에 다소 차이가 있을 수 있습니다.</li>
    <li>7. 양면 합판 인쇄 시, 앞뒤면의 색상 차이가 있을 수 있습니다.</li>
    <li>8. 지질에 따라 같은 색 지정이라 하더라도 색상의 차이가 있습니다.</li>
    <li>9. 비코팅 혹은 일부 수입지의 인쇄 작업시 인쇄 이외의 다른 면에 색상이 배어나는 경우 재작업해 드리지 않습니다.<br/>(색상이 배어나지 않으려면 UV인쇄로 의뢰하십시오)</li>
    <li>10. 모든 독판 인쇄물 및 카다로그 등 인쇄교정(인쇄교정지, 직접 오시는 경우)을 보시지 않고 샘플(프린트물)만을 첨부하실 경우 당사 직원이 모든 것을 다 보지는 못하기에 잘못된다거나 하는 경우 당사는
      책임을 면할 수 있습니다.</li>
    <li>11. UV 인쇄 디자인 작업시 주의사항 : K100%인 경우 원단 재질에 따라 다르게 인쇄되어 집니다.<br/>(특히 펄지 경우) 펄 종류의 경우 잉크 자체를 흡수하여 순간적으로 표면만 건조되므로 예를 들어
      먹100%의 색을 낼때에 기존의 K100만 주었던 것을, 앞으로는 C50, M30, Y20, K100으로 작업해야 합니다. 종이에 따라 다르게 작업해야 함을 주의하세요. 펄지 인쇄의 경우 배경 색상은 재대로 표현을
      할 수 없습니다.</li>
  </ul>
  <p class="title --dot">재작업</p>
  <ul>
    <li>재작업은 고객의 의뢰에 대해 당사에서 요구한 제반 내용을 고객이 성실히 수행하였음에도 불구하고 당사의 제작 공정에서의 부주의, 장비 에러 등으로 인하여 발생한 결과물에 대해 적용합니다. 따라서 고객의 수정
      요구, 작업 취소, 데이터에 내재한 에러, 제작 공정상 불가피한 내용 등에 대해서는 재작업을 접수하지 않습니다.</li>
    <li>각각의 세부 내용은 해당 부분을 참조하여 주십시오.</li>
  </ul>
  <ul>
    <li>1. 재작업은 출고된 물건을 당사가 모두 회수함을 전제로 진행합니다. 따라서 당사에서 지정한 반품 장소로 제품을 입고 완료된 후 재작업을 진행합니다.<br/>(반품은 출고실 직원과 상의해서 보내 주십시오)</li>
    <li>2. 재작업의 접수는 제품 납품 후 5일 이내에 진행하여야 합니다. 5일이 지난 때에는 재작업이 불가합니다.</li>
    <li>3. 독판일 경우 목형은 당사에서 3개월간 보관합니다. 별도로 회수하실 경우에는 당사에 비치해놓은 별도의 양식에 따라 접수하여 주시기 바랍니다.</li>
    <li>4. 재작업으로 인한 모든 인쇄물의 납기 지연에 의한 손실(법적책임, 신문 삽지, 행사일정차질, 출장일정, 물류비 등)에 대해서는 책임을 지지 않습니다.<br/>(중요한 인쇄물 일수록 2~3일의 여유가 필요합니다)</li>
    <li>5. 재작업으로 인한 손실금액의 환불 금액은 주문 금액에 한정됩니다.</li>
  </ul>
  <p class="title --dot">주문 제품의 유효기간</p>
  <ul>
    <li>주문 제품의 접수 유효기간은 홈페이지 주문일로부터 2개월이 원칙입니다.</li>
    <li>단 아래 3, 4번에 해당하는 경우는 1개월이 접수 유효기간입니다.</li>
    <li>또, 접수 조건이 충족되지 않은 상태에서 유효기간을 지난 주문은 주문이 자동으로 취소됩니다.</li>
  </ul>
  <ul>
    <li>1. 주문 후, 데이터 접수를 완료했지만 유효기간(2개월)내에 은행으로부터의 입금을 확인할 수 없는 경우.</li>
    <li>2. 주문 후, 입금은 완료되었지만 유효기간 내(2개월)에 데이터의 업로드 또는 접수가 없는 경우.</li>
    <li>3. 데이터 에러 통보 및 수정 요청 후에 재접수 되지 않고 주문일부터 1개월을 경과했을 경우.</li>
    <li>4. 고객의 사정에 의하여 작업 진행을 일시 보류 한 후 다음에 작업 진행 통보가 없는 상태로 주문일로부터 1개월을 경과했을 경우.</li>
  </ul>
  <p class="title --dot">인쇄물 출고 및 배송</p>
  <p>출고는 당사에 별도로 마련해놓은 출고 공간에서 고객이 직접 내방하여 주문한 인쇄물을 수령하는 것을 의미하며 배송은 고객의 의뢰에 따라 당사에서 지정한 배송 관련 업체를 통해 고객에게 결과물을 전달하는 것을
    의미합니다.</p>
  <ul>
    <li>1. 주문 제품이 후가공 공정이 있는 경우나 당사의 인쇄 작업 일정의 폭주, 법정 공휴일, 당사의 휴가일 등과 같이 부득이한 사정으로 인하여 출고는 예정보다 늦어질 수 있습니다.</li>
    <li>2. 재작업일 경우 출고 및 배송 일정을 연장합니다.</li>
    <li>3. 주문처와 배송처가 다른 경우에는 홈페이지의 배송란에 별도로 명기하여야 합니다.</li>
    <li>4. 당사 출고실 이외의 고객의 요구에 따른 추가 배송에 대한 비용은 고객이 지불하여야 합니다.</li>
    <li>5. 고객의 요구에 의해 당사에서 별도의 회사에 의뢰하여 배송한 내용에 대해서는 당사에서는 일체의 책임을 지지 않습니다.</li>
    <li>6. 출고 및 배송 기준일은 정상적인 데이터의 접수 완료 시점에서 계산합니다.<br/>따라서 재작업 의뢰, 재접수 등으로 인하여 지연되는 시간만큼 납기 및 출고가 지연됩니다.</li>
    <li>7. 인쇄물 정매를 원하실 경우는 정매수 추가 옵션을 포함하여 주문해야 합니다.<br/>(10% 미만의 수량 부족은 인쇄 공정상 발생할 수 있습니다)</li>
    <li>8. 고객이 직접 방문하여 제품을 확인 후 찾아가는 방문 출고가 원칙이며, 배송과 관련한 문제는 당사에 책임이 없고 해당 서비스 업체에 문의하셔야 합니다.</li>
  </ul>
  <p class="title --dot">접수/누락</p>
  <p>접수란 고객이 당사에 인쇄 작업에 필요한 제반 데이터를 전송하고 그에 따른 제작 비용을 입금하는 것(입금시점-접수시점)을 말합니다.<br/>누락이란 데이터의 손·망실 등으로 인한 제작 지연, 인쇄 관련 장비의
    고장 등과 같은 인위적인 요인으로 인하여 당사가 고객과 약정한 출고일에 정상적으로 출고되지 않은 상태를 의미합니다.</p>
  <ul>
    <li>1. 당사의 접수 완료란 ‘1. 데이터 접수 완료’, ‘2. 입금 완료’의 순서가 완료된 시점을 의미합니다.</li>
    <li>2. 고객의 당사에 대한 제작 의뢰에 대한 비용은 최종 견적 금액에 해당하는 금액을 입금 완료하여야 하며 이를 당사에서 확인한 시점에서 이후 공정을 진행합니다.<br/>따라서 제작 의뢰 시점과 입금 시점이
      다를 경우에는 입금 시점을 기준으로 고객의 의뢰 작업을 진행하며 이에 따라 출고일을 결정합니다.</li>
    <li>3. 신용 카드 결제시 당사에서 카드 관련 회사에 요청한 승인이 완료된 시점을 기준으로 고객의 의뢰 작업을 진행하며 이에 따라 출고일을 결정합니다.</li>
    <li>4. 온라인 접수시 고객의 상호, 전화번호, 입금 은행, 입금자명, 배송지 주소 등의 일부 혹은 전부가 누락되었을 때에는 입금을 완료하였다 하더라도 제작 진행 시점으로 간주하지 않습니다.</li>
    <li>5. 고객이 출고 시점을 특정한 시간까지 지정한 경우에는 추가요금을 받을 수 있습니다.</li>
    <li>6. 접수 완료한 작업은 24시간 이내 출고를 원칙으로 하며 당사의 작업 공정에 따른 일정 상 부득이한 경우에 한하여 출고가 지연될 수 있습니다.<br/>단 후가공이 있는 작업의 경우 1-2일 정도의 추가
      작업시간이 소요됩니다.</li>
    <li>7. 모든 인쇄물은 당사의 사정에 의하여 고객에게 사전 연락 없이 누락될 수 있습니다.<br/>(도착이 안될 시 확인 전화 요망)</li>
    <li>8. 누락 상황 발생시 당사는 최소한의 시간 내에 이를 해소하며 고객에게 별도로 통보해 드립니다.</li>
    <li>9. 모든 데이터는 입금완료 후 데이터를 다운 받아 처리하므로 미입금시 누락 및 지연 될 수 있습니다.</li>
    <li>10. 고객께서 입금하시고 경리과에서 확인할 수 있는 시간은 오후 07시 30분까지 이며 그 이후 입금 분에 대해서는 누락될 수 있습니다.</li>
    <li>11. 오후 6:00~7:00 사이에는 주문량이 폭주하므로 접수 및 입금을 빨리하셔야 누락이 되지 않습니다.</li>
  </ul>
  <p class="title --dot">QuarkXPress 작업 유의사항</p>
  <ul>
    <li>1. 서체는 정체를 사용하여야 하며 볼드, 이탤릭, 윤곽체, 음영체, 굵은체와 같은 글자 꾸밈은 사용하지 마십시오.<br/>(서체가 잘리거나, 밀리거나, 떡이져서 나옵니다)</li>
    <li>2. 서체가 밀릴 수 있으니 텍스트 박스의 여유 공간을 넉넉히 설정하십시오.</li>
    <li>3. 출력 불가능 서체 : 서울체(Seoul), AppleMyungjo</li>
    <li>4. 출력 가능 서체 : 한컴체, 윤서체, 산돌체, 직지(SM)체, 한양체, 아시아체, 서울시스템(로얄다국어포함) 출력 가능합니다.<br/>(상세한 출력 서체 목록은 당사의 사이트 참조)</li>
    <li>5. 약물, 한자 사용 : 지원되는 서체인지 확인 후 사용, 영문중 특수한 서체를 사용하실 때에는 반드시 일러스트에서 아웃라인 작업하여 그림으로 불러 들여 작업하셔야 합니다.</li>
    <li>6. 컬러 만들기: 컬러 팔레트에서 사용하신 모든 색상은 반드시 CMYK모드, 4색 분해를 체크하셔야 합니다.<br/>또한 색상의 이름은 “빨강, 주황, 연두1, 2“등의 흔한 이름은 피하고 분판값으로
      명명해야 합니다.<br/>(예. 금적× → M100 Y100 / 군청× → C100 M100)</li>
    <li>7. 컬러 농도는 최소 10%이상, 5%단위로 지정하십시오.</li>
    <li>8. 편집사이즈는 밖으로 글씨박스가 넘지 않도록 항상 작업 사이즈를 확인하시고 소숫점 단위로는 작업하지 마십시오. (재단이 밀리고 크기가 틀려질 수 있습니다)</li>
    <li>9. 텍스트 박스가 그림 박스 밑에 놓여 있는지 확인하고, 텍스트박스 맨 앞으로 가져오기 명령을 실행하여 출력시 가려지지 않도록 하십시오.</li>
    <li>10. 트랩체크를 정확히 확인해 주십시오. (녹아웃, 디폴트, 오버프린트)</li>
    <li>11. 테두리 글자 사용 : 테두리 글자 사용시 녹아웃을 반드시 체크하십시오.
      <p>바탕이 흰색인 경우에는 녹아웃 효과가 없습니다. 테두리 글자의 경우 횟수를 과다하게 지정하지 마십시오.<br/>(구구리 효과 사용은 10회 미만으로 제한)</p>
    </li>
    <li>12. 둘러싸기 : 텍스트 및 그림박스의 둘러싸기의 외부여백을 없음으로 설정하셔야 합니다.</li>
    <li>13. 재단선 : 별도의 재단선은 없어도 되며 작업이 끝나면 재단박스와 편집 박스의 테두리는 0으로 지정하시기 바랍니다.</li>
    <li>14. 출력용 파일 모으기 : 최종 작업 후 사용서체, 사용그림 목록 체크와 출력용 파일 모으기를 반드시 실행해야 합니다.
      <p>(DCS분판한 그림은 분판한 그림이 따라오지 않는 경우가 있으니 분판하지 마십시오)</p>
    </li>
    <li>15. 여러 종류의 인쇄물을 한 꺼번에 의뢰하실 때에는 하나의 쿼크 데이터로 모아서 접수해 주세요. (여러 페이지는 관계 없음)</li>
    <li>16. 각각의 작업물은 그룹으로, 회전 각도는 항상 0도 이어야 합니다. (합판 오류 발생)</li>
    <li>17. 출력용 파일을 모은 후에는 그림 파일을 수정을 하거나 파일명을 바꾸지 마십시오.</li>
    <li>18. 테두리 및 표작업 XTension 은 사용하지 마십시오. (출력시 에러 발생)</li>
    <li>19. QuarkXPress 프로그램은 화면에 보이는 대로 표현할 뿐 출력(자간/행간/서체)이나, 인쇄(색상)에서 오차가 있을 수 있습니다.
      <p>*쿼크에서 그림이 밀렸을 경우 절대 책임을 지지 않습니다. (작아질 경우/밀릴 경우/없어질 경우 등)</p>
    </li>
    <li>20. 그림은 EPS포맷으로 저장하며 필요한 부분만 잘라내서 사용하십시오. 그렇지 않으면 그림이 밀려날 수 있습니다.</li>
    <li>21. 트랩 정보 보기에서 트래핑 적용 여부(오버프린트, 녹아웃 0.144pt)는 꼭 확인해주십시오.</li>
    <li>22. 특히 테두리 글자 변환을 지정했을 때에는 디폴트(녹아웃 0.144pt)값인지 여부를 확인해주십시오.</li>
    <li>23. 그림박스, 글자박스는 절대 출력 방지로 설정해서는 안됩니다.</li>
    <li>24. 자동 페이지를 지정했을 경우 반드시 직원에게 알려주어야 합니다.</li>
    <li>25. 테두리 지정, 스타일 지정시 기본값만 사용하여야 합니다.</li>
    <li>26. 검정(K100)은 출력 속성상 무조건 OverPrint됨에 따라 디자인 작업시 주의 하셔야 합니다.</li>
    <li>27. 명함 등 단면 작업시 한줄로 길게 나열하여 보내주시고, 양면 작업시 [앞면]은 ‘좌측’, [뒷면]은 ‘우측’을 꼭 지켜주시기 바랍니다. 이렇게 하지 않으시면 자동화 접수시 단면은 양면으로, 양면은
      단면으로 나옵니다.</li>
    <li>28. 별색 지정시 당사가 별도로 지정한 별색을 사용하여야 하며, 그렇지 않을 경우 잘못 나올 수 있으며 절대 책임을 지지 않습니다.</li>
    <li>29. CMYK 컬러중 3~4도의 컬러를 혼합하여 사용시 재대로 된 인쇄 컬러를 얻을 수 없으며, 찍을 때 마다 다르게 인쇄되오니 이점 양지하여 주시고, 가급적 1~2도로 작업을 하여 주시기 바랍니다.</li>
  </ul>
  <p class="title --dot">Adobe Photoshop 작업 유의사항</p>
  <ul>
    <li>1. 저장 해상도 : 저장(EPS), Maciosh(JPEG), JPEG(maximum quality)로 하십시오.<br/>해상도는 300dpi(pixel/inch)로 해주어야 합니다.</li>
    <li>2. 이미지 사용 : 모든 이미지는 최대 200%이상 확대(300dpi일 경우)하지 마시고 누끼용으로 사용시 반드시 클리핑 패스를 사용하셔야 합니다.</li>
    <li>3. 저장할 때 하프톤스크린(halfton screen)은 절대 체크하면 안됩니다.</li>
    <li>4. 컬러모드는 반드시 CMYK 저장 뒷면 흑백은 Gray모드 저장</li>
    <li>5. 해상도는 300dpi로 지정하고 필요한 부분만 잘라내어 사용해야 합니다.</li>
    <li>6. 그림은 기본적으로 EPS 포맷으로 저장하며 다른 포맷은 가급적 피해주십시오.</li>
    <li>7. 비트맵 파일을 QuarkXPress에서 사용시 배경색을 쿼크에서 바꿀 때에는 반드시 색상 모드는 비트맵이나 그레이 스케일로 변환하고 포맷은 tiff로 저장 하여야 합니다.</li>
    <li>8. 포토샵에서 작성한 데이터의 레이어는 반드시 합쳐 주십시오. (Flatten Image)</li>
    <li>9. 파일명에는 ‘ . ’, ‘ ~ ’, ‘ (공백문자) ’ 등을 포함하지 말아 주십시오.</li>
    <li>10. 불필요한 배경 부분은 반드시 패스를 이용하여 사용할 영역을 지정하여 주십시오.</li>
    <li>11. 영문 및 한글 서체는 아웃라인으로 처리 하셔야 합니다. 영문 서체의 경우 부득이하게 그대로 사용하실 때에는 화면용 서체 파일과 더불어 접수하여야 합니다.<br/>출력용 포스트 스크립트 폰트 파일을 기타
      영문 서체는 트루타입, PostScript서체를 가져오시되 출력시 밀림이나, 깨짐현상은 책임을 지지 않습니다.</li>
  </ul>
  <p class="title --dot">Adobe Illustrator 작업 유의사항</p>
  <ul>
    <li>1. 비트맵 이미지를 불러들인 작업(place)은 출력이 안됩니다. 반드시 open명령을 실행하셔야 합니다.</li>
    <li>2. 사용한 서체는 반드시 아웃라인(Create Outline)으로 변환해주셔야 합니다.</li>
    <li>3. 작업 후 ‘Path > Cleanup > Stray Point, Unpainted Objects, Empty Text Paths’ 를 체크해주세요.</li>
    <li>4. 저장하실 때에는 IIIustrator EPS, 8-bit Macintosh으로 변환하여 주십시오.(Macintosh 버전인 경우)</li>
    <li>5. 코렐에서 일러스트로 변환한 경우 색 대치나 그라데이션 등 을 적용한 부분에서 에러가 발생할 수 있습니다.</li>
    <li>6. 저장은 일러스트8.0으로 지정해야 합니다.</li>
    <li>7. 사용할 그림만 따로 분리해 주십시오. (그림이 밀려날 수 있습니다)</li>
    <li>8. 밑그림이나 가이드는 삭제해 주십시오.</li>
    <li>9. 가급적 링크는 사용하지 않는 것이 좋지만 포토샵 그림을 일러스트에 링크할 때에는 반드시 색상 정보를 CMYK 모드로 전환하여 주십시오.</li>
    <li>10. 일러러스트 에서의 필터, 그라데이션, 효과, 합성, 투명도 등의 출력시 깨짐 현상은 책임을 지지 않습니다.</li>
    <li>11. 일러러스트에서의 필터, 그라데이션, 효과, 합성, 투명도를 사용했을 때는 ‘Rasterize - 300dpi - White - AntiAlias’를 반드시 실행시켜주어야 합니다.</li>
    <li>12. 일러스트에서 검정(K100)은 무조건 오버프린트 됨에 따라 디자인 작업시 주의 하셔야 합니다. (모든 작업물은 오버프린트 체크하면 안됩니다)</li>
    <li>13. 일러스트에서의 모든 에러(일러스트 버그 등)는 당사가 책임을 지지 않습니다.</li>
    <li>14. 일러스트 버전에서의 ObJect 해상도(Output) 800dpi로 저장하셔야 합니다.</li>
    <li>15. 일러스트에서 선택물이 LOCK이 되어 있거나, 레이어 잠금이 되어 있을 경우 자동 대첩으로 옮겨가기 때문에 LOCK이 되어있는 선택물은 인쇄가 되지 않습니다.</li>
    <li>16. 일러스트에서 Pathfinder를 선택하시면 반드시 Expand(확장)을 적용하셔야 됩니다.<br/>미적용시 아래 또는 위 부분의 컬러가 채워져 출력이 됩니다.</li>
    <li>17. 일러스트에서의 DIC 컬러나, PANTONE 컬러 등과 같은 별색 사용시 원본과 다른 인쇄 컬러 색상값으로 인쇄되니 반드시 CMYK 분판을 체크하여 사용하여 주시기 바랍니다.</li>
    <li>18. CMYK 컬러중 3~4도의 컬러를 혼합하여 사용시 제대로 된 인쇄 컬러를 얻을 수 없으며, 찍을 때 마다 다르게 인쇄되오니 이점 양지하여 주시고, 가급적 1~2도로 작업을 하여 주시기 바랍니다.</li>
    <li>19. 일러스트10 이상에서 작업하고 버전을 하위 버전으로 전환 후 반드시 열어서 확인하셔야 합니다.</li>
  </ul>
  <p class="title --dot">CorelDraw 작업 유의사항</p>
  <ul>
    <li>1. 별 사이즈: 재단 사이즈를 파일과 의뢰서에 정확히 메모해 주십시오.</li>
    <li>2. 곡선 처리: 문자는 반드시 도안 문자를 사용하시고 반드시 서체는 곡선(Ctrl+Q)처리 해주세요.</li>
    <li>3. 비트맵 이미지 해상도는 300dpi~600dpi로, 컬러는 CMYK 해상도로 지정해 주십시오. 이미지 해상도가 너무 높으면 파일 크기가 지나치게 커지며 너무 낮으면 그림이 깨지거나 먹으로 대치 될 수
      있으니 주의 바랍니다.</li>
    <li>4. 오브젝트를 회전했을 때에는 함께 사용한 이미지 데이터의 원본을 같은 내용으로 수정하여 주십시오.</li>
    <li>5. 비트맵으로 변환해야 하는 경우
      <ul>
        <li>- 효과 메뉴를 사용한 형태 편집, 블렌드, 입체감, 입체문자, 특히 렌즈, 파워클립 등을 사용했을 때에는 출력시 오류가 발생할 수 있습니다. 부득이하게 사용했을 때에는 비트맵으로 변환하여 주십시오.</li>
        <li>- RGB모드의 사진은 CMYK모드로 변환해야 합니다.</li>
        <li>- 복잡한 그라데이션, 입체효과, 특수효과는 사용하지 말거나 분리 해주시고 비트맵으로 변환 후 접수해 주십시오.</li>
        <li>- 둘 이상의 그림을 겹쳤을 때에는 비트맵으로 변환 해야 합니다.</li>
        <li>- 그림을 회전시켰을 때에도 비트맵으로 변환해야 합니다.</li>
        <li>- 텍스처 채움은 비트맵으로 변환했을 때 하얗게 변하는 경우가 있습니다.</li>
        <li>- 그림자 효과를 사용했을 때는 그림자를 분리 하여야 하며 그림자만 비트맵으로 변환합니다.</li>
      </ul>
    </li>
    <li>6. 스티커 작업시 유의사항<br/>가로 90mm 크기가 아닌 경우 (110×90, 130×90, 150×90)는 가로 폭을 90mm로 맞추기 위해 오브젝트 전체를 90도 회전한 후 다시 비트맵 데이터의
      회전, 크로핑 등을 수정합니다. 만약 그림이 화면에서 깨져 보이면 원본 이미지를 90도 회전한 후 다시 임포트 해야 합니다.</li>
    <li>7. 색상은 반드시 CMYK 색상만 사용해야 합니다. (별색 의뢰 예외)</li>
    <li>8. 명함 등 단면 작업시 한줄로 길게 나열하여 보내주시고, 양면 작업시 ‘앞면’은 ’좌측’, ‘뒷면’은 ‘우측’을 꼭 지켜주시기 바랍니다. 이렇게 하지 않으시면 자동화 접수시 단면은 양면으로, 양면은
      단면으로 나옵니다.</li>
  </ul>
</div>