<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} | {{ siteName }}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  {% include "partials/header.njk" %}
  <section id="container">
    {% block content %}{% endblock %}
  </section>
  {% include "partials/footer.njk" %}
  <script src="/js/colormi-ui.js"></script>
</body>
</html>
