<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | {{ siteName }}</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="https://cdn.jsdelivr.net/npm/lottie-web/build/player/lottie.min.js"></script>
  </head>
  <body>
    {% include "partials/header.njk" %}
    <section id="wrap">
      <div id="container"> {% block content %}{% endblock %}
        </div>
      </section>
      {% include "partials/footer.njk" %}
      <script src="/js/colormi-ui.js"></script>
    </body>
  </html>