@use 'mixin' as *;
@use 'variables' as *;
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400..700&display=swap");

main {
  max-width: 1200px;
  margin: 0 auto;
}

// Heading
h1 {
  margin-bottom: 40px;
  @include font-heading-xlarge-bold;
}

h2 {
  margin-bottom: 36px;
  @include font-heading-large-bold;
}

h3 {
  margin-bottom: 30px;
  @include font-heading-medium-bold;
}

h4 {
  margin-bottom: 24px;
  @include font-heading-small-bold;
}

h5 {
  margin-bottom: 20px;
  @include font-heading-xsmall-bold;
}

.page-title+.content-box,
.content-box+.btn-wrap.confirm,
.content-box+.btn-wrap.vertical,
.btn-wrap.link+.content-box,
.content-box+.content-box {
  margin-top: 48px;
}

#container {
  display: flex;
  justify-content: center;
  gap: 0 20px;
}

.content {
  width: 1200px;
  margin: 48px auto;
}

.content-box {
  &.confirm {
    text-align: center;

    +.btn-wrap {
      margin-top: 24px;
    }
  }
}

.page-title {
  text-align: center;

  h3 {
    margin-bottom: 0;

    em {
      color: $color-text-primary;
    }
  }

  [class^=guide-] {
    margin-top: 20px;
  }
}

.side-wrap+.content {
  width: 997px;
  margin: 48px 0;

  .page-title {
    text-align: left;
  }
}

.side-wrap {
  width: 183px;
  margin: 48px 0;

  .side-nav {
    margin-top: 40px;

    .depth-2 {
      margin-bottom: 24px;
      @include title-semibold;
      color: $color-text-basic;
    }

    .item {
      position: relative;

      +.item {
        margin-top: 32px;
        padding-top: 32px;

        &::before {
          content: '';
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          width: 80px;
          height: 1px;
          background: $color-divider-gray-light;
        }
      }

      li:not(:first-child) {
        margin-top: 12px;
      }

      li {
        a {
          display: inline-flex;
          align-items: center;
          color: $color-text-subcolor-deep;
          @include depth-small-medium;

          &:hover {
            color: $color-text-primary;
            text-decoration: underline;
          }
        }

        &.--active {
          a {
            color: $color-text-primary;
            text-decoration: underline;
          }
        }
      }
    }

    +.item {
      margin-top: 40px;
    }
  }
}

.product-price {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 16px 0;
  margin-top: 16px;
  padding: 20px 10px;
  background: $color-background-gray-subtler;

  .count,
  [class$=-price] {
    text-align: right;
  }

  &.--round {
    border-radius: 4px;

    .title {
      @include font-body-xxsmall;
      color: $color-text-subcolor-deep;
    }

    .count,
    [class$=-price] {
      @include font-body-xsmall-bold;

      strong {
        @include font-body-small-bold;
      }
    }
  }

  &.--bg-white {
    gap: 0;
    margin: 10px 0;
    padding: 0;
    background: $color-background-white;

    dt,
    dd {
      display: flex;
      align-items: center;
      height: 62px;

      >p {
        flex: 1;
      }
    }

    dt:not(:last-of-type),
    dd:not(:last-of-type) {
      border-bottom: 1px solid $Line-line;
    }

    .count,
    [class$=-price] {
      @include font-body-large-bold;

      strong {
        font-weight: $font-weight-bold;
      }
    }

    &.--small {
      margin: 6px 0 0;

      dt,
      dd {
        height: 38px;
      }

      dt:last-of-type,
      dd:last-of-type {
        border-bottom: 1px solid $Line-line;
      }

      .count,
      .title {
        @include font-body-small;
        color: $color-text-subcolor-deep;
      }
    }
  }

  .deposit-price {
    color: $color-text-secondary;
  }

  .receivable-price {
    color: $color-text-primary;
  }
}

.check-wrap {
  display: flex;
  align-items: center;
  gap: 0 8px;

  &:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('/resources/fe/img/icon/img-sprite.png');
    background-repeat: no-repeat;
    background-size: 1002px auto;
    background-position: 0 -194px;
  }

  .check-item {
    @include font-body-small-bold;
  }
}

// input & select & dropdown
.form-field {
  +.form-field {
    margin-top: 8px;
  }

  >*+* {
    margin-top: 8px;
  }

  input {

    // readonly
    &.--basic {
      border: 1px solid $Line-line;
      background: $color-background-white;
    }
  }

  .form-wrap {
    position: relative;

    +.checkbox-wrap {
      margin-top: 8px;
    }

    input[type=text] {
      padding-right: 40px;
    }

    input[type=password] {
      padding-right: 40px;
    }

    &.select {
      min-width: max-content;

      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 12px;
        top: 50%;
        width: 16px;
        height: 16px;
        background: svgIcon(arrow, '4c4c4c') no-repeat center center/16px 16px;
        transform: translateY(-50%) rotate(90deg);
      }
    }

    .btn-select {
      position: relative;
      padding-right: 28px;
      text-align: left;
      background: $color-background-white;

      &:focus,
      &:focus-visible,
      &:active {
        border: 1px solid $color-border-secondary;
      }

      &:disabled {
        border: 1px solid $color-border-gray;
        background: $color-background-gray-subtle;
        color: $color-text-basic;
      }
    }

    .option-list {
      display: none;
      position: absolute;
      width: 100%;
      padding: 10px 0;
      border-radius: 4px;
      border: 1px solid $color-border-gray;
      background: $color-border-inverse;
      z-index: 1;

      li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .btn-option {
          display: flex;
          align-items: center;
          flex: 1 0 0;
          align-self: stretch;
          min-height: 40px;
          padding: 0 10px;
          color: $color-text-basic;
          @include font-body-small;

          &:hover {
            background-color: $color-border-gray-light;
          }

          &:active {
            color: $color-text-primary;
            font-weight: 600;
          }
        }
      }
    }

    input {
      &:not(:placeholder-shown) {
        ~.util {
          .btn-del {
            display: inline-flex;
          }
        }
      }
    }

    .util {
      position: absolute;
      right: 12px;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 8px;
      min-height: 16px;
      transform: translateY(-50%);
      z-index: 1;

      [class^=btn-] {
        display: inline-flex;
        width: 16px;
        height: 16px;

        &.btn-del {
          display: none;
          position: relative;
          background: $color-divider-gray-light;
          border-radius: 50%;
          @include line-icon(cross, 6px);
        }

        &.btn-visible {
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 100% 100%;

          &.on {
            @include sprite-icons(57, 16px);
          }

          &.off {
            @include sprite-icons(58, 16px);
          }
        }

        i {
          font-size: 0;
        }

      }

      .guide-sub {
        display: inline-block;
        padding-right: 2px;
      }
    }
  }

  // &.--error,
  // &.--success {
  //   .description {
  //     position: relative;
  //     display: inline-flex;

  //     &::before {
  //       content: '';
  //       display: inline-block;
  //       width: 13px;
  //       height: 13px;
  //       margin: 3px 4px 0 0;
  //       border-radius: 50%;
  //       vertical-align: 2px;
  //     }

  //     &::after {
  //       position: absolute;
  //       top: 1px;
  //       left: -1px;
  //     }
  //   }
  // }

  // &.--error {

  //   input,
  //   select,
  //   .btn-select {
  //     border: 1px solid $color-border-danger !important;
  //   }

  //   .description {
  //     color: $color-text-danger;
  //     @include sprite-icons(38, 16px, after);

  //     &::before {
  //       background-color: $color-text-danger;
  //     }
  //   }
  // }

  // &.--success {

  //   input,
  //   select,
  //   .btn-select {
  //     border: 1px solid $color-text-success !important;
  //   }

  //   .description {
  //     color: $color-text-success;

  //     &::before {
  //       background: $color-text-success svgIcon(check, 'ffffff') no-repeat center center/16px 16px;
  //     }
  //   }
  // }

  &.--active {

    select,
    .btn-select {
      &::after {
        // transform: translateY(50%) rotate(180deg);
      }
    }

    .option-list {
      display: block;
    }
  }

  .desc-unit {
    display: flex;
    gap: 8px;

    .description {
      margin-top: 0;

      &::before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 2px;
        background: svgIcon(check, '4c4c4c') no-repeat center center/16px 16px;
        vertical-align: sub;
      }

      &.--error {
        color: $color-text-danger;

        &::before {
          background-image: svgIcon(check, 'DE3412');
        }
      }

      &.--success {
        color: $color-text-success;

        &::before {
          background-image: svgIcon(check, '3FA654');
        }
      }

      &::after {
        content: none;
      }
    }
  }

  // size
  &.--small {

    input,
    select,
    .btn-select {
      height: 32px;
    }
  }

  &.--large {

    input,
    select,
    .btn-select {
      height: 48px;
    }
  }

  &.--xlarge {

    input,
    select,
    .btn-select {
      height: 56px;
    }
  }

  // textarea
  &.textarea {
    .form-wrap {
      display: flex;
      align-items: flex-start;
      gap: 20px;

      label {
        padding: 15px 0;
        color: $color-text-basic;
        @include font-body-xsmall;
      }

      textarea {
        height: 84px;
        padding: 10px 12px;
        border-radius: 4px;
        resize: vertical;
      }
    }

    .textarea-bottom {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-top: 8px;

      .count {
        order: 1;
        margin: 0;
      }

      [class^=guide-] {
        flex: 1;
        margin: 0;
      }
    }

    .count {
      margin: 8px 0 4px;
      text-align: right;
      color: $color-text-basic;
      @include font-body-xxsmall;
      font-weight: 500;

      >* {
        color: $color-text-basic;
        @include font-body-xxsmall;
        font-weight: 500;
      }
    }
  }

  &.address {

    .address-item {
      display: flex;
      gap: 8px;

      input {
        width: 46%;
      }

      [class^=btn-] {
        width: 110px;
        vertical-align: top;
      }
    }
  }

  &.search {
    .form-wrap {
      position: relative;

      input {
        position: relative;
        height: 48px;
        padding-right: 86px;
        border: none;
        border-radius: 8px;
        background: transparent;
        z-index: 1;

        ~.search-bg {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 8px;
          border: 1px solid $Line-line-3;
          background-origin: border-box;
          background-clip: content-box, border-box;
          z-index: 0;
        }

        &:focus~.search-bg,
        &:hover~.search-bg {
          border: 2px solid transparent;
          background-image: linear-gradient($color-background-white, $color-background-white), linear-gradient(180deg, $color-border-primary-lighter 0%, #F4D360 42%, $color-border-primary 100%);
        }

        &:focus~.util .btn-search,
        &:hover~.util .btn-search {
          &::before {
            background-image: svgIcon(search, '24A3FF');
          }
        }
      }

      .util {
        right: 0;
        gap: 0;

        .btn-search {
          width: 44px;
          height: 44px;
          margin-left: 14px;
          align-items: center;

          &::before {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            background: svgIcon(search, '4c4c4c') no-repeat center center/24px 24px;
          }
        }
      }

    }

    &.--completed input~.search-bg {
      border: 2px solid transparent;
      background-image: linear-gradient($color-background-white, $color-background-white), conic-gradient(from 180deg at 50% 50%, #F4A0BC 0deg, #F1CB40 101.39984965324402deg, #92D1FF 270.5998492240906deg, #F4A0BC 360deg);
    }
  }

  .file {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

    [class^=btn-] {

      input[type='file'] {
        display: none;
      }
    }

    .btn-primary {
      width: 100px;
    }

    [class^=guide] {
      flex: 1;
      @include ellipsis;
      height: 40px;
      margin-top: 0;
      line-height: 40px;
    }

    .btn-util-add,
    .btn-util-del {
      span {
        vertical-align: -2px;
      }
    }
  }

  +.btn-wrap {
    margin-top: 16px;
  }

  .form-option {
    display: flex;
    align-items: center;
    // justify-content: center;
    gap: 8px;
    @include font-body-small;
    color: $color-text-basic;

    &.util-option {
      justify-content: center;

      input[type='text'] {
        width: 280px;
        max-width: 280px;
      }
    }
  }
}

// input error, success
.--error,
.--success {
  .description {
    position: relative;
    display: inline-flex;

    &::before {
      content: '';
      display: inline-block;
      width: 13px;
      height: 13px;
      margin: 3px 4px 0 0;
      border-radius: 50%;
      vertical-align: 2px;
    }

    &::after {
      position: absolute;
      top: 1px;
      left: -1px;
    }
  }
}

.--error {

  input,
  select,
  .btn-select {
    border: 1px solid $color-border-danger !important;
  }

  .description {
    color: $color-text-danger;
    @include sprite-icons(38, 16px, after);

    &::before {
      background-color: $color-text-danger;
    }
  }
}

.--success {

  input,
  select,
  .btn-select {
    border: 1px solid $color-text-success !important;
  }

  .description {
    color: $color-text-success;

    &::before {
      background: $color-text-success svgIcon(check, 'ffffff') no-repeat center center/16px 16px;
    }
  }
}

.btn-del {
  position: relative;
  width: 24px;
  height: 24px;
  @include line-icon(cross, 13px);

  i {
    font-size: 0;
  }

  &.--small {
    width: 20px;
    height: 20px;

    &::before,
    &::after {
      height: 11px;
      background: $color-border-disabled;
    }
  }
}

.icon-plus {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 2px;
  vertical-align: -8px;
  border-radius: 100%;
  background: $color-border-gray;
  @include line-icon(plus, 9px);
}

.icon-minus {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 2px;
  vertical-align: -8px;
  border-radius: 100%;
  background: $color-border-gray;
  @include line-icon(minus, 9px);
}

// toggle
.toggle-wrap,
.checkbox-wrap,
.radio-wrap {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 20px;

  +[class$=-wrap] {
    margin-left: 20px;
  }

  .toggle,
  .checkbox,
  .radio {
    position: relative;
    display: inline-flex;
    line-height: 0;

    input {
      position: absolute;
      width: 0;
      height: 0;
      margin: 0;
      opacity: 0;

      // disabled
      &:disabled {
        +.toggle-switch {
          background: $color-border-gray-light;

          &::before {
            background: $color-border-gray;
          }

        }

        ~[class$=-label] {
          color: $color-text-subcolor;
        }

      }

      // focus
      &:focus,
      &:focus-visible {
        +.toggle-switch {
          outline-color: $color-border-primary-light;
          background: $color-border-disabled;

          &::before {
            background: $color-border-inverse;
          }
        }
      }

      // checked
      &:checked {
        +.toggle-switch {
          background: $color-border-primary;

          &::before {
            -webkit-transform: translateX(9px);
            transform: translateX(9px);
          }
        }

        &:disabled {
          +.toggle-switch {
            background: $color-border-gray-light;

            &::before {
              background: $color-border-gray;
            }
          }
        }

        &:focus,
        &:focus-visible {
          +.toggle-switch {
            border-color: $color-border-primary-light;
            background: #831339;

            &::before {
              background: $color-border-inverse;
            }
          }
        }
      }

      &:hover {

        +.radio-icon,
        +.checkbox-icon {
          border-color: #831339;
        }
      }

      // toggle switch
      +.toggle-switch {
        flex: 1 0 25px;
        position: relative;
        display: inline-block;
        width: 25px;
        height: 16px;
        margin: 2px 0;
        background: $color-border-gray;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 8px;
        outline: 1.6px solid $color-border-inverse;

        &::before {
          position: absolute;
          content: '';
          width: 12.8px;
          height: 12.8px;
          top: 1.5px;
          left: 1.5px;
          bottom: 1.5px;
          background: $color-background-white;
          -webkit-transition: .4s;
          transition: .4s;
          border-radius: 50%;
        }

      }

      // radio-icon, checkbox-icon
      +.radio-icon,
      +.checkbox-icon {
        flex: 1 0 16px;
        position: relative;
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 2px 0;
        background: $color-background-white;
        border-radius: 50%;
        border: 1px solid $Line-line;
        -webkit-transition: none;
        transition: none;

        &::before {
          content: none;
        }
      }

      // checkbox-icon
      +.checkbox-icon {
        border-radius: 4px;

        &::before {
          position: absolute;
          content: '';
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

    }

    // toggle, checkbox, radio text label
    [class$=-label] {
      display: inline-block;
      margin-left: 8px;
      color: $color-text-basic;
      @include font-body-xsmall;
    }
  }
}

// checkbox
.checkbox-wrap {
  &.--error {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;

    .checkbox input+.checkbox-icon {
      border-color: $color-border-danger;
    }
  }

  .checkbox {
    input {
      // disabled
      &:disabled {
        +.checkbox-icon {
          background: $color-border-gray-light;
          @include sprite-icons(56, 16px);
        }
      }

      // focus
      &:focus,
      &:focus-visible {
        +.checkbox-icon {
          outline: 2px solid $color-border-primary-light;
          border: 0 none;
        }
      }

      // checked
      &:checked {
        +.checkbox-icon {
          background: $color-border-primary;
          border-color: $color-border-primary;
          @include sprite-icons(55, 16px);
        }

        &:disabled {
          +.checkbox-icon {
            background-color: $color-border-gray-light;
            border-color: $Line-line;
            @include sprite-icons(56, 16px);
          }
        }
      }
    }
  }

  &.img-option {
    grid-template-columns: repeat(3, 1fr);

    .checkbox {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;

      +.checkbox {
        margin: 0;
      }

      .checkbox-img {
        position: relative;
        overflow: hidden;
        display: inline-block;
        width: 100%;
        padding-bottom: 100%;
        border-radius: 4px;

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 4px;
          border: 1px solid $Line-line;
          box-sizing: border-box;
        }

        img {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .checkbox-label {
        margin: 0;
        @include font-body-small;
        color: $color-text-subcolor-deep;
      }

      input:checked+.checkbox-img {
        &::after {
          border-color: $color-border-primary;
        }
      }

      input:checked~.checkbox-label {
        color: $color-text-primary;
      }

      input:disabled~.checkbox-img {
        &::after {
          background: $color-alpha-inverse50;
        }

        em {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          text-align: center;
          @include font-body-xsmall;
          color: $color-text-subcolor-inverse-deep;
          transform: translateY(-50%);
          z-index: 1;
        }
      }

      input:disabled~.checkbox-label {
        color: $color-text-subcolor-light;
      }
    }
  }
}

// radio
.radio-wrap {
  .radio {
    input {

      // disabled
      &:disabled {
        +.radio-icon {
          background: $color-border-gray-light;
          border-color: $color-border-gray;
        }
      }

      // focus
      &:focus,
      &:focus-visible {
        +.radio-icon {
          border: 2px solid $color-border-primary-light;
        }
      }

      // checked
      &:checked {
        +.radio-icon {
          border: 4px solid $color-border-primary;
        }

        &:disabled {
          +.radio-icon {
            border-color: $color-border-gray;
          }
        }
      }
    }

    .radio-img {
      display: none;
    }
  }

  &.img-option {
    display: flex;
    align-items: self-end;
    justify-content: space-between;
    padding: 0 24px;

    .radio {
      display: flex;
      align-items: center;

      +.radio {
        margin: 0;
      }

      &.--a4 {
        .radio-img {
          width: 75px;
          height: 106px;
        }
      }

      &.--a5 {
        .radio-img {
          width: 53px;
          height: 76px;
        }
      }

      &.--b5 {
        .radio-img {
          width: 65px;
          height: 92px;
        }
      }

      &.--none {
        .radio-img {
          width: 88px;
          height: 88px;
        }
      }

      .radio-icon {
        display: none;
      }

      .radio-img {
        position: relative;
        overflow: hidden;
        display: inline-block;
        background: url('/resources/fe/img/img/img-radio-option.png') no-repeat center bottom/cover;

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 1px solid transparent;
          box-sizing: border-box;
        }
      }

      .radio-label {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        @include font-body-xxsmall;
        color: $color-text-subcolor-deep;
        transform: translate(-50%, -50%);
      }

      input:checked~.radio-img {
        &::after {
          border-color: $color-border-primary;
        }
      }

      input:checked~.radio-label {
        color: $color-text-primary;
      }
    }
  }
}

// button
.btn-wrap {
  display: flex;
  align-items: center;
  gap: 8px;

  &.confirm {
    justify-content: center;

    [class^=btn-] {
      >span {
        min-width: 164px;
      }
    }

    &.vertical {
      gap: 24px;

      [class^=btn-] {
        width: inherit;
      }
    }
  }

  &.link {
    justify-content: center;
    margin-top: 24px;

    [class^=btn-] {
      span {
        min-width: 132px;
      }
    }
  }

  &.vertical {
    flex-direction: column;

    [class^=btn-] {
      width: 100%;
    }
  }

  &.--tab {
    [class^=btn-] {
      flex: 1;

      &.--active {
        border-color: $color-border-gray-dark;
        background: $color-border-gray-dark;
        color: $color-text-basic-inverse;

        &:hover,
        &:active {
          border-color: $color-border-gray-darker;
          background: $color-border-gray-darker;
        }
      }
    }
  }
}

.btn-primary {
  @include button;
  @include button-disabled;
  border-color: $color-border-primary;
  background: $color-border-primary;
  color: $color-text-basic-inverse;

  &:hover {
    border-color: #F181A6;
    background: #F181A6;
  }

  &:active {
    border-color: #E62263;
    background: #E62263;
  }
}

.btn-black {
  @include button;
  @include button-disabled;
  border-color: $color-border-gray-dark;
  background: $color-border-gray-dark;
  color: $color-text-basic-inverse;

  &:hover,
  &:active {
    border-color: $color-border-gray-darker;
    background: $color-border-gray-darker;
  }
}

.btn-outline {
  @include button;
  @include button-disabled;
  box-shadow: none;
  border-color: $color-border-gray-dark;
  background: $color-background-white;
  color: $color-text-basic;

  i {

    &.plus:before,
    &.plus:after {
      background: $color-border-gray-dark;
    }
  }

  &:hover {
    border-color: $color-border-gray-dark;
    background: $color-border-gray-light;
  }

  &:active {
    border-color: $color-border-gray-dark;
    background: $color-border-gray-dark;
    color: $color-text-basic-inverse;

    i {

      &.plus:before,
      &.plus:after {
        background: $color-border-inverse;
      }
    }
  }

  &.--medium {
    .contact {
      @include sprite-icons(20, 32px);

      &:active {
        @include sprite-icons(21, 32px);
      }
    }
  }
}

.btn-round {
  @include button;
  height: 36px;
  box-shadow: none;
  border-color: $color-border-gray;
  background: $color-border-inverse;
  color: $color-text-basic;
  border-radius: 24px;
  padding: 10px 16px;
  @include font-body-xsmall;

  &.--small {
    height: 29px;
  }

  &.icon {

    span {
      position: relative;

      &::after {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        background: svgIcon(arrow, '4c4c4c') no-repeat center center/16px 16px;
        vertical-align: -3px;
      }
    }
  }

  span:only-child {
    padding: 0;
    line-height: 1;
  }

  &.--active,
  &:hover,
  &:active {
    border-color: $color-border-gray-dark;
    background: $color-border-gray-dark;
    color: $color-text-basic-inverse;

    &.icon {
      span {

        &::before,
        &::after {
          background-image: svgIcon(arrow, 'F4F5F6');
        }
      }
    }
  }
}

.btn-text {
  @include button;
  height: inherit;
  border: 0;
  box-shadow: none;
  color: $color-text-subcolor;
  border-radius: 0;
  padding: 0;
  @include font-body-small;
  line-height: 16px;

  &::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: svgIcon(arrow, '969696') no-repeat center center/16px 16px;
    vertical-align: -3px;
  }

  &.--small {
    height: inherit;
  }

  &.--large {
    height: inherit;
    @include font-body-medium;
    line-height: 20px;

    &::after {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      background-size: 24px 24px;
      vertical-align: -3px;
    }
  }

  span:only-child {
    padding: 0;
    line-height: 1;
  }
}

.btn-link {
  @include button;
  height: auto;
  border: 0;
  box-shadow: none;
  color: $color-text-basic;
  border-radius: 0;
  padding: 0;
  @include font-body-small;

  &.--small {
    height: auto;
    @include font-body-xsmall;
  }

  span:only-child {
    padding: 0;
  }

  &+& {
    position: relative;
    margin-left: 8px;

    &::before {
      content: '/';
      display: inline-block;
      position: absolute;
      left: calc(-4px - 4px);
    }
  }
}

.btn-top {
  @include button;
  border: 0;
  background: $color-border-gray-light;
  color: $color-text-basic;
  border-radius: 10px;
  flex-direction: column;
  width: 56px;
  height: 56px;
  padding: 0;
  @include font-body-xsmall;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05), 0px 8px 20px 0px rgba(0, 0, 0, 0.05);

  i {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 0;
    @include sprite-icons(5, 24px);

    +span {
      margin: 4px 0 0;
      padding: 0;
      line-height: 1;
    }
  }

  &.label {
    width: 64px;
    height: 64px;
  }

  &:hover {
    background: $color-border-primary-light;
    color: $color-text-basic-inverse;

    i {
      @include sprite-icons(6, 24px);
    }
  }

  &:active {
    background: $color-border-primary;
    color: $color-text-basic-inverse;

    i {
      @include sprite-icons(7, 24px);
    }
  }

  &:focus,
  &:focus-visible {
    box-shadow: none;
  }
}

.btn-close {
  position: relative;
  width: 24px;
  height: 24px;
  font-size: 0;
  @include line-icon(cross, 13px);

  &.--large {
    width: 36px;
    height: 36px;

    &::before,
    &::after {
      height: 19px;
    }
  }
}

.btn-talk-contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  .icon {
    display: inline-block;
    width: 63px;
    height: 72px;
    margin-bottom: 4px;
    background-image: url('/resources/fe/img/icon/img-sprite.png');
    background-repeat: no-repeat;
    background-size: 1002px auto;
    background-position: -202px 0;
  }

  span {
    display: inline-block;
    padding: 0 9px;
    border-radius: 8px;
    background: #583738;
    @include font-body-xsmall-bold;
    color: $color-border-inverse;
  }
}

.alert-danger {
  @include alert;
  background: $color-border-danger-light;
  @include sprite-icons(80, 24px);

  .title {
    color: #BD2C0F;
  }
}

.alert-information {
  @include alert;
  background: $color-border-secondary-light;
  @include sprite-icons(81, 24px);

  .title {
    color: #096AB3;
  }
}

.alert-success {
  @include alert;
  background: $color-border-success-light;
  @include sprite-icons(82, 24px);

  .title {
    color: #267337;
  }
}

.alert-warning {
  @include alert;
  background: $color-border-warning-light;
  @include sprite-icons(83, 24px);

  .title {
    color: #8A5C00;
  }
}

.modal {
  @include modal;

  .modal-wrap {
    max-height: calc(100vh - 200px);

    .modal-header {
      padding: 16px 44px 16px 20px;

      .modal-title {
        margin-bottom: 0;
        color: $color-text-basic;
      }
    }

    .modal-container {
      overflow-y: auto;
      scrollbar-width: none;
      padding: 0 20px 16px;
      color: $color-text-basic;
      @include font-body-small;

      [class^=cont-]+[class^=cont-] {
        margin-top: 16px;
      }

      &:first-of-type {
        padding-top: 40px;
      }
    }

    .modal-footer {
      padding: 16px;

      .btn-wrap {
        justify-content: flex-end;
      }
    }
  }

  &.--full {

    .modal-wrap {
      padding-bottom: 20px;
      border: none;
      border-radius: 10px;

      .modal-header {
        min-height: 56px;
        padding: 18px 56px 18px 20px;
        border-bottom: 1px solid $Line-line;

        &+.modal-container {
          margin-top: 0;
        }
      }

      .modal-container {
        margin-top: 56px;
        padding: 20px;

        .product-order {
          margin-bottom: 20px;

          &:last-of-type {
            margin-bottom: 0;
          }

          .guide-wrap {

            [class^=guide-] {
              display: block;
              padding: 8px 0 0;
            }
          }
        }
      }

      .modal-footer {
        padding: 20px 20px 0;

        .btn-wrap {
          justify-content: center;
          // gap: 8px;
        }
      }

      .btn-wrap.close {
        top: 10px;
        right: 20px;
      }
    }
  }
}

.layer-wrap {
  position: relative;
}

.layer-item {
  position: absolute;
  top: 100%;
  right: 0;
  width: 340px;
  padding: 20px 16px;
  border-radius: 6px;
  border: 1px solid $color-border-gray-light;
  background: $color-border-inverse;
  box-shadow: 0px 2px 4px 0px $color-alpha-shadow1, 0px 8px 20px 0px $color-alpha-shadow1;
  z-index: 1;

  .layer-container {
    .title {
      @include font-body-small-bold;
      color: #000;
      text-align: center;
    }
  }
}

// guide text
*+span.guide-sub,
*+span.guide-sub-deep,
*+span.guide-basic {
  margin-top: 0;
}

.guide-wrap {
  display: inline-block;
  vertical-align: middle;

  [class^=guide-] {
    padding-left: 8px;
  }
}

.guide {

  &-sub,
  &-sub-deep,
  &-basic,
  &-primary {
    @include font-body-small;
    margin-top: 16px;

    &:first-child {
      margin-top: 0;
    }

    &-title {
      @include font-body-small-bold;
      color: $color-text-basic;
    }

    &.--xsmall {
      @include font-body-xxsmall;
    }

    &.--small {
      @include font-body-xsmall;
    }

    &.--medium-bold {
      @include font-body-medium-bold;
    }

    &.--large-bold {
      @include font-body-large-bold;
    }

    &.--bold {
      font-weight: $font-weight-semibold;
    }

    &.--dot {
      li {
        position: relative;
        padding-left: 20px;

        &::before {
          content: '';
          display: inline-block;
          position: absolute;
          top: 8px;
          left: 8px;
          width: 4px;
          height: 4px;
          // margin: 0 8px;
          background: $color-text-subcolor-deep;
          border-radius: 50%;
          // vertical-align: 3px;
        }
      }
    }
  }

  &-sub {
    color: $color-text-subcolor;
  }

  &-sub-deep {
    color: $color-text-subcolor-deep;
  }

  &-basic {
    color: $color-text-basic;
  }

  &-primary {
    color: $color-text-primary;
  }
}

.description {
  margin-top: 8px;
  color: $color-text-subcolor;
  @include font-body-xsmall;

  &.--primary {
    color: $color-text-primary;
  }
}

// description box
.desc-box {

  &.line-box {
    @include desc-box;
    padding: 10px 0px;
    border-top: 1px solid $Line-line;
    border-bottom: 1px solid $Line-line;

    &.--large {
      padding: 20px 0;
    }

    &.--xlarge {
      padding: 32px;
    }
  }

  &.line-box-deep {
    @include desc-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 32px 16px;
    border-top: 1px solid $Line-line-3;
    border-bottom: 1px solid $Line-line-3;

    &.--large {
      padding: 20px 0;
    }
  }

  &.gray-light-box {
    @include desc-box;
    padding: 20px;
    background: $color-border-gray-light;

    &.--receipt {
      max-width: 590px;
      margin: 0 auto;
      padding: 48px 32px;
    }
  }

  &.gray-sub-box {
    @include desc-box;
    padding: 32px;
    background: $color-background-gray-subtler;
    text-align: left;
  }

  &.border-box {
    @include desc-box;
    padding: 32px;
    border-radius: 4px;
    border: 1px solid $Line-line;
    background: $color-background-white;
    text-align: left;

    .guide {
      @include font-body-xsmall;
    }

    &.--small {
      padding: 9px 12px;
    }
  }

  &.border-box-2 {
    @include desc-box;
    padding: 20px;
    border: 1px solid $Line-line;

    .radio-wrap {
      justify-content: center;
    }
  }

  &.tertiary-light-box {
    @include desc-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    border-radius: 4px;
    background: $color-border-tertiary-light;
    @include font-body-small;
    text-align: left;

    .btn-outline {
      width: 175px;
    }

    &.--small {
      gap: 32px;
      padding: 16px 24px;
      border-radius: 6px;
    }
  }

  [class^=guide-] {
    +[class$=-title] {
      margin-top: 32px;
    }
  }

  .rating-wrap {
    justify-content: center;

    +[class^=guide] {
      margin-top: 8px;
      text-align: center;
    }
  }

  &.--scroll-box {
    max-height: 240px;
    overflow-y: auto;
    scrollbar-width: none;
  }

  ~.checkbox-wrap {
    display: flex;
    margin: 20px 0 0 0;
  }

  &.--icon-box {
    justify-content: center;
    position: relative;
    min-height: calc(64px + 64px);
    padding-right: calc(64px + 32px);

    &::after {
      position: absolute;
      right: 32px;
      top: 50%;
      transform: translateY(-50%);
    }

    &.--coupon {
      @include sprite-icons(17, 64px, after);
    }

    &.--review {
      @include sprite-icons(18, 64px, after);
    }

    &.--delivery {
      @include sprite-icons(19, 64px, after);
    }

    &.--customer {
      flex-direction: row;
      gap: 32px;
      justify-content: flex-start;
      text-align: left;

      .icon {
        width: 402px;
        height: 213px;

        &::before {
          content: '';
          display: inline-block;
          width: 100%;
          height: 100%;
          background-image: url(/resources/fe/img/icon/img-sprite.png);
          background-repeat: no-repeat;
          background-size: 1002px auto;
          background-position: -383px -194px;
        }
      }

      .customer-info {
        flex-direction: row;
        flex: 0 0 500px;
        flex-wrap: wrap;
        gap: 32px 0;

        .customer-item {
          flex: 0 0 50%;
        }
      }
    }
  }

  .no-item-text {
    @include font-heading-xsmall-bold;
  }

  .desc-box-inner {
    margin-top: 20px;

    [class^=guide-sub-] {
      +ul[class^=guide-sub-] {
        margin-top: 0;
      }
    }
  }
}

// pagination
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 24px;

  .item-wrap {
    display: flex;
    gap: 8px;

    .item {

      a,
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 40px;
        height: 40px;
        padding: 10px;
        border-radius: 4px;
        @include font-body-small;
        color: $color-text-basic;

        &:hover {
          background: $color-border-gray-light;
          color: $color-text-basic;
        }
      }

      span {
        letter-spacing: -1px;

        &:hover {
          background: $color-background-white;
        }
      }

      &.prev,
      &.next {
        a {
          position: relative;
          padding: 12px;

          &::after {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            background: svgIcon(arrow, '4C4C4C') no-repeat center center/16px 16px;
          }
        }
      }

      &.prev {
        a {
          &::after {
            order: -1;
            transform: rotate(180deg);
          }
        }
      }

      &.disabled {

        a,
        span {
          background: $color-background-white;
          color: $color-text-subcolor;
        }

        &.prev,
        &.next {
          a {
            &::after {
              background-image: svgIcon(arrow, 'A5A5A5');
            }
          }
        }
      }

      &.--active {

        a,
        span {
          background: $color-border-gray-dark;
          color: $color-text-basic-inverse;
        }

        &.prev,
        &.next {
          a {
            &::after {
              background-image: svgIcon(arrow, 'ffffff');
            }
          }
        }
      }
    }
  }
}

// tooltip
.tooltip {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 2px;
  line-height: 0;

  &.--new {
    @include sprite-icons(72, 16px);
  }

  &.--best {
    @include sprite-icons(73, 16px);
  }

  &.--discount-1 {
    @include sprite-icons(77, 16px);
  }

  &.--discount-2 {
    @include sprite-icons(78, 16px);
  }

  &.--contact {
    @include sprite-icons(79, 16px);
  }

  &.--info {
    @include sprite-icons(36, 16px);
  }

  &:hover .item {
    display: block;
  }

  .item {
    @include tooltip;
    bottom: -32px;
    // transform: translateX(calc(-50% + 8px));
    z-index: 10;
  }

  &.--multiline {

    .item {
      top: auto;
      bottom: calc(-100% - 35px);
    }
  }

  &.--multiline-3 {

    .item {
      top: auto;
      bottom: calc(-100% - 55px);
    }
  }

  &.--top {

    .item {
      top: calc(-100% - 17px);
      bottom: auto;

      &::before {
        top: auto;
        bottom: -2.5px;
        transform: translateX(-50%) rotate(-135deg);
      }
    }

    &.--multiline {

      i {
        top: calc(-100% - 35px);
        bottom: auto;
      }
    }

    &.--multiline-3 {

      i {
        top: calc(-100% - 55px);
        bottom: auto;
      }
    }
  }
}

button[type='button'] {
  &.tooltip {
    display: inherit;
    width: inherit;
    margin-left: 0;
    vertical-align: 0;

    &::before {
      content: none;
    }

    .item {
      bottom: -45px;
      // transform: translateX(calc(-50% + 12px));
    }
  }
}

// login
.modal {
  .login-wrap {
    margin: 0 auto;
  }
}

.login-wrap {
  max-width: 386px;
  margin: calc(120px - 48px) auto;

  .page-title+.content-box,
  .content-box+.content-box {
    margin-top: 40px;
  }

  .content-box+.btn-wrap.vertical {
    padding-top: 40px;
    margin-top: 40px;
    border-top: 1px solid $Line-line;

    [class^=guide] {
      margin-bottom: 12px;
      text-align: center;
    }
  }

  .form-field .form-wrap input[type=password] {
    padding-right: 64px;
  }
}

.sns-login {
  @include font-body-xxsmall;
  color: $color-text-subcolor-deep;
  text-align: center;

  .item-list {
    display: flex;
    justify-content: center;
    gap: 0 32px;
    margin-top: 16px;

    .btn-sns {
      position: relative;
      display: inline-flex;
      flex-direction: column;
      @include font-body-xxsmall;

      >span {
        display: block;
        padding-top: 12px;
      }

      &::before {
        border-radius: 50%;
      }

      &.--naver {
        @include sprite-icons(84, 48px);
      }

      &.--kakao {
        @include sprite-icons(85, 48px);
      }

      &.--google {
        @include sprite-icons(86, 48px);
      }
    }
  }

  // 공유하기
  &.--share {
    .item-list {
      gap: 0 20px;
      margin-top: 20px;

      .btn-sns {
        >span {
          padding-top: 9px;
        }

        &::before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          width: 50px;
          height: 50px;
          border-radius: 10px;
          border: 1px solid $Line-line;
          background: $color-border-inverse;
        }

        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          top: 11px;
          left: 50%;
          transform: translateX(-50%);
          width: 30px;
          height: 30px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 100% 100%;
        }

        &.--kakao {
          &::after {
            background-image: url('/resources/fe/img/icon/img-sprite.png');
            background-repeat: no-repeat;
            background-size: 1002px auto;
            background-position: 0 -407px;
          }
        }

        &.--facebook {
          &::after {
            background-image: url('/resources/fe/img/icon/img-sprite.png');
            background-repeat: no-repeat;
            background-size: 1002px auto;
            background-position: -30px -407px;
          }
        }

        &.--instagram {
          &::after {
            background-image: url('/resources/fe/img/icon/img-sprite.png');
            background-repeat: no-repeat;
            background-size: 1002px auto;
            background-position: -60px -407px;
          }
        }

        &.--naver {
          &::after {
            width: 33px;
            height: 30px;
            background-image: url('/resources/fe/img/icon/img-sprite.png');
            background-repeat: no-repeat;
            background-size: 1002px auto;
            background-position: -90px -407px;
          }
        }
      }
    }
  }
}

.copy-link {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 20px;

  .form-field {
    flex: 1;
  }
}

#container>.anim-item-wrap,
.content>.anim-item-wrap {
  z-index: 12;
}

.anim-item-wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: $color-alpha-inverse25;

  &.--active {
    display: flex;
  }

  .anim-item {
    position: relative;
    width: 50px;

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 100%;
    }

    svg {
      position: absolute;
      top: 0;
    }
  }
}

.anim-item-box {
  position: relative;

  .anim-item-wrap {
    position: absolute;

    &[data-anim-type='loading'] .anim-item {
      width: 30px;
    }
  }
}

.icon {
  &.--small {
    @include sprite-icons-size(16px);
  }

  &.--medium {
    @include sprite-icons-size(24px);
  }

  &.--large {
    @include sprite-icons-size(36px);
  }

  &.--xlarge {
    @include sprite-icons-size(46px);
  }

  &.--xxlarge {
    @include sprite-icons-size(64px);
  }
}

.icon-check {
  position: relative;
  display: inline-flex;
  margin: 0 4px 0 0;

  &::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: $color-border-gray-dark svgIcon(check, 'ffffff') no-repeat center center/16px 16px;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.--primary {
    &::before {
      width: 16px;
      height: 16px;
      border: 1px solid $color-border-inverse;
      background: transparent svgIcon(check, 'ffffff') no-repeat center center/18px 18px;
    }
  }
}

.terms-box {
  @include font-body-xsmall;
  color: $color-text-subcolor-deep;

  p:not(:first-child) {
    margin-top: 16px;
  }

  .title:not(:first-child),
  .block {
    margin-top: 32px;
  }

  >ul {
    margin-top: 16px;
  }

  .terms-title {
    margin-bottom: 32px;
    @include font-body-small-bold;
    color: $color-text-basic;
  }

  .title {
    font-weight: $font-weight-semibold;
    color: $color-text-basic;

    &.--dot {
      &::before {
        content: '';
        display: inline-block;
        width: 4px;
        height: 4px;
        margin: 0 8px 0 0;
        background: $color-text-basic;
        border-radius: 50%;
        vertical-align: 2px;
      }
    }
  }
}

.form-list-wrap {
  max-width: 560px;
  margin: calc(120px - 48px) auto 0;

  &.--small {
    max-width: 386px;
    margin: 48px auto 0;
  }

  .btn-wrap {
    &.confirm {
      [class^=btn-] {
        width: 50%;
      }
    }
  }
}