@use 'mixin' as *;
@use 'variables' as *;
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400..700&display=swap');

main {
  max-width: 1200px;
  margin: 0 auto;
}

// Heading
h1 {
  margin-bottom: 40px;
  @include font-heading-xlarge-bold;
}

h2 {
  margin-bottom: 36px;
  @include font-heading-large-bold;
}

h3 {
  margin-bottom: 30px;
  @include font-heading-medium-bold;
}

h4 {
  margin-bottom: 24px;
  @include font-heading-small-bold;
}

h5 {
  margin-bottom: 20px;
  @include font-heading-xsmall-bold;
}

// input & select & dropdown
.form-field {
  +.form-field {
    margin-top: 37px;
  }

  .form-wrap {
    position: relative;

    input {
      padding-right: 40px;

      &:disabled,
      &:read-only {
        border: 1px solid $color-border-gray;
        background-color: $color-background-gray-subtle;
      }
    }

    &.select:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 12px;
      width: 16px;
      height: 16px;
      background-image: url('../img/icon/icon-arrow-16-down.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% 100%;
      transform: translateY(-50%);
    }

    .btn-select {
      position: relative;
      padding-right: 40px;
      text-align: left;
      line-height: 1;
      background: $color-background-white;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 12px;
        width: 16px;
        height: 16px;
        background-image: url('../img/icon/icon-arrow-16-down.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        transform: translateY(-50%);
      }

      &:focus,
      &:focus-visible,
      &:active {
        border: 1px solid $color-border-secondary;
      }

      &:disabled {
        border: 1px solid $color-border-gray;
        background: $color-background-gray-subtle;
        color: $color-text-basic;
      }
    }

    .option-list {
      display: none;
      position: absolute;
      width: 100%;
      padding: 10px 0;
      border-radius: 4px;
      border: 1px solid $color-border-gray;
      background: $color-border-inverse;
      z-index: 1;

      li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .btn-option {
          display: flex;
          align-items: center;
          flex: 1 0 0;
          align-self: stretch;
          min-height: 40px;
          padding: 0 10px;
          color: $color-text-basic;
          @include font-body-small;

          &:hover {
            background-color: $color-border-gray-light;
          }

          &:active {
            color: $color-text-primary;
            font-weight: 600;
          }
        }
      }
    }

    .util {
      position: absolute;
      right: 12px;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 8px;
      min-height: 16px;
      transform: translateY(-50%);

      [class^=btn-] {
        display: inline-flex;
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;

        &.btn-del {
          background-image: url('../img/icon/icon-del-circle-16.png');
        }

        &.btn-visible {
          background-image: url('');
        }

        i {
          font-size: 0;
        }

      }

      .guide-sub {
        display: inline-block;
        padding-right: 2px;
      }
    }

  }

  &.error,
  &.success {
    .description {
      &:before {
        content: '!!'; //background-image 대신 넣은거임. 나중에 삭제
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 4px;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
      }
    }
  }

  &.error {

    input,
    select,
    .btn-select {
      border: 1px solid $color-border-danger !important;
    }

    .description {
      color: $color-text-danger;

      &:before {
        background-image: url('');
      }
    }
  }

  &.success {

    input,
    select,
    .btn-select {
      border: 1px solid $color-text-success !important;
    }

    .description {
      color: $color-text-success;

      &:before {
        background-image: url('');
      }
    }
  }

  &.active {

    select,
    .btn-select {
      &:after {
        // transform: rotate(180deg) translateY(50%);
        background-image: url(../img/icon/icon-arrow-16-up.png);
      }
    }

    .option-list {
      display: block;
    }
  }

  // size
  &.small {

    input,
    select,
    .btn-select {
      height: 32px;
    }
  }

  &.large {

    input,
    select,
    .btn-select {
      height: 48px;
    }
  }

  &.xlarge {

    input,
    select,
    .btn-select {
      height: 56px;
    }
  }

  //login
  &.login {
    .form-wrap {
      input {
        padding-right: 64px;
      }
    }
  }

  // textarea
  &.textarea {
    .form-wrap {
      display: flex;
      align-items: flex-start;
      gap: 20px;

      label {
        padding: 15px 0;
        color: $color-text-basic;
        @include font-body-xsmall;
      }

      textarea {
        height: 84px;
        padding: 10px 12px;
        border-radius: 4px;
        // background-color: $gray-0;
      }
    }

    .count {
      margin: 8px 0 4px;
      text-align: right;
      color: $color-text-basic;
      @include font-body-xxsmall;
      font-weight: 500;

      >* {
        color: $color-text-basic;
        @include font-body-xxsmall;
        font-weight: 500;
      }
    }
  }

  &.search {
    .form-wrap {
      position: relative;

      input {
        height: 48px;
        padding-right: 86px;
        // box-shadow: none;
        border: none;
        border-radius: 8px;
        background: transparent;

        ~.search-bg {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 8px;
          border: 1px solid $Line-line-3;
          background-origin: border-box;
          background-clip: content-box, border-box;
          z-index: -1;
        }

        &:focus~.search-bg,
        &:hover~.search-bg {
          border: 2px solid transparent;
          background-image: linear-gradient($color-background-white, $color-background-white), linear-gradient(180deg, $color-border-primary-lighter 0%, #F4D360 42%, $color-border-primary 100%);

          ~.util .btn-search {
            background-image: url('../img/icon/icon-search-on-24.png');
          }
        }
      }

      .util {
        right: 0;
        gap: 0;

        .btn-search {
          width: 44px;
          height: 44px;
          margin-left: 14px;
          background-image: url('../img/icon/icon-search-24.png');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 24px 24px;
        }
      }

    }

    &.completed input~.search-bg {
      border: 2px solid transparent;
      background-image: linear-gradient($color-background-white, $color-background-white), conic-gradient(from 180deg at 50% 50%, #F4A0BC 0deg, #F1CB40 101.39984965324402deg, #92D1FF 270.5998492240906deg, #F4A0BC 360deg);
    }
  }

  &.file {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    [class^=btn-] {
      width: 100px;
    }

    [class^=guide] {
      flex: 1;
      @include ellipsis;
      -webkit-line-clamp: 1;
    }

    .btn-del {
      width: 24px;
      height: 24px;
      margin-left: 8px;
    }
  }
}

// toggle
.toggle-wrap,
.checkbox-wrap,
.radio-wrap {
  display: inline-flex;

  +[class$=-wrap] {
    margin-left: 34px;
  }

  .toggle,
  .checkbox,
  .radio {
    position: relative;
    display: inline-flex;
    line-height: 0;

    input {
      position: absolute;
      width: 0;
      height: 0;
      margin: 0;
      opacity: 0;

      // disabled
      &:disabled {
        +.toggle-switch {
          background: $color-border-gray-light;

          &:before {
            background: $color-border-gray;
          }

        }

        ~[class$=-label] {
          color: $color-text-subcolor;
        }

      }

      // focus
      &:focus,
      &:focus-visible {
        +.toggle-switch {
          outline-color: $color-border-primary-light;
          background: $color-border-disabled;

          &:before {
            background: $color-border-inverse;
          }
        }
      }

      // checked
      &:checked {
        +.toggle-switch {
          background: $color-border-primary;

          &:before {
            -webkit-transform: translateX(9px);
            transform: translateX(9px);
          }
        }

        &:disabled {
          +.toggle-switch {
            background: $color-border-gray-light;

            &:before {
              background: $color-border-gray;
            }
          }
        }

        &:focus,
        &:focus-visible {
          +.toggle-switch {
            border-color: $color-border-primary-light;
            background: #831339;

            &:before {
              background: $color-border-inverse;
            }
          }
        }
      }

      &:hover {

        +.radio-icon,
        +.checkbox-icon {
          border-color: #831339;
        }
      }

      // toggle switch
      +.toggle-switch {
        position: relative;
        display: inline-block;
        width: 25px;
        height: 16px;
        background: $color-border-gray;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 8px;
        outline: 1.6px solid $color-border-inverse;

        &:before {
          position: absolute;
          content: '';
          width: 12.8px;
          height: 12.8px;
          top: 1.5px;
          left: 1.5px;
          bottom: 1.5px;
          background: $color-background-white;
          -webkit-transition: .4s;
          transition: .4s;
          border-radius: 50%;
        }

      }

      // radio-icon, checkbox-icon
      +.radio-icon,
      +.checkbox-icon {
        position: relative;
        display: inline-block;
        width: 16px;
        height: 16px;
        background: $color-background-white;
        border-radius: 50%;
        border: 1px solid $Line-line;
        -webkit-transition: none;
        transition: none;

        &:before {
          content: none;
        }
      }

      // checkbox-icon
      +.checkbox-icon {
        border-radius: 4px;

        &:before {
          position: absolute;
          content: '';
          width: 12px;
          height: 12px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transition: none;
          transition: none;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 100% 100%;
        }
      }

    }

    // toggle, checkbox, radio text label
    [class$=-label] {
      display: inline-block;
      margin-left: 8px;
      color: $color-text-basic;
      @include font-body-xsmall;
      line-height: 15px;
      vertical-align: 4px;
    }
  }
}

// checkbox
.checkbox-wrap {
  +[class$=-wrap] {
    margin-left: 20px;
  }

  .checkbox {
    +.checkbox {
      margin-left: 20px;
    }

    input {

      // disabled
      &:disabled {
        +.checkbox-icon {
          background: $color-border-gray-light;

          &:before {
            background-image: url();
          }
        }
      }

      // focus
      &:focus,
      &:focus-visible {
        +.checkbox-icon {
          outline: 2px solid $color-border-primary-light;
          border: 0 none;

          &:before {
            background-image: url();
          }
        }
      }

      // checked
      &:checked {
        +.checkbox-icon {
          background: $color-border-primary;
          border-color: $color-border-primary;

          &:before {
            content: '';
            background-image: url('../img/icon/icon-checkbox-12.png');
            color: $color-text-basic-inverse;
          }
        }

        &:disabled {
          +.checkbox-icon {
            background-color: $color-border-gray-light;
            border-color: $Line-line;

            &:before {
              background-image: url();
              color: $color-border-gray;
            }
          }
        }
      }
    }
  }
}

// radio
.radio-wrap {
  +[class$=-wrap] {
    margin-left: 28px;
  }

  .radio {
    +.radio {
      margin-left: 28px;
    }

    input {

      // disabled
      &:disabled {
        +.radio-icon {
          background: $color-border-gray-light;
          border-color: $color-border-gray;
        }
      }

      // focus
      &:focus,
      &:focus-visible {
        +.radio-icon {
          border: 2px solid $color-border-primary-light;
        }
      }

      // checked
      &:checked {
        +.radio-icon {
          border: 4px solid $color-border-primary;
        }

        &:disabled {
          +.radio-icon {
            border-color: $color-border-gray;
          }
        }
      }
    }
  }
}

// button
#container {
  >.btn-wrap {
    justify-content: center;
    margin-top: 48px;

    [class^=btn-] {
      min-width: 180px;
    }

    [class^=btn-]+[class^=btn-] {
      margin-left: 8px;
    }
  }
}

.btn-wrap {
  display: flex;
}

.btn-primary {
  @include button;
  border-color: $color-border-primary;
  background: $color-border-primary;
  color: $color-text-basic-inverse;

  @include button-disabled;

  &:hover {
    border-color: #F181A6;
    background: #F181A6;
  }

  &:active {
    border-color: #E62263;
    background: #E62263;
  }
}

.btn-black {
  @include button;
  border-color: $color-border-gray-dark;
  background: $color-border-gray-dark;
  color: $color-text-basic-inverse;

  @include button-disabled;

  &:hover,
  &:active {
    border-color: $color-border-gray-darker;
    background: $color-border-gray-darker;
  }
}

.btn-outline {
  @include button;
  border-color: $color-border-gray-dark;
  background: $color-background-white;
  color: $color-text-basic;

  @include button-disabled;

  &:hover {
    border-color: $color-border-gray-dark;
    background: $color-border-gray-light;
  }

  &:active {
    border-color: $color-border-gray-dark;
    background: $color-border-gray-dark;
    color: $color-text-basic-inverse;
  }
}

.btn-round {
  @include button;
  border-color: $color-border-gray-dark;
  background: $color-border-inverse;
  color: $color-text-basic;
  border-radius: 24px;
  height: 29px;
  padding: 10px 24px;
  @include font-body-xsmall;

  &.icon {
    height: 36px;

    &:after {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 1px solid $color-border-gray-dark;
    }
  }

  span:only-child {
    padding: 0;
    line-height: 1;
  }

  &:hover,
  &:active {
    border-color: $color-border-gray-dark;
    background: $color-border-gray-dark;
    color: $color-text-basic-inverse;
  }
}

.btn-text {
  @include button;
  border: 0;
  color: $color-text-subcolor;
  height: auto;
  border-radius: 0;
  padding: 0;
  @include font-body-small;
  line-height: 16px;

  &:after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #ddd;
  }

  &.small {
    height: auto;
    @include font-body-xsmall;
  }

  &.large {
    height: auto;
    @include font-body-medium;
    line-height: 20px;

    &:after {
      width: 24px;
      height: 24px;
    }
  }

  span:only-child {
    padding: 0;
    line-height: 1;
  }
}

.btn-top {
  @include button;
  border: 0;
  background: $color-border-gray-light;
  color: $color-text-basic;
  border-radius: 10px;
  flex-direction: column;
  width: 56px;
  height: 56px;
  padding: 0;
  @include font-body-xsmall;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05), 0px 8px 20px 0px rgba(0, 0, 0, 0.05);

  i {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 0;
    background: url('../img/icon/icon-arrow-line-24-up.png') no-repeat center center/100% 100%;

    +span {
      margin: 4px 0 0;
      padding: 0;
      line-height: 1;
    }
  }

  &.label {
    width: 64px;
    height: 64px;
  }

  &:hover {
    background: $color-border-primary-light;
    color: $color-text-basic-inverse;
  }

  &:active {
    background: $color-border-primary;
    color: $color-text-basic-inverse;
  }
}

.alert-danger {
  @include alert;
  background: $color-border-danger-light;

  &:before {
    background-image: url();
    background: #003f6d; //background-image 대신 넣은거임. 나중에 삭제
  }

  .title {
    color: #BD2C0F;
  }
}

.alert-warning {
  @include alert;
  background: $color-border-warning-light;

  &:before {
    background-image: url();
    background: #003f6d; //background-image 대신 넣은거임. 나중에 삭제
  }

  .title {
    color: #8A5C00;
  }
}

.alert-success {
  @include alert;
  background: $color-border-success-light;

  &:before {
    background-image: url();
    background: #003f6d; //background-image 대신 넣은거임. 나중에 삭제
  }

  .title {
    color: #267337;
  }
}

.alert-information {
  @include alert;
  background: $color-border-secondary-light;

  &:before {
    background-image: url();
    background: #003f6d; //background-image 대신 넣은거임. 나중에 삭제
  }

  .title {
    color: #096AB3;
  }
}

.modal {
  @include modal;
  width: 480px;

  .modal-title {
    margin-bottom: 16px;
    color: $color-text-basic;
  }

  .modal-content {
    color: $color-text-basic;
    @include font-body-small;

    [class^=cont-]+[class^=cont-] {
      margin-top: 16px;
    }
  }

  .modal-footer {
    margin-top: 16px;
    padding: 16px;

    .btn-wrap {
      justify-content: flex-end;
    }
  }

  .btn-wrap.close {
    position: absolute;
    top: 16px;
    right: 20px;

    .btn-close {
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url() no-repeat center center/100% 100%;
      background: #003f6d; //background-image 대신 넣은거임. 나중에 삭제
      font-size: 0;
    }
  }

  &.large {
    width: 540px;
  }

  &.small {
    width: 400px;
  }
}

#container {
  padding: 16px 0 48px;
}

// guide text
.guide {
  &-sub {
    @include font-body-small;
    color: $color-text-subcolor;
    /* #969696 */

    *+& {
      padding-left: 8px;
    }

    &.small {
      @include font-body-xsmall
    }
  }

  &-sub-deep {
    @include font-body-small;
    color: $color-text-subcolor-deep;

    /* #737373 */
    *+& {
      padding-left: 8px;
    }

    &.small {
      @include font-body-xsmall
    }
  }

  &-basic {
    @include font-body-small;
    color: $color-text-basic;

    /* #4c4c4c */
    *+& {
      padding-left: 8px;
    }

    &-title {
      @include font-body-small-bold;
      color: $color-text-basic;
    }
  }
}

.description {
  margin-top: 8px;
  color: $color-text-subcolor;
  @include font-body-xsmall;
}

// description box
.desc-box {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  text-align: center;
  @include font-body-small;
  color: $color-text-basic;

  &.line-box {
    padding: 10px 0px;
    border-top: 1px solid $Line-line;
    border-bottom: 1px solid $Line-line;
  }

  &.gray-light-box {
    padding: 20px 0px;
    background: $color-border-gray-light;
  }

  &.border-box {
    padding: 32px;
    border-radius: 4px;
    border: 1px solid $Line-line;
    background: $color-background-white;
    text-align: left;

    .guide {
      @include font-body-xsmall;
    }
  }

  &.tertiary-light-box {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    border-radius: 4px;
    background: $color-border-tertiary-light;
    @include font-body-small;
    text-align: left;

    .btn-outline {
      width: 175px;
    }

    &.small {
      gap: 32px;
      padding: 16px 24px;
      border-radius: 6px;
    }
  }

  [class$=-title] {
    +[class^=guide-] {
      margin-top: 16px;
    }
  }

  [class^=guide-] {
    +[class$=-title] {
      margin-top: 32px;
    }
  }

  ul[class^=guide-] {
    padding: 0;
  }

  .rating-wrap {
    justify-content: center;

    +[class^=guide] {
      margin-top: 8px;
      padding: 0;
      text-align: center;
    }
  }
}

// pagination
.pagination {
  display: flex;
  justify-content: center;
  margin: 24px 0 48px;

  .item-wrap {
    display: flex;

    .item {

      a,
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 40px;
        height: 40px;
        padding: 10px;
        border-radius: 4px;
        @include font-body-small;
        color: $color-text-basic;

        &:hover {
          background: $color-border-gray-light;
          color: $color-text-basic;
        }
      }

      span {
        letter-spacing: -1px;

        &:hover {
          background: $color-background-white;
        }
      }

      &:first-of-type {

        a,
        span {
          padding: 12px 12px 12px 4px;

          &:before {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 2px;
            background: #003f6d;
          }
        }
      }

      &:last-of-type {
        a {
          padding: 12px 4px 12px 12px;

          &:after {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-left: 2px;
            background: #003f6d;
          }
        }
      }

      &.disabled {

        a,
        span {
          background: $color-background-white;
          color: $color-text-subcolor-light;
        }
      }

      &.active {

        a,
        span {
          background: $color-border-gray-dark;
          color: $color-text-basic-inverse;
        }
      }
    }
  }
}

// table
.util-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}