@use 'mixin' as *;
@use 'variables' as *;
@use "sass:list";

// 마이페이지 사용자 등급안내
.user-level-wrap {
  display: flex;
  align-items: center;
  gap: 0 32px;
  padding: 38px 0;

  .user-level-img {
    flex: 0 0 120px;
    height: 130px;

    .img-item {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 0 10px;
      font-size: 0;

      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-image: url('/resources/fe/images/icon/icon-level.png');
        background-repeat: no-repeat;
        background-size: 600px auto;
      }
    }
  }

  .user-level-info {
    flex: 1;
    @include font-body-large;
    color: $color-text-basic;

    .user-item {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 16px;
    }

    .user {
      padding-right: 6px;
      font-weight: $font-weight-bold;
    }

    .level {
      padding: 0 12px;
      font: 800 28px/28px 'Pretendard';
    }
  }

  // 등급별
  &.--level-01 {
    .user-level-img {
      .img-item::before {
        background-position: 0 0;
      }
    }

    .level {
      color: #F9576E;
    }
  }

  &.--level-02 {
    .user-level-img {
      .img-item::before {
        background-position: -100px 0;
      }
    }

    .level {
      color: #40B358;
    }
  }

  &.--level-03 {
    .user-level-img {
      .img-item::before {
        background-position: -200px 0;
      }
    }

    .level {
      color: #FFB22C;
    }
  }

  &.--level-04 {
    .user-level-img {
      .img-item::before {
        background-position: -300px 0;
      }
    }

    .level {
      color: #FF72BB;
    }
  }

  &.--level-05 {
    .user-level-img {
      .img-item::before {
        background-position: -400px 0;
      }
    }

    .level {
      color: #7ABB58;
    }
  }

  &.--level-06 {
    .user-level-img {
      .img-item::before {
        background-position: -500px 0;
      }
    }

    .level {
      color: #B9ABA1;
    }
  }
}

// 상품 주문 상태
.product-step-wrap {
  .step-status {
    display: flex;
    flex-wrap: wrap;
    gap: 0 46px;
    padding: 26px 16px;
    border-top: 1px solid $Line-line;
    border-bottom: 1px solid $Line-line;

    li {
      position: relative;
      flex: 1;
      text-align: center;

      &.--active {
        .item-number {
          color: $color-text-primary;
        }
      }

      .item-title {
        margin-bottom: 20px;
        @include font-body-small-bold;
        color: $color-text-basic;
        white-space: nowrap;
      }

      .item-number {
        @include font-heading-medium-bold;
        color: $color-text-subcolor-light;
      }

      +li {
        @include line-icon(next, 12px);

        &::before {
          top: calc(50% - 4px);
          right: auto;
          left: -21px;
          background: $color-border-gray;
        }

        &::after {
          top: calc(50% + 4px);
          right: auto;
          left: -21px;
          background: $color-border-gray;
        }
      }
    }
  }
}

// 쿠폰, 이벤트
.box-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  &.--large {
    gap: 48px 20px;
  }

  .item {
    .coupon {
      position: relative;
      display: block;
      width: 100%;
      max-height: 200px;

      .coupon-end-date {
        position: absolute;
        bottom: 12%;
        left: 6%;
        @include font-body-medium-bold;
        color: $color-text-primary;
      }
      
      .coupon-d-day {
        position: absolute;
        top: 12px;
        right: 12px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        padding: 0 10px;
        border-radius: 15px;
        background: $color-border-primary;
        @include font-body-medium-bold;
        color: $color-text-basic-inverse;
      }
    }

    .event {
      display: block;

      .event-img {
        overflow: hidden;
        width: 100%;
        border-radius: 8px;
      }

      .guide-basic-title {
        margin-top: 12px;
        font-family: $font-typo-en-font;
      }
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    &.--inactive {
      filter: grayscale(1);
    }
  }
}

// 고객센터
.cont-division {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 32px;
  text-align: left;

  >.title-wrap {
    min-width: 273px;

    .cont-title {
      align-self: flex-start;

      &::before {
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        margin-right: 8px;
        border-radius: 50%;
        background: $color-text-basic;
        vertical-align: 3px;
      }
    }
  }

  .img-box {
    &.--customer-info {
      max-width: 401px;
      max-height: 213px;
    }
  }

  .cont-info {
    flex: 1;
    gap: 32px 0;

    .cont-item {
      flex: 0 0 50%;
      align-self: flex-start;
    }

    >[class^=guide-] {
      margin-top: 0;
    }

    &.--customer-info {
      flex-direction: row;
      flex: 0 0 500px;
      flex-wrap: wrap;
    }
  }
}

.cont-info {
  display: flex;
  flex-direction: column;
  gap: 20px;

  +.cont-info {
    margin-top: 32px;
  }

  &.--customer-info {
    .title-icon {
      &::before {
        margin-right: 8px;
        vertical-align: -2px;
      }

      &.--center {
        @include sprite-icons(42, 16px);
      }

      &.--delivery {
        @include sprite-icons(67, 16px);
      }

      &.--email {
        @include sprite-icons(62, 16px);
      }

      &.--account {
        @include sprite-icons(68, 16px);
      }

      &.--map {
        @include sprite-icons(44, 16px);
      }
    }
  }

  &.--design-guide {
    flex-direction: row;
    gap: 20px 0;
    flex-wrap: wrap;

    .cont-item {
      flex: 0 0 50%;
      align-self: flex-start;
    }

    .icon-box {
      margin-top: 0;
    }
  }
}

.tab-item {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .tab-cont {
    display: none;
  }
}

.map-box {
  width: 100%;
  height: 400px;
}