@use 'common';

// header
.top-banner-wrap {
  position: relative;
  width: 100%;

  .top-banner {
    position: relative;
    height: 65px;

    .top-banner-link {
      display: block;
      overflow: hidden;

      img {
        width: 100%;
        height: 65px;
        object-fit: contain;
      }
    }
  }

  .top-banner-close {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    .btn-close {
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url() no-repeat center center/100% 100%;
      background: #003f6d; //background-image 대신 넣은거임. 나중에 삭제
      font-size: 0;
    }
  }
}

header {
  position: relative;

  .util-menu-wrap {
    position: relative;

    .util-menu {
      display: flex;
      gap: 0 16px;
    }

  }

  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    .logo {
      margin: 0;

      .logo-link {
        display: flex;
        align-items: flex-end;
        padding: 4px 0;
        color: var(--color-text-basic);
        font-size: var(--font-size-navigation-XXS);
        font-weight: 500;

        .logo-img {
          display: inline-block;
          width: 78px;
          height: 38px;
          object-fit: contain;
        }

        p {
          display: inline-block;
          margin-left: 4px;

        }
      }
    }

    .util-menu-wrap {
      .util-menu {

        [class^=btn-] {
          display: inline-block;
          width: 36px;
          height: 36px;
          background: #003f6d; //대신 넣은거임. 나중에 삭제

          span {
            font-size: 0;
          }
        }
      }

      .quick-menu {
        position: absolute;
        left: calc(100% - (36px * 3 + 16px));
        transform: translateX(-50%);
        padding: 10px;
        border-radius: 4px;
        border: 1px solid var(--Line-line);
        background: var(--color-text-basic-inverse);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05), 0px 8px 20px 0px rgba(0, 0, 0, 0.05);
        z-index: 1;

        .user-info {
          padding-bottom: 8px;
          border-bottom: 1px solid var(--Line-line);
          text-align: center;

          .user-img {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin-bottom: 8px;
            border-radius: 50%;
            background: var(--color-border-tertiary); //대신 넣은거임. 나중에 삭제

            img {
              display: inline-block;
              width: 40px;
              height: 40px;
              object-fit: cover;
            }
          }

          .user-name {
            @extend %body-xxsmall-bold;
            color: var(--color-text-basic);
          }
        }

        .quick-menu-list {

          li {
            padding: 8px 0 0;
            @extend %body-xsmall;
            text-align: center;

            a {
              display: block;
              color: var(--color-text-subcolor);
              white-space: nowrap;

              &:hover {
                color: var(--color-text-basic);
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }

  .gnb-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .gnb {
      display: flex;
      align-items: center;
      gap: 0 8px;

      .btn-menu-all {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        background: url() no-repeat center center/100% auto;
        background: #003f6d; //대신 넣은거임. 나중에 삭제

        span {
          font-size: 0;
        }
      }

      .gnb-menu {
        ul {
          display: flex;
          gap: 0 16px;
          align-items: center;

          .depth-1 {
            a {
              display: block;
              padding: 10px 3px;
              color: var(--color-text-subcolor-deep);
              @extend %depth-medium;
              line-height: 20px;
            }

            a:hover,
            &.active a {
              color: var(--color-text-primary);
              font-weight: 600;
            }
          }
        }
      }

    }

    .util-menu-wrap {
      .util-menu {
        gap: 0;

        .btn-customer {
          @extend %depth-small-medium;
          line-height: 20px;
          color: var(--color-text-basic);
        }

        >*+* {
          position: relative;
          margin-left: 5px;
          padding-left: 5px;
          line-height: 20px;

          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            display: inline-block;
            width: 1px;
            height: 10px;
            background: #dedede;
            transform: translateY(-50%);
          }
        }
      }
    }
  }

  .all-menu-wrap {
    position: absolute;
    width: 100%;
    padding: 32px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05), 0px 8px 20px 0px rgba(0, 0, 0, 0.05);
    color: var(--color-text-basic);

    .banner-wrap {
      display: flex;
      flex: 1 100%;
      gap: 0 12px;
      margin-bottom: 24px;

      a {
        display: inline-block;

        img {
          display: inline-block;
          width: 240px;
          height: 64px;
          object-fit: cover;
        }
      }
    }

    .all-menu {
      display: flex;
      flex-flow: row wrap;

      .all-menu-inner {
        display: flex;
        flex: 1;

        +.all-menu-inner {
          margin-top: 24px;
          padding-top: 32px;
          border-top: 1px solid var(--Line-line-2);

          .category>ul>li {
            width: 150px;

            &:last-child {
              width: 116px;
            }
          }
        }

        .category {
          display: flex;
          flex-direction: column;
          flex: 1;



          +.category {
            padding-left: 22px;
            border-left: 1px solid var(--Line-line);
          }

          >.depth-1 {
            margin: 0 0 22px;
            @extend %title-semibold;

            &.focus:after {
              content: '';
              display: inline-block;
              width: 5px;
              height: 5px;
              background: #EA4279;
              border-radius: 50%;
              vertical-align: 12px;
            }
          }

          >ul {
            display: flex;
            gap: 0 20px;

            &:nth-child(even) li {
              width: 150px;
            }

            >li {
              // flex: 0 1 182px;
              width: 182px;


              >.depth-2 {
                margin-bottom: 8px;
                @extend %depth-medium-bold;
              }

              >ul {
                +.depth-2 {
                  margin-top: 36px;
                }
              }

              a:hover,
              &.active a {
                color: var(--color-text-primary);
                text-decoration: underline;
              }

              .depth-3 {
                margin: 4px 0;
                padding: 3px 0;

                a {
                  display: block;
                  color: var(--color-text-subcolor-deep);
                  @extend %depth-small-medium;

                  &:hover {
                    color: var(--color-text-primary);
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
      }

      .product-info {
        width: 566px;
        padding-left: 32px;
        border-left: 1px solid var(--Line-line);
        border-radius: 6px;

        .product-img {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0 16px;

          li {
            overflow: hidden;
            border-radius: 10px;
            border: 1px solid var(--Line-line);

            img {
              display: inline-block;
              flex: 0 1 50%;
              width: 259px;
              height: 259px;
              object-fit: cover;

            }
          }

        }

        .product-text {
          margin-top: 20px;
          color: var(--color-text-basic);
          @extend %body-xsmall;
          color: var(--color-text-subcolor);

          .title {
            display: block;
            margin-bottom: 14.5px;
            @extend %title-medium;
            color: var(--color-text-basic);

            .status {
              display: inline-block;
              width: 16px;
              height: 16px;
              margin-left: 2px;
              vertical-align: -3px;
              background: url() no-repeat center center/100% 100%;
              background: #003f6d; //대신 넣은거임. 나중에 삭제
            }
          }
        }
      }
    }
  }
}