@use 'mixin' as *;
@use 'variables' as *;

// header
.top-banner-wrap {
  position: relative;
  width: 100%;

  .top-banner {
    position: relative;
    height: 65px;

    .top-banner-link {
      display: block;
      overflow: hidden;

      img {
        width: 100%;
        height: 65px;
        object-fit: contain;
      }
    }
  }

  .top-banner-close {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

header {
  position: relative;
  border-bottom: 1px solid $Line-line;
}

.util-menu-wrap {
  position: relative;

  .util-menu {
    display: flex;
    gap: 0 16px;
  }
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  .logo {
    margin: 0;

    .logo-link {
      display: flex;
      align-items: flex-end;
      padding: 4px 0;
      color: $color-text-basic;
      font-size: $font-size-navigation-XXS;
      font-weight: $font-weight-medium;

      .logo-img {
        display: inline-block;
        width: 78px;
        height: 38px;
        object-fit: contain;
      }

      p {
        display: inline-block;
        margin-left: 4px;

      }
    }
  }

  .util-menu-wrap {
    .util-menu {

      [class^=btn-] {
        display: inline-block;
        width: 36px;
        height: 36px;

        span {
          font-size: 0;
        }
      }

      .btn-search {
        background: url('../img/icon/icon-search.png') no-repeat center center/24px 24px;
      }

      .btn-login {

        &.--login {
          background: svgIcon(user, '4c4c4c', 'transparent') no-repeat center center/36px 36px;
        }

        &.--logout {
          background: svgIcon(user, '4c4c4c', 'ed6190') no-repeat center center/36px 36px;
        }

        &.--active {
          background: svgIcon(user, 'ed6190', 'ed6190') no-repeat center center/36px 36px;
        }
      }

      .btn-cart {
        background: url('../img/icon/icon-cart.png') no-repeat center center/24px 24px;
      }
    }

    .quick-menu {
      left: calc(100% - (36px * 2)); // (버튼width * 메뉴갯수-1)
    }
  }
}

.util-menu-wrap {
  .quick-menu {
    position: absolute;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid $Line-line;
    background: $color-text-basic-inverse;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05), 0px 8px 20px 0px rgba(0, 0, 0, 0.05);
    z-index: 1;

    .user-info {
      margin-bottom: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid $Line-line;
      text-align: center;

      .user-img {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-bottom: 8px;
        border-radius: 50%;
        background: $color-border-tertiary; //대신 넣은거임. 나중에 삭제

        img {
          display: inline-block;
          width: 40px;
          height: 40px;
          object-fit: cover;
        }
      }

      .user-name {
        @include font-body-xxsmall-bold;
        color: $color-text-basic;
      }
    }

    .quick-menu-list {
      li {
        +li {
          margin-top: 8px;
        }

        @include font-body-xsmall;
        text-align: center;

        a {
          display: block;
          color: $color-text-subcolor;
          white-space: nowrap;

          &:hover {
            color: $color-text-basic;
            font-weight: 600;
          }
        }
      }
    }
  }
}

header {
  position: sticky;
  top: 0;
  height: 40px;
  background: $color-background-white;
  border-bottom: 1px solid $Line-line;
  z-index: 10;

  .header-inner {
    position: relative;
  }

  .gnb-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .gnb {
      display: flex;
      align-items: center;
      gap: 0 8px;
      overflow-x: auto;

      .btn-menu-all {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3.5px 0;
        width: 36px;
        height: 36px;
        position: relative;

        &::before,
        &::after {
          content: '';
          display: block;
          width: 12px;
          height: 1.5px;
          border-radius: 1px;
          background: $color-border-gray-dark;
        }

        span {
          font-size: 0;
          display: block;
          width: 12px;
          height: 1.5px;
          border-radius: 1px;
          background: $color-border-gray-dark;
        }
      }

      .gnb-menu {
        ul {
          display: flex;
          gap: 0 16px;
          align-items: center;
          padding: 6px 0;

          .depth-1 {
            a {
              display: block;
              padding: 4px 3px;
              color: $color-text-subcolor-deep;
              @include depth-medium;
              line-height: 20px;
              white-space: nowrap;
            }

            a:hover,
            &.--active a {
              color: $color-text-primary;
              font-weight: 600;
            }

            &.product {
              a {
                padding: 4px 8px;
                @include depth-xsmall-semibold;
                border-radius: 24px;
                border: 1px solid $color-border-gray;
                background: $color-border-gray-light;

                &::before {
                  content: '';
                  display: inline-block;
                  width: 16px;
                  height: 16px;
                  margin-right: 4px;
                  background: url('../img/icon/icon-briefcase.png') no-repeat center center/100% 100%;
                  vertical-align: -3px;
                }

                &:hover {
                  color: $color-text-subcolor-deep;
                }
              }
            }
          }
        }
      }

    }

    .util-menu-wrap {
      .util-menu {
        gap: 0;
        color: $color-text-subcolor;
        white-space: nowrap;

        [class^=btn-]:hover {
          color: $color-text-basic;
        }

        .btn-customer {
          @include depth-small-medium;
          line-height: 20px;
        }

        >*+* {
          position: relative;
          margin-left: 5px;
          padding-left: 5px;
          line-height: 20px;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            display: inline-block;
            width: 1px;
            height: 10px;
            background: $Line-line;
            transform: translateY(-50%);
          }
        }

        .btn-select {
          position: relative;
          text-align: left;
          line-height: 1;
          height: 20px;
          padding: 2px 20px 2px 5px;
          @include depth-xsmall-semibold;
          border: none;
          background: $color-background-white;

          &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: 16px;
            height: 16px;
            background-image: url('../img/icon/icon-arrow-triangle.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100% 100%;
            transform: translateY(-50%);
          }

          &:hover {
            background: $color-border-gray-light;
          }
        }

        .quick-menu-wrap.--active {
          .btn-select {
            &::after {
              transform: translateY(-50%) rotate(180deg);
            }
          }
        }
      }

      .quick-menu {
        left: auto;
        transform: translateX(0);
        min-width: 90px;
      }
    }
  }
}

.all-menu-wrap {
  position: absolute;
  top: 40px;
  padding: 32px;
  border-radius: 6px;
  background: $color-background-white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05), 0px 8px 20px 0px rgba(0, 0, 0, 0.05);
  color: $color-text-basic;
  z-index: 1;

  .banner-wrap {
    display: flex;
    flex: 1 100%;
    gap: 0 12px;
    margin-bottom: 24px;

    a {
      display: inline-block;

      img {
        display: inline-block;
        width: 240px;
        height: 64px;
        object-fit: cover;
      }
    }
  }

  .all-menu {
    display: flex;
    flex-wrap: wrap;

    .category-wrap {
      display: flex;
      flex: 1;

      +.category-wrap {
        margin-top: 24px;
        padding-top: 32px;
        border-top: 1px solid $Line-line-2;
      }

      &:last-child {
        padding-bottom: 24px;
        border-bottom: 1px solid $Line-line-2;
      }

      .category {
        display: flex;
        flex-direction: column;
        flex: 1;

        +.category {
          padding-left: 20px;
          border-left: 1px solid $Line-line;
        }

        >.depth-1 {
          margin: 0 0 20px;
          @include title-semibold;

          &.focus:after {
            content: '';
            display: inline-block;
            width: 5px;
            height: 5px;
            background: $color-border-primary;
            border-radius: 50%;
            vertical-align: 12px;
          }

          .desc-guide {
            @include desc-guide;
            vertical-align: 1px;

            i {
              padding-right: 2px;
              font-size: $font-size-body-small;
              color: $color-text-tertiary;
            }
          }
        }

        >ul {
          display: flex;
          gap: 0 20px;

          >li {
            min-width: 172px;

            >.depth-2 {
              margin-bottom: 8px;
              @include depth-medium-bold;
            }

            >ul {
              +.depth-2 {
                margin-top: 36px;
              }
            }

            a:hover,
            &.--active a {
              color: $color-text-primary;
              text-decoration: underline;
            }

            .depth-3 {
              margin: 4px 0;
              padding: 3px 0;

              a {
                display: inline-flex;
                align-items: center;
                color: $color-text-subcolor-deep;
                @include depth-small-medium;

                &:hover {
                  color: $color-text-primary;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }

    .header-product-wrap {
      width: 566px;
      padding-left: 32px;
      border-left: 1px solid $Line-line;
      border-radius: 6px;

      .product-img {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 16px;
        width: auto;
        height: auto;
        border: none;

        li {
          overflow: hidden;
          border-radius: 10px;
          border: 1px solid $Line-line;

          img {
            display: inline-block;
            flex: 0 1 50%;
            width: 259px;
            height: 259px;
            object-fit: cover;

          }
        }

      }

      .product-info {
        margin-top: 20px;
        color: $color-text-basic;
        @include font-body-xsmall;
        color: $color-text-subcolor;

        .product-name {
          display: flex;
          align-items: center;
          margin-bottom: 12px;
          @include title-medium;
          color: $color-text-basic;

        }
      }
    }
  }

  .status {

    i {
      bottom: -45px;
    }
  }
}

footer {
  background: $color-border-gray-darker;

  .footer-wrap {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 32px 0 64px;

    @include font-body-xsmall;
    color: $color-text-subcolor;

    .company {
      margin-bottom: 32px;

      .logo {
        a {
          display: inline-block;
          width: 124px;
          height: 40px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      .sns {
        margin-top: 16px;

        [class^=btn-sns-] {
          display: inline-block;
          width: 24px;
          height: 24px;
          margin-right: 8px;
          font-size: 0;
        }
      }
    }

    .contact {
      grid-column: 2;
      grid-row: 1 / 3;
      width: 336px;
      @include font-body-xsmall;
      color: $color-text-basic-inverse;

      >div+div {
        margin-top: 8px;
      }

      .contact-cs {
        display: flex;
        justify-content: space-between;
        padding: 16px 24px;
        border-radius: 6px;
        background: $color-alpha-base10;

        strong {
          display: inline-block;
          margin-bottom: 8px;
          @include font-body-small-bold;

          &::before {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-right: 8px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            vertical-align: -6px;
          }

          &.center {
            &::before {
              background-color: $color-text-primary;
              background-image: url('');
            }
          }

          &.delivery {
            &::before {
              background-color: $color-border-tertiary;
              background-image: url('');
            }
          }
        }

        dl {
          display: grid;
          grid-gap: 0 4px;
        }

        dt {
          grid-column: 1;
          display: inline-block;
          vertical-align: top;
          min-width: fit-content;
        }

        dd {
          grid-column: 2;
          display: inline-block;
          vertical-align: top;
          min-width: max-content;

          em {
            display: block;
            color: $color-text-subcolor;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            ;
          }
        }
      }

      .contact-info {
        display: flex;
        align-items: center;
        min-height: 50px;
        padding: 12px 20px;
        border-radius: 6px;

        dl {
          display: flex;
          flex-wrap: wrap;

          dt {
            flex: 0 auto;
            margin-right: 4px;
            font-weight: 600;
          }

          dd+dt,
          dd+dd {
            margin-left: 11px;
          }
        }

        &.webhard {
          background: $color-border-secondary;

          &::before {
            content: '';
            display: inline-block;
            width: 42px;
            height: 29px;
            margin-right: 20px;
            background: $color-border-primary url('') no-repeat center center/100% 100%;
          }

          .btn-text {
            height: 24px;
            margin-left: auto;
            padding: 4px 4px 4px 8px;
            border-radius: 4px;
            border: 1px solid $color-border-gray-light;
            background: $color-alpha-base25;
            @include font-body-xxsmall;
            font-weight: 500;
            color: $color-text-subcolor-inverse;
          }
        }

        &.account {
          background: #896F12;

          &::before {
            content: '';
            display: inline-block;
            width: 40px;
            height: 24px;
            margin-right: 20px;
            background: $color-border-primary url('') no-repeat center center/100% 100%;
          }
        }
      }
    }

    .info {
      dl:not(.address) {
        display: inline-block;

        dt {
          display: inline-block;
        }

        dd {
          display: inline-block;
          padding-right: 16px;
        }

      }

      .address {
        dt {
          display: inline-block;
        }

        dd {
          display: inline-block;
        }
      }

      .copyright {
        margin-top: 32px;
      }
    }
  }

  .footer-link-wrap {
    border-bottom: 1px solid $Line-line-3;

    .footer-link {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;

      li {
        flex: 1;
        position: relative;

        +li {
          &::before {
            content: '';
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 1px;
            height: 10px;
            background: $Line-line-3;
          }
        }
      }

      a {
        display: block;
        padding: 16px 0;
        @include font-body-xsmall;
        color: $color-text-subcolor-inverse;
        text-align: center;
      }
    }
  }
}

@media (max-width:700px) {
  footer {
    .footer-link-wrap {
      .footer-link {
        a {
          padding: 8px 0;
        }
      }
    }

    .footer-wrap {
      display: block;
      padding: 32px 17px;


      .contact {
        width: 100%;
      }

      .info dl dt {
        display: block;
      }

      .info dl dd {
        display: block;
      }
    }
  }
}