@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400..700&display=swap');

main {
  max-width: 1200px;
  margin: 0 auto;
}

:root {
  // line
  --Line-line: #dedede;
  --Line-line-2: #969696;
  --Line-line-3: #565656;

  // Display Status
  --Display-Status-Display1: #fa5c54;
  --Display-Status-Display2: #ff7373;
  --Display-Status-Display3: #eb8d57;
  --Display-Status-Display4: #84c860;
  --Display-Status-Display5: #6dcda6;
  --Display-Status-Display6: #5bc5d2;
  --Display-Status-Display7: #7284c6;
  --Display-Status-Display8: #a454dd;
  --Display-Status-Display9: #f65b90;
  --Display-Status-Display10: #2ea73a;

  // font
  --font-typo-main-font: 'Pretendard Variable', Pretendard;
  --font-typo-icon-en-font: 'Montserrat';

  --font-size-heading-xsmall: 17px;
  --font-size-heading-small: 19px;
  --font-size-heading-medium: 24px;
  --font-size-heading-large: 32px;
  --font-size-heading-xlarge: 40px;

  --font-size-navigation-XXS: 12px;
  --font-size-navigation-XS: 13px;
  --font-size-navigation-S: 14px;
  --font-size-navigation-M: 16px;
  --font-size-navigation-L: 18px;

  --font-size-body-xxsmall: 12px;
  --font-size-body-xsmall: 13px;
  --font-size-body-small: 15px;
  --font-size-body-medium: 17px;
  --font-size-body-large: 20px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-letter-spacing-0: 0px;
  --font-letter-spacing-1: 1px;

  // mode
  --color-background-white: #fff;
  --color-background-gray-subtler: #f8f8f8;
  --color-background-gray-subtle: #f4f5f6;
  --color-background-inverse: #3c3c3c;
  --color-background-dim: rgba(0, 0, 0, .75);

  --color-border-transparency: rgba(0, 0, 0, 0);
  --color-border-inverse: #fff;
  --color-border-disabled: #a5a5a5;
  --color-border-gray-light: #f4f5f6;
  --color-border-gray: #d6d6d6;
  --color-border-gray-dark: #4c4c4c;
  --color-border-gray-darker: #292929;
  --color-border-primary-light: #fbdfe9;
  --color-border-primary-lighter: #f8c0d2;
  --color-border-primary: #ed6190;
  --color-border-secondary-light: #dbf0ff;
  --color-border-secondary-lighter: #b6e0ff;
  --color-border-secondary: #007fdb;
  --color-border-tertiary-light: #FDF6DF;
  --color-border-tertiary-lighter: #F8E59F;
  --color-border-tertiary: #EFC220;
  --color-border-point-light: #f5d6d9;
  --color-border-point: #d63d4a;
  --color-border-danger-light: #fbeff0;
  --color-border-danger: #de3412;
  --color-border-warning-light: #fff3db;
  --color-border-warning: #c78500;
  --color-border-success-light: #d8eedd;

  --color-divider-gray-light: #e6e8ea;
  --color-divider-gray: #dedede;
  --color-divider-gray-dark: #a5a5a5;
  --color-divider-gray-darker: #4c4c4c;
  --color-divider-inverse: #fff;

  --color-text-basic: #4c4c4c;
  --color-text-basic-inverse: #fff;
  --color-text-subcolor: #969696;
  --color-text-subcolor-inverse: #f4f5f6;
  --color-text-subcolor-light: #c6c6c6;
  --color-text-subcolor-inverse-light: #fafafa;
  --color-text-subcolor-deep: #737373;
  --color-text-subcolor-inverse-deep: #e6e8ea;
  --color-text-primary: #ea4279;
  --color-text-secondary: #24a3ff;
  --color-text-tertiary: #efc220;
  --color-text-point: #d63d4a;
  --color-text-danger: #de3412;
  --color-text-warning: #c78500;
  --color-text-success: #3fa654;
  --color-text-information: #2098f3;
  --color-link-default: #0094ff;
  --color-link-hover: #005592;
  --color-link-pressed: #003f6d;
  --color-link-visited: #a454dd;

  --color-alpha-base100: rgba(255, 255, 255, 1);
  --color-alpha-base75: rgba(255, 255, 255, .75);
  --color-alpha-base50: rgba(255, 255, 255, .5);
  --color-alpha-base25: rgba(255, 255, 255, .25);
  --color-alpha-base10: rgba(255, 255, 255, .1);
  --color-alpha-base0: rgba(255, 255, 255, 0);
  --color-alpha-inverse100: rgba(0, 0, 0, 1);
  --color-alpha-inverse75: rgba(0, 0, 0, .75);
  --color-alpha-inverse50: rgba(0, 0, 0, .5);
  --color-alpha-inverse25: rgba(0, 0, 0, .25);
  --color-alpha-inverse10: rgba(0, 0, 0, .1);
  --color-alpha-inverse0: rgba(0, 0, 0, 0);
  --color-alpha-shadow1: rgba(0, 0, 0, .05);
  --color-alpha-shadow2: rgba(0, 0, 0, .08);
  --color-alpha-shadow3: rgba(0, 0, 0, .12);
}

// Typography
// Navigation
%title-small-regular {
  font: 400 var(--font-size-navigation-XS)/normal var(--font-typo-main-font);
  letter-spacing: var(--font-letter-spacing-0);
}

%title-medium {
  font: 500 var(--font-size-navigation-M)/normal var(--font-typo-main-font);
  letter-spacing: var(--font-letter-spacing-0);
}

%title-semibold {
  font: 600 var(--font-size-navigation-L)/normal var(--font-typo-main-font);
  letter-spacing: var(--font-letter-spacing-0);
}

%depth-xsmall-semibold {
  font: 600 var(--font-size-navigation-XS)/normal var(--font-typo-main-font);
  letter-spacing: var(--font-letter-spacing-0);
}

%depth-small-medium {
  font: 500 var(--font-size-navigation-S)/normal var(--font-typo-main-font);
  letter-spacing: var(--font-letter-spacing-0);
}

%depth-medium {
  font: 400 var(--font-size-navigation-M)/normal var(--font-typo-main-font);
  letter-spacing: var(--font-letter-spacing-0);
}

%depth-medium-bold {
  @extend %depth-medium;
  font-weight: 600;
}

.title-small-regular {
  @extend %title-small-regular;
}

.title-medium {
  @extend %title-medium;
}

.title-semibold {
  @extend %title-semibold;
}

.depth-xsmall-semibold {
  @extend %depth-xsmall-semibold;
}

.depth-small-medium {
  @extend %depth-small-medium;
}

.depth-medium {
  @extend %depth-medium;
}

.depth-medium-bold {
  @extend %depth-medium-bold;
}

// Heading
h1 {
  margin-bottom: 40px;
  font: 700 var(--font-size-heading-xlarge)/normal var(--font-typo-main-font);
  letter-spacing: var(--font-letter-spacing-0);
}

h2 {
  margin-bottom: 36px;
  font: 700 var(--font-size-heading-large)/normal var(--font-typo-main-font);
  letter-spacing: var(--font-letter-spacing-0);
}

h3 {
  margin-bottom: 30px;
  font: 700 var(--font-size-heading-medium)/normal var(--font-typo-main-font);
  letter-spacing: var(--font-letter-spacing-0);
}

h4 {
  margin-bottom: 24px;
  font: 700 var(--font-size-heading-small)/normal var(--font-typo-main-font);
  letter-spacing: var(--font-letter-spacing-0);
}

h5 {
  margin-bottom: 20px;
  font: 700 var(--font-size-heading-xsmall)/normal var(--font-typo-main-font);
  letter-spacing: var(--font-letter-spacing-0);
}

// Body
%body-xxsmall {
  font: 400 var(--font-size-body-xxsmall)/19px var(--font-typo-main-font);
  letter-spacing: var(--font-letter-spacing-0);
}

%body-xsmall {
  font: 400 var(--font-size-body-xsmall)/20px var(--font-typo-main-font);
  letter-spacing: var(--font-letter-spacing-0);
}

%body-small {
  font: 400 var(--font-size-body-small)/22px var(--font-typo-main-font);
  letter-spacing: var(--font-letter-spacing-0);
}

%body-medium {
  font: 400 var(--font-size-body-medium)/24px var(--font-typo-main-font);
  letter-spacing: var(--font-letter-spacing-0);
}

%body-large {
  font: 400 var(--font-size-body-large)/27px var(--font-typo-main-font);
  letter-spacing: var(--font-letter-spacing-0);
}

%body-xxsmall-bold {
  @extend %body-xxsmall;
  font-weight: 600;
}

%body-xsmall-bold {
  @extend %body-xsmall;
  font-weight: 600;
}

%body-small-bold {
  @extend %body-small;
  font-weight: 600;
}

%body-medium-bold {
  @extend %body-medium;
  font-weight: 600;
}

%body-large-bold {
  @extend %body-large;
  font-weight: 700;
}

.body-xxsmall {
  @extend %body-xxsmall;
}

.body-xsmall {
  @extend %body-xsmall;
}

.body-small {
  @extend %body-small;
}

.body-medium {
  @extend %body-medium;
}

.body-large {
  @extend %body-large;
}

.body-xxsmall-bold {
  @extend %body-xxsmall-bold;
}

.body-xsmall-bold {
  @extend %body-xsmall-bold;
}

.body-small-bold {
  @extend %body-small-bold;
}

.body-medium-bold {
  @extend %body-medium-bold;
}

.body-large-bold {
  @extend %body-large-bold;
}

// input & select & dropdown
.form-field {
  +.form-field {
    margin-top: 37px;
  }

  .form-wrap {
    position: relative;

    input {
      padding-right: 40px;
    }

    select,
    .btn-select {
      position: relative;
      padding-right: 40px;
      text-align: left;
      line-height: 1;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 12px;
        width: 16px;
        height: 16px;
        background-image: url('../img/icon/icon-arrow-16-down.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        transform: translateY(-50%);
      }

      &:hover {
        box-shadow: inset 0 0 0 1px #4c4c4c;
      }

      &:focus,
      &:focus-visible,
      &:active {
        box-shadow: inset 0 0 0 1px #007FDB;
      }

      &:disabled,
      &:read-only {
        box-shadow: inset 0 0 0 1px #D6D6D6;
        background-color: #F4F5F6;
      }
    }

    .option-list {
      padding: 10px 0;
      border-radius: 4px;
      border: 1px solid var(--color-border-gray);
      background: var(--color-border-inverse);

      li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .btn-option {
          display: flex;
          align-items: center;
          flex: 1 0 0;
          align-self: stretch;
          min-height: 40px;
          padding: 0 10px;
          color: var(--color-text-basic);
          @extend %body-small;

          &:hover {
            background-color: var(--color-border-gray-light);
          }

          &:active {
            color: var(--color-text-primary);
            font-weight: 600;
          }
        }
      }
    }

    .util {
      position: absolute;
      right: 12px;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 8px;
      min-height: 16px;
      transform: translateY(-50%);

      [class^=btn-] {
        display: inline-flex;
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        // background: var(--color-border-primary-light); //background-image 대신 넣은거임. 나중에 삭제

        &.btn-del {
          background-image: url('../img/icon/icon-del-circle-16.png');
        }

        &.btn-visible {
          background-image: url('');
        }

        i {
          font-size: 0;
        }

      }
    }

    .guide {
      @extend %body-xsmall;
      color: var(--color-text-subcolor);
    }
  }

  .description {
    margin-top: 8px;
    color: var(--color-text-subcolor);
    @extend %body-xsmall;
  }

  &.error,
  &.success {
    .description {
      &:before {
        content: '!!'; //background-image 대신 넣은거임. 나중에 삭제
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 4px;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
      }
    }
  }

  &.error {

    input,
    select,
    .btn-select {
      box-shadow: inset 0 0 0 1px #de3412 !important;
    }

    .description {
      color: var(--color-text-danger);

      &:before {
        background-image: url('');
      }
    }
  }

  &.success {

    input,
    select,
    .btn-select {
      box-shadow: inset 0 0 0 1px #3fa654 !important;
    }

    .description {
      color: var(--color-text-success);

      &:before {
        background-image: url('');
      }
    }
  }

  // size
  &.small {

    input,
    select,
    .btn-select {
      height: 32px;
    }
  }

  &.large {

    input,
    select,
    .btn-select {
      height: 48px;
    }
  }

  &.xlarge {

    input,
    select,
    .btn-select {
      height: 56px;
    }
  }

  //login
  &.login {
    .form-wrap {
      input {
        padding-right: 64px;
      }
    }
  }

  // textarea
  &.textarea {
    .form-wrap {
      display: flex;
      align-items: flex-start;
      gap: 20px;

      label {
        padding: 15px 0;
        color: var(--color-text-basic);
        @extend %body-xsmall;
      }

      textarea {
        height: 84px;
        padding: 10px 12px;
        border-radius: 4px;
        background-color: var(--gray-0);
      }
    }

    .count {
      margin: 8px 0 4px;
      text-align: right;
      color: var(--color-text-basic);
      @extend %body-xxsmall;
      font-weight: 500;

      >* {
        color: var(--color-text-basic);
        @extend %body-xxsmall;
        font-weight: 500;
      }
    }
  }

  &.search {
    .form-wrap {
      position: relative;

      input {
        height: 48px;
        padding-right: 86px;
        box-shadow: none;
        border-radius: 8px;

        ~.search-bg {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 8px;
          border: 1px solid var(--Line-line-3);
          background-origin: border-box;
          background-clip: content-box, border-box;
          z-index: -1;
        }

        &:focus~.search-bg,
        &:hover~.search-bg {
          border: 2px solid transparent;
          background-image: linear-gradient(#fff, #fff), linear-gradient(180deg, #F8C0D2 0%, #F4D360 42%, #ED6190 100%);

          ~.btn-search {
            background-image: url('');
            color: var(--color-text-primary);
          }
        }
      }

      .util {
        right: 0;
        gap: 0 14px;

        .btn-search {
          width: 44px;
          height: 44px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 100% 100%;
        }
      }

    }

    &.completed input~.search-bg {
      border: 2px solid transparent;
      background-image: linear-gradient(#fff, #fff), conic-gradient(from 180deg at 50% 50%, #F4A0BC 0deg, #F1CB40 101.39984965324402deg, #92D1FF 270.5998492240906deg, #F4A0BC 360deg);
    }
  }
}

// toggle
.toggle-wrap,
.checkbox-wrap,
.radio-wrap {
  display: inline-flex;

  +[class$=-wrap] {
    margin-left: 34px;
  }

  .toggle,
  .checkbox,
  .radio {
    position: relative;
    display: inline-flex;
    line-height: 0;

    input {
      position: absolute;
      width: 0;
      height: 0;
      margin: 0;
      opacity: 0;

      // disabled
      &:disabled {
        +.toggle-switch {
          background: var(--color-border-gray-light);

          &:before {
            background: var(--color-border-gray);
          }

        }

        ~[class$=-label] {
          color: var(--color-text-subcolor);
        }

      }

      // focus
      &:focus,
      &:focus-visible {
        +.toggle-switch {
          outline-color: var(--color-border-primary-light);
          background: var(--color-border-disabled);

          &:before {
            background: var(--color-border-inverse);
          }
        }
      }

      // checked
      &:checked {
        +.toggle-switch {
          background: var(--color-border-primary);

          &:before {
            -webkit-transform: translateX(9px);
            transform: translateX(9px);
          }
        }

        &:disabled {
          +.toggle-switch {
            background: var(--color-border-gray-light);

            &:before {
              background: var(--color-border-gray);
            }
          }
        }

        &:focus,
        &:focus-visible {
          +.toggle-switch {
            border-color: var(--color-border-primary-light);
            background: #831339;

            &:before {
              background: var(--color-border-inverse);
            }
          }
        }
      }

      &:hover {

        +.radio-icon,
        +.checkbox-icon {
          border-color: #831339;
        }
      }

      // toggle switch
      +.toggle-switch {
        position: relative;
        display: inline-block;
        width: 25px;
        height: 16px;
        background: var(--color-border-gray);
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 8px;
        outline: 1.6px solid var(--color-border-inverse);

        &:before {
          position: absolute;
          content: '';
          width: 12.8px;
          height: 12.8px;
          top: 1.5px;
          left: 1.5px;
          bottom: 1.5px;
          background: #fff;
          -webkit-transition: .4s;
          transition: .4s;
          border-radius: 50%;
        }

      }

      // radio-icon, checkbox-icon
      +.radio-icon,
      +.checkbox-icon {
        position: relative;
        display: inline-block;
        width: 16px;
        height: 16px;
        background: #fff;
        border-radius: 50%;
        border: 1px solid var(--Line-line);
        -webkit-transition: none;
        transition: none;

        &:before {
          content: none;
        }
      }

      // checkbox-icon
      +.checkbox-icon {
        border-radius: 4px;

        &:before {
          position: absolute;
          content: '';
          width: 12px;
          height: 12px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transition: none;
          transition: none;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 100% 100%;
        }
      }

    }

    // toggle, checkbox, radio text label
    [class$=-label] {
      display: inline-block;
      margin-left: 8px;
      color: var(--color-text-basic);
      @extend %body-xsmall;
      line-height: 15px;
      vertical-align: 4px;
    }
  }
}

// checkbox
.checkbox-wrap {
  +[class$=-wrap] {
    margin-left: 20px;
  }

  .checkbox {
    +.checkbox {
      margin-left: 20px;
    }

    input {

      // disabled
      &:disabled {
        +.checkbox-icon {
          background: var(--color-border-gray-light);

          &:before {
            background-image: url();
          }
        }
      }

      // focus
      &:focus,
      &:focus-visible {
        +.checkbox-icon {
          outline: 2px solid var(--color-border-primary-light);
          border: 0 none;

          &:before {
            background-image: url();
          }
        }
      }

      // checked
      &:checked {
        +.checkbox-icon {
          background: var(--color-border-primary);
          border-color: var(--color-border-primary);

          &:before {
            content: '';
            background-image: url('../img/icon/icon-checkbox-12.png');
            color: #fff;
          }
        }

        &:disabled {
          +.checkbox-icon {
            background-color: var(--color-border-gray-light);
            border-color: var(--Line-line);

            &:before {
              background-image: url();
              color: var(--color-border-gray);
            }
          }
        }
      }
    }
  }
}

// radio
.radio-wrap {
  +[class$=-wrap] {
    margin-left: 28px;
  }

  .radio {
    +.radio {
      margin-left: 28px;
    }

    input {

      // disabled
      &:disabled {
        +.radio-icon {
          background: var(--color-border-gray-light);
          border-color: var(--color-border-gray);
        }
      }

      // focus
      &:focus,
      &:focus-visible {
        +.radio-icon {
          border: 2px solid var(--color-border-primary-light);
        }
      }

      // checked
      &:checked {
        +.radio-icon {
          border: 4px solid var(--color-border-primary);
        }

        &:disabled {
          +.radio-icon {
            border-color: var(--color-border-gray);
          }
        }
      }
    }
  }
}

%button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 7px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;


  i {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 8px;
    font-size: 0;

    &:only-child {
      margin-left: 0;
    }

    +span {
      margin-left: 2px;
      padding-right: 8px;
    }
  }

  span {
    display: inline-block;

    &:only-child {
      padding: 0 8px;
    }
  }

  &.xsmall {
    height: 32px;
    @extend %body-xsmall;

    i {
      width: 16px;
      height: 16px;
    }
  }

  &.small {
    height: 40px;
    @extend %body-xsmall;

    i {
      width: 16px;
      height: 16px;

      &:only-child {
        margin: 4px;
      }
    }
  }

  &.medium {
    height: 48px;
    @extend %body-small;

    i {
      width: 24px;
      height: 24px;

      &:only-child {
        margin: 4px;
      }
    }
  }

  &.large {
    height: 56px;
    @extend %body-small;

    i {
      width: 24px;
      height: 24px;

      &:only-child {
        margin: 8px;
      }
    }
  }

  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05),
      0px 0px 0px 4px #FBDFE9;
  }

  +[class^=btn-] {
    margin-left: 8px;
  }
}

.btn-wrap {
  display: flex;
}

.btn-primary {
  @extend %button;
  border-color: var(--color-border-primary);
  background: var(--color-border-primary);
  color: var(--color-text-basic-inverse);

  // disabled
  &:disabled,
  &:disabled:hover {
    border: 1px solid var(--Line-line);
    color: var(--color-divider-gray);
    border-color: var(--color-border-gray-light);
    background: var(--color-border-gray-light);
  }

  &:hover {
    color: var(--color-text-basic-inverse);
    border-color: #F181A6;
    background: #F181A6;
  }

  &:active {
    border-color: #E62263;
    background: #E62263;
  }
}

.btn-black {
  @extend %button;
  border-color: var(--color-border-gray-dark);
  background: var(--color-border-gray-dark);
  color: var(--color-text-basic-inverse);

  // disabled
  &:disabled,
  &:disabled:hover {
    border: 1px solid var(--Line-line);
    color: var(--color-divider-gray);
    border-color: var(--color-border-gray-light);
    background: var(--color-border-gray-light);
  }

  &:hover,
  &:active {
    border-color: var(--color-border-gray-darker);
    background: var(--color-border-gray-darker);
  }
}

.btn-outline {
  @extend %button;
  border-color: var(--color-border-gray-dark);
  background: var(--color-border-inverse);
  color: var(--color-text-basic);

  // disabled
  &:disabled,
  &:disabled:hover {
    border: 1px solid var(--Line-line);
    color: var(--color-divider-gray);
    border-color: var(--color-border-gray-light);
    background: var(--color-border-gray-light);
  }

  &:hover {
    border-color: var(--color-border-gray-dark);
    background: var(--color-border-gray-light);
  }

  &:active {
    border-color: var(--color-border-gray-dark);
    background: var(--color-border-gray-dark);
    color: var(--color-text-basic-inverse);
  }
}

.btn-round {
  @extend %button;
  border-color: var(--color-border-gray-dark);
  background: var(--color-border-inverse);
  color: var(--color-text-basic);
  border-radius: 24px;
  height: 29px;
  padding: 10px 24px;
  @extend %body-xsmall;

  &.icon {
    height: 36px;

    &:after {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 1px solid var(--color-border-gray-dark);
    }
  }

  span:only-child {
    padding: 0;
    line-height: 1;
  }

  &:hover,
  &:active {
    border-color: var(--color-border-gray-dark);
    background: var(--color-border-gray-dark);
    color: var(--color-text-basic-inverse);
  }
}

.btn-text {
  @extend %button;
  border: 0 none;
  color: #969696;
  height: auto;
  border-radius: 0;
  padding: 0;
  @extend %body-small;
  line-height: 16px;

  &:after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #ddd;
  }

  &.small {
    height: auto;
    @extend %body-xsmall;
  }

  &.large {
    height: auto;
    @extend %body-medium;
    line-height: 20px;

    &:after {
      width: 24px;
      height: 24px;
    }
  }

  span:only-child {
    padding: 0;
    line-height: 1;
  }
}

.btn-top {
  @extend %button;
  border: 0 none;
  background: var(--color-border-gray-light);
  color: var(--color-text-basic);
  border-radius: 10px;
  flex-direction: column;
  width: 56px;
  height: 56px;
  padding: 0;
  @extend %body-xsmall;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05), 0px 8px 20px 0px rgba(0, 0, 0, 0.05);

  i {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 0;
    background: url('../img/icon/icon-arrow-line-24-up.png') no-repeat center center/100% 100%;

    +span {
      margin: 4px 0 0;
      padding: 0;
      line-height: 1;
    }
  }

  &.label {
    width: 64px;
    height: 64px;
  }

  &:hover {
    background: var(--color-border-primary-light);
    color: var(--color-text-basic-inverse);
  }

  &:active {
    background: var(--color-border-primary);
    color: var(--color-text-basic-inverse);
  }
}

%alert {
  display: flex;
  gap: 0 8px;
  padding: 16px;
  border-radius: 12px;
  @extend %body-small;

  &:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }

  dl {
    flex: 1 0 auto;
    margin: 1px 0;
  }

  .title {
    margin-bottom: 8px;
    font-weight: 600;
  }
}

.alert-danger {
  @extend %alert;
  background: var(--color-border-danger-light);

  &:before {
    background-image: url();
    background: #003f6d; //background-image 대신 넣은거임. 나중에 삭제
  }

  .title {
    color: #BD2C0F;
  }
}

.alert-warning {
  @extend %alert;
  background: var(--color-border-warning-light);

  &:before {
    background-image: url();
    background: #003f6d; //background-image 대신 넣은거임. 나중에 삭제
  }

  .title {
    color: #8A5C00;
  }
}

.alert-success {
  @extend %alert;
  background: var(--color-border-success-light);

  &:before {
    background-image: url();
    background: #003f6d; //background-image 대신 넣은거임. 나중에 삭제
  }

  .title {
    color: #267337;
  }
}

.alert-information {
  @extend %alert;
  background: var(--color-border-secondary-light);

  &:before {
    background-image: url();
    background: #003f6d; //background-image 대신 넣은거임. 나중에 삭제
  }

  .title {
    color: #096AB3;
  }
}

%modal {
  position: absolute;
  padding: 16px 20px;
  border-radius: 8px;
  border: 1px solid var(--color-border-gray);
  background: #fff;
}

.modal {
  @extend %modal;
  width: 480px;

  .modal-title {
    margin-bottom: 16px;
    color: var(--color-text-basic);
  }

  .modal-content {
    color: var(--color-text-basic);
    @extend %body-small;

    [class^=cont-]+[class^=cont-] {
      margin-top: 16px;
    }
  }

  .modal-footer {
    margin-top: 16px;
    padding: 16px;

    .btn-wrap {
      justify-content: flex-end;
    }
  }

  .btn-wrap.close {
    position: absolute;
    top: 16px;
    right: 20px;

    .btn-close {
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url() no-repeat center center/100% 100%;
      background: #003f6d; //background-image 대신 넣은거임. 나중에 삭제
      font-size: 0;
    }
  }

  &.large {
    width: 540px;
  }

  &.small {
    width: 400px;
  }
}

// header
.top-banner-wrap {
  position: relative;
  width: 100%;

  .top-banner {
    position: relative;
    height: 65px;

    .top-banner-link {
      display: block;
      overflow: hidden;

      img {
        width: 100%;
        height: 65px;
        object-fit: contain;
      }
    }
  }

  .top-banner-close {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url() no-repeat center center/100% 100%;
    background: #003f6d; //background-image 대신 넣은거임. 나중에 삭제
    font-size: 0;
  }
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  .logo {
    margin: 0;

    .logo-link {
      display: flex;
      align-items: flex-end;
      padding: 4px 0;
      color: var(--color-text-basic);
      font-size: var(--font-size-navigation-XXS);
      font-weight: 500;

      .logo-img {
        display: inline-block;
        width: 78px;
        height: 38px;
        object-fit: contain;
      }

      p {
        display: inline-block;
        margin-left: 4px;

      }
    }
  }

  .util-menu-wrap {
    .util-menu {
      display: flex;
      gap: 0 16px;

      [class^=btn-] {
        display: inline-block;
        width: 36px;
        height: 36px;
        background: #003f6d; //대신 넣은거임. 나중에 삭제

        span {
          font-size: 0;
        }
      }
    }
  }
}

header {
  position: relative;

  .gnb-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .gnb {
      display: flex;
      align-items: center;
      gap: 0 8px;

      .btn-menu-all {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        background: url() no-repeat center center/100% auto;
        background: #003f6d; //대신 넣은거임. 나중에 삭제

        span {
          font-size: 0;
        }
      }

      .gnb-menu {
        ul {
          display: flex;
          gap: 0 16px;
          align-items: center;

          .depth-1 {
            a {
              display: block;
              padding: 10px 3px;
              color: var(--color-text-subcolor-deep);
              @extend %depth-medium;
              line-height: 20px;
            }

            a:hover,
            &.active a {
              color: var(--color-text-primary);
              font-weight: 600;
            }
          }
        }
      }

    }

  }

  .all-menu-wrap {
    position: absolute;
    width: 100%;
    padding: 32px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05), 0px 8px 20px 0px rgba(0, 0, 0, 0.05);
    color: var(--color-text-basic);

    .banner-wrap {
      display: flex;
      flex: 1 100%;
      gap: 0 12px;
      margin-bottom: 24px;

      a {
        display: inline-block;

        img {
          display: inline-block;
          width: 240px;
          height: 64px;
          object-fit: cover;
        }
      }
    }

    .all-menu {
      display: flex;
      flex-flow: row wrap;

      .all-menu-inner {
        display: flex;
        flex: 1;

        +.all-menu-inner {
          margin-top: 24px;
          padding-top: 32px;
          border-top: 1px solid var(--Line-line-2);

          .category>ul>li {
            width: 150px;

            &:last-child {
              width: 116px;
            }
          }
        }

        .category {
          display: flex;
          flex-direction: column;
          flex: 1;



          +.category {
            padding-left: 22px;
            border-left: 1px solid var(--Line-line);
          }

          >.depth-1 {
            margin: 0 0 22px;
            @extend %title-semibold;

            &.focus:after {
              content: '';
              display: inline-block;
              width: 5px;
              height: 5px;
              background: #EA4279;
              border-radius: 50%;
              vertical-align: 12px;
            }
          }

          >ul {
            display: flex;
            gap: 0 20px;

            &:nth-child(even) li {
              width: 150px;
            }

            >li {
              // flex: 0 1 182px;
              width: 182px;


              >.depth-2 {
                margin-bottom: 8px;
                @extend %depth-medium-bold;
              }

              >ul {
                +.depth-2 {
                  margin-top: 36px;
                }
              }

              a:hover,
              &.active a {
                color: var(--color-text-primary);
                text-decoration: underline;
              }

              .depth-3 {
                margin: 4px 0;
                padding: 3px 0;

                a {
                  display: block;
                  color: var(--color-text-subcolor-deep);
                  @extend %depth-small-medium;

                  &:hover {
                    color: var(--color-text-primary);
                    font-weight: 600;

                    // @at-root .all-menu-wrap .all-menu .all-menu-inner .category>.depth-1:after {
                    //   content: '';
                    //   display: inline-block;
                    //   width: 5px;
                    //   height: 5px;
                    //   background: #EA4279;
                    //   border-radius: 50%;
                    //   vertical-align: 12px;
                    // }
                  }
                }
              }
            }
          }
        }
      }

      .product-info {
        width: 566px;
        padding-left: 32px;
        border-left: 1px solid var(--Line-line);
        border-radius: 6px;

        .product-img {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0 16px;

          li {
            overflow: hidden;
            border-radius: 10px;
            border: 1px solid var(--Line-line);

            img {
              display: inline-block;
              flex: 0 1 50%;
              width: 259px;
              height: 259px;
              object-fit: cover;

            }
          }

        }

        .product-text {
          margin-top: 20px;
          color: var(--color-text-basic);
          @extend %body-xsmall;
          color: var(--color-text-subcolor);

          .title {
            display: block;
            margin-bottom: 14.5px;
            @extend %title-medium;
            color: var(--color-text-basic);

            .status {
              display: inline-block;
              width: 16px;
              height: 16px;
              margin-left: 2px;
              vertical-align: -3px;
              background: url() no-repeat center center/100% 100%;
              background: #003f6d; //대신 넣은거임. 나중에 삭제
            }
          }
        }
      }
    }
  }
}