@use 'variables' as *;

// typography
@mixin font($weight: $font-weight-regular,
  $size: $font-size-body-medium,
  $line-height: normal,
  $family: $font-typo-main-font,
  $letter-spacing: $letter-spacing-0) {
  font: #{$weight} #{$size}/#{$line-height} #{$family};
  letter-spacing: $letter-spacing;
}

// Typography
@mixin build-font($weight, $size, $lineHeight, $family: $font-typo-main-font) {
  font: #{$weight} #{$size}/#{$lineHeight} #{$family};
  letter-spacing: $letter-spacing-0;
}

// navigation
@mixin title-small-regular {
  @include build-font($font-weight-regular, $font-size-navigation-XS, normal);
}

@mixin title-medium {
  @include build-font($font-weight-medium, $font-size-navigation-M, normal);
}

@mixin title-semibold {
  @include build-font($font-weight-semibold, $font-size-navigation-L, normal);
}

// Depth
@mixin depth-xsmall-semibold {
  @include build-font($font-weight-semibold, $font-size-navigation-XS, normal);
}

@mixin depth-small-medium {
  @include build-font($font-weight-medium, $font-size-navigation-S, normal);
}

@mixin depth-medium {
  @include build-font($font-weight-regular, $font-size-navigation-M, normal);
}

@mixin depth-medium-bold {
  @include build-font($font-weight-semibold, $font-size-navigation-M, normal);
}

// body
@mixin font-body-xxsmall {
  @include build-font($font-weight-medium, $font-size-body-xxsmall, 19px);
}

@mixin font-body-xsmall {
  @include build-font($font-weight-regular, $font-size-body-xsmall, 20px);
}

@mixin font-body-small {
  @include build-font($font-weight-regular, $font-size-body-small, 22px);
}

@mixin font-body-medium {
  @include build-font($font-weight-regular, $font-size-body-medium, 24px);
}

@mixin font-body-large {
  @include build-font($font-weight-regular, $font-size-body-large, 27px);
}

@mixin font-body-xxsmall-bold {
  @include build-font($font-weight-semibold, $font-size-body-xxsmall, 19px);
}

@mixin font-body-xsmall-bold {
  @include build-font($font-weight-semibold, $font-size-body-xsmall, 20px);
}

@mixin font-body-small-bold {
  @include build-font($font-weight-semibold, $font-size-body-small, 22px);
}

@mixin font-body-medium-bold {
  @include build-font($font-weight-semibold, $font-size-body-medium, 24px);
}

@mixin font-body-large-bold {
  @include build-font($font-weight-bold, $font-size-body-large, 27px);
}

// heading
@mixin font-heading-xlarge-bold {
  @include build-font($font-weight-bold, $font-size-heading-xlarge, normal);
}

@mixin font-heading-large-bold {
  @include build-font($font-weight-bold, $font-size-heading-large, normal);
}

@mixin font-heading-medium-bold {
  @include build-font($font-weight-bold, $font-size-heading-medium, normal);
}

@mixin font-heading-small-bold {
  @include build-font($font-weight-bold, $font-size-heading-small, normal);
}

@mixin font-heading-xsmall-bold {
  @include build-font($font-weight-bold, $font-size-heading-xsmall, normal);
}

@mixin ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  // -webkit-line-clamp: 원하는 라인 수; 추가해서 사용
}

// desc-guide text
@mixin desc-guide {
  display: inline-flex;
  align-items: center;
  padding: 1px 4px;
  border-radius: 2px;
  background: $color-border-gray-light;
  @include font($weight: $font-weight-medium, $size: $font-size-body-xxsmall, $line-height: 12px);
  color: $color-text-subcolor;
}

@mixin desc-box {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  text-align: center;
  @include font-body-small;
  color: $color-text-basic;
}

// button
@mixin icon-size($width, $height, $only-child-margin: 0) {
  display: inline-block;
  width: $width;
  height: $height;
  font-size: 0;

  &:only-child {
    margin: $only-child-margin;
  }

  +span {
    margin-left: 2px;
    padding-right: 8px;
  }
}

@mixin button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 7px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  vertical-align: middle;
  box-sizing: border-box;

  i {
    position: relative;
    @include icon-size(16px, 16px);

    &:before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
    }

    &.plus:before,
    &.plus:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 10px;
      height: 1px;
      border-radius: 1px;
      background: $color-background-white;
      transform: translate(-50%, -50%);
    }

    &.plus:after {
      width: 1px;
      height: 10px;
    }

    &.step-ing:before {
      background: olivedrab url('') no-repeat center center/cover;
    }

    &.step-end:before {
      background: #fff url('') no-repeat center center/cover;
    }

    &.step-cart:before {
      background: #fff url('') no-repeat center center/cover;
    }
  }

  span {
    display: inline-block;

    &:only-child {
      padding: 0 8px;
    }
  }

  // 사이즈
  &.--xsmall {
    height: 32px;
    @include font-body-xsmall;

    i {
      @include icon-size(16px, 16px);
    }
  }

  &.--small {
    height: 40px;
    @include font-body-xsmall;

    i {
      @include icon-size(16px, 16px, 4px);
    }
  }

  &.--medium {
    height: 48px;
    @include font-body-small;

    i {
      @include icon-size(24px, 24px, 4px);
    }
  }

  &.--large {
    height: 56px;
    @include font-body-small;

    i {
      @include icon-size(24px, 24px, 8px);
    }
  }

  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05),
      0px 0px 0px 4px $color-border-primary-light;
  }

  +[class^=btn-] {
    margin-left: 4px;
  }
}

// disabled
@mixin button-disabled {

  &:disabled,
  &:disabled:hover {
    border: 1px solid $Line-line;
    color: $color-divider-gray;
    border-color: $color-border-gray-light;
    background: $color-border-gray-light;
  }
}

@mixin modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  z-index: 10;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: $color-alpha-inverse50;
  }

  .modal-wrap {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    border: 1px solid $color-border-gray;
    background: $color-background-white;
    width: 480px;

    .btn-wrap.close {
      position: absolute;
      top: 16px;
      right: 20px;

      .btn-close {
        position: relative;
        width: 24px;
        height: 24px;
        font-size: 0;

        &:before,
        &:after {
          @include cross-line-base-1px;
          height: 13px;
        }

        &:after {
          @include cross-line-after-1px;
        }
      }
    }
  }

  &.--large {
    .modal-wrap {
      width: 540px;
    }
  }

  &.--small {
    .modal-wrap {
      width: 400px;
    }
  }
}

@mixin cross-line-base-1px {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  border-radius: 1px;
  background: $color-border-gray-dark;
  transform: translate(-50%, -50%) rotate(45deg);
}

@mixin cross-line-after-1px {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@mixin next-line-base-1px {
  content: '';
  display: inline-block;
  position: absolute;
  right: 5.5px;
  width: 1px;
  border-radius: 1px;
  background: $color-border-gray-dark;
  transform: translateY(-50%) rotate(-45deg);
}

@mixin next-line-after-1px {
  transform: translateY(-50%) rotate(45deg);
}

@mixin alert {
  display: flex;
  gap: 0 8px;
  padding: 16px;
  border-radius: 12px;
  @include font-body-small;

  &:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }

  dl {
    flex: 1 0 auto;
    margin: 1px 0;
  }

  .title {
    margin: 0 0 8px;
    font-weight: 600;
  }
}