@use 'variables' as *;
@use "sass:math";
@use "sass:list";
@use "sass:map";

// typography
@mixin font($weight: $font-weight-regular,
  $size: $font-size-body-medium,
  $line-height: normal,
  $family: $font-typo-main-font,
  $letter-spacing: $letter-spacing-0) {
  font: #{$weight} #{$size}/#{$line-height} #{$family};
  letter-spacing: $letter-spacing;
}

// Typography
@mixin build-font($weight, $size, $lineHeight, $family: $font-typo-main-font) {
  font: #{$weight} #{$size}/#{$lineHeight} #{$family};
  letter-spacing: $letter-spacing-0;
}

// navigation
@mixin title-small-regular {
  @include build-font($font-weight-regular, $font-size-navigation-XS, normal);
}

@mixin title-medium {
  @include build-font($font-weight-medium, $font-size-navigation-M, normal);
}

@mixin title-semibold {
  @include build-font($font-weight-semibold, $font-size-navigation-L, normal);
}

// Depth
@mixin depth-xsmall-semibold {
  @include build-font($font-weight-semibold, $font-size-navigation-XS, normal);
}

@mixin depth-small-medium {
  @include build-font($font-weight-medium, $font-size-navigation-S, normal);
}

@mixin depth-medium {
  @include build-font($font-weight-regular, $font-size-navigation-M, normal);
}

@mixin depth-medium-bold {
  @include build-font($font-weight-semibold, $font-size-navigation-M, normal);
}

// body
@mixin font-body-xxsmall {
  @include build-font($font-weight-medium, $font-size-body-xxsmall, 1.9rem);
}

@mixin font-body-xsmall {
  @include build-font($font-weight-regular, $font-size-body-xsmall, 2rem);
}

@mixin font-body-small {
  @include build-font($font-weight-regular, $font-size-body-small, 2.2rem);
}

@mixin font-body-medium {
  @include build-font($font-weight-regular, $font-size-body-medium, 2.4rem);
}

@mixin font-body-large {
  @include build-font($font-weight-regular, $font-size-body-large, 2.7rem);
}

@mixin font-body-xxsmall-bold {
  @include build-font($font-weight-semibold, $font-size-body-xxsmall, 1.9rem);
}

@mixin font-body-xsmall-bold {
  @include build-font($font-weight-semibold, $font-size-body-xsmall, 2rem);
}

@mixin font-body-small-bold {
  @include build-font($font-weight-semibold, $font-size-body-small, 2.2rem);
}

@mixin font-body-medium-bold {
  @include build-font($font-weight-semibold, $font-size-body-medium, 2.4rem);
}

@mixin font-body-large-bold {
  @include build-font($font-weight-bold, $font-size-body-large, 2.7rem);
}

// heading
@mixin font-heading-xlarge-bold {
  @include build-font($font-weight-bold, $font-size-heading-xlarge, normal);
}

@mixin font-heading-large-bold {
  @include build-font($font-weight-bold, $font-size-heading-large, normal);
}

@mixin font-heading-medium-bold {
  @include build-font($font-weight-bold, $font-size-heading-medium, normal);
}

@mixin font-heading-small-bold {
  @include build-font($font-weight-bold, $font-size-heading-small, normal);
}

@mixin font-heading-xsmall-bold {
  @include build-font($font-weight-bold, $font-size-heading-xsmall, normal);
}

@mixin ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  // -webkit-line-clamp: 원하는 라인 수; 추가해서 사용
}

// desc-guide text
@mixin desc-guide {
  display: inline-flex;
  align-items: center;
  padding: 1px 4px;
  border-radius: 2px;
  background: $color-border-gray-light;
  @include font($weight: $font-weight-medium, $size: $font-size-body-xxsmall, $line-height: 1.2rem);
  color: $color-text-subcolor;
}

@mixin desc-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 16px;
  text-align: center;
  @include font-body-small;
  color: $color-text-basic;

  &:first-of-type {
    margin-top: 0;
  }

  &+.desc-box {
    margin-top: 12px;
  }

  +.table-list {
    margin-top: 24px;
  }
}

// button
@mixin icon-size($width, $height, $only-child-margin: 0) {
  display: inline-block;
  width: $width;
  height: $height;
  font-size: 0;

  &:only-child {
    margin: $only-child-margin;
  }

  +span {
    margin-left: 2px;
    padding-right: 8px;
  }
}

@mixin button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 7px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;

  &.--medium,
  &.--large {
    i {

      &.plus:before,
      &.plus:after {
        height: 15px;
      }
    }
  }

  i {
    position: relative;
    @include icon-size(16px, 16px);

    &.plus {
      @include line-icon(plus, 10px);
    }

    &:not(.plus):before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
    }

    &.check {
      position: relative;
      @include sprite-icons(58, 18px, after);

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &::before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 0 4px 0 0;
        border-radius: 50%;
        border: 1px solid $color-border-inverse;
        vertical-align: -2px;
        border-radius: 50%;
      }
    }
  }

  span {
    display: inline-block;

    &:only-child {
      padding: 0 8px;
    }
  }

  // 사이즈
  &.--xsmall {
    height: 32px;
    @include font-body-xsmall;

    i {
      @include icon-size(16px, 16px);
    }

    &.--round {
      border-radius: 16px;
    }
  }

  &.--small {
    height: 40px;
    @include font-body-xsmall;

    i {
      @include icon-size(16px, 16px, 4px);
    }
  }

  &.--medium {
    height: 48px;
    @include font-body-small;

    i {
      @include icon-size(24px, 24px, 4px);
    }

    i:only-child {
      @include icon-size(32px, 32px, 0);
    }
  }

  &.--large {
    height: 56px;
    @include font-body-small;

    i {
      @include icon-size(24px, 24px, 8px);
    }
  }

  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05),
      0px 0px 0px 4px $color-border-primary-light;
  }
}

// disabled
@mixin button-disabled {

  &.--disabled,
  &.--disabled:hover,
  &:disabled,
  &:disabled:hover {
    border: 1px solid $Line-line;
    color: $color-divider-gray;
    background: $color-border-gray-light;
    box-shadow: none;

    i {

      &::before,
      &::after {
        background: $color-border-gray;
      }
    }
  }
}

@mixin modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  z-index: 12;
  background: rgba(0, 0, 0, .5);

  // &::before {
  //   content: '';
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   background: $color-alpha-inverse50;
  // }

  .modal-wrap {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    border: 1px solid $color-border-gray;
    background: $color-background-white;

    .btn-wrap.close {
      position: absolute;
      top: 16px;
      right: 20px;
    }
  }

  &.--xlarge {
    .modal-wrap {
      width: 100%;
      max-width: 940px;
    }
  }

  &.--large {
    .modal-wrap {
      width: 100%;
      max-width: 540px;
    }
  }

  &.--normal {
    .modal-wrap {
      width: 100%;
      max-width: 480px;
    }
  }

  &.--small {
    .modal-wrap {
      width: 100%;
      max-width: 400px;
    }
  }
}

// -----------------------------------------------------------------------------
// @param $type : next, prev, up, down, cross, plus, minus
// @param $size : arrow 높이(next/prev), caret 폭(up/down), 선 길이(plus/cross/minus)
// -----------------------------------------------------------------------------
@mixin line-icon($type, $size: 5px) {

  &::before,
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    border-radius: 1px;
    background: if($type ==plus or $type ==minus, $color-border-inverse, $color-border-gray-dark);
    transform-origin: center;
    z-index: 1;
  }

  @if $type ==next or $type ==prev {

    &::before,
    &::after {
      width: 1px;
      height: $size;
      #{if($type == next, right, left)}: 5.5px;
    }

    &::before {
      top: calc(50% - 1.8px);
      transform: translateY(-50%) rotate(if($type ==next, -45deg, 45deg));
    }

    &::after {
      top: calc(50% + 1.8px);
      transform: translateY(-50%) rotate(if($type ==next, 45deg, -45deg));
    }
  }

  @else if $type ==up or $type ==down {

    &::before,
    &::after {
      width: $size;
      height: 1px;
      top: 50%;
    }

    @if $type ==up {

      &::before {
        left: calc(50% - 1.9px);
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &::after {
        left: calc(50% + 1.9px);
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }

    @else {

      &::before {
        left: calc(50% - 1.9px);
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        left: calc(50% + 1.9px);
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  @else if $type ==cross {

    &::before,
    &::after {
      width: 1px;
      height: $size;
      top: 50%;
      left: 50%;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  @else if $type ==plus {

    &::before,
    &::after {
      width: 1px;
      height: $size;
      top: 50%;
      left: 50%;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  @else if $type ==minus {

    &::before {
      width: $size;
      height: 1px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::after {
      display: none;
    }
  }
}

@mixin tooltip {
  display: none;
  position: absolute;
  left: 50%;
  min-height: 24px;
  padding: 3px 8px !important;
  white-space: nowrap;
  @include font-body-xxsmall;
  color: $color-text-basic-inverse;
  border-radius: 4px;
  background: $color-border-gray-darker;
  transform: translateX(-50%);

  &::before {
    content: '';
    position: absolute;
    top: -2.5px;
    left: 50%;
    width: 10px;
    height: 10px;
    background: $color-border-gray-darker;
    border-radius: 2px 0 0 0;
    transform: translateX(-50%) rotate(45deg);
    clip-path: polygon(0 0, 0% 100%, 100% 0);
  }
}

@mixin alert {
  display: flex;
  gap: 0 8px;
  padding: 16px;
  border-radius: 12px;
  @include font-body-small;
  position: relative;

  &::before {
    position: absolute;
    top: 15px;
    left: 16px;
  }

  dl {
    padding-left: calc(24px + 8px);
  }

  .title {
    margin: 0 0 8px;
    font-weight: 600;
  }
}

@mixin rating-size($h) {
  width: $h * 5;
  height: $h;

  &.input label {
    width: $h;
    height: $h;
  }
}

// sprite-icons
$sprite-path: '../resources/fe/img/icon/icon-sprite.png';
$sprite-cols: 10; // 한 줄에 아이콘 갯수
$sprite-orig: 64px; // 원본 아이콘 크기

// 사용할 아이콘 이름 리스트(순서대로 1부터 시작)
$icons: (
  arrow-up,
  arrow-down,
  arrow-left,
  arrow-right,
  arrow-line-up-white,
  arrow-line-down-white,
  arrow-line-left-white,
  arrow-line-right-white,
  arrow-line-top,
  arrow-line-top-hover,
  arrow-line-top-active,
  arrow-triangle-up,
  arrow-triangle-down,
  arrow-triangle-left,
  arrow-triangle-right,
  menu,
  shopping-cart,
  edit,
  edit-opacity,
  parcelservice-opacity,
  gift-opacity,
  message-circle,
  message-circle-white,
  message-square,
  message-square-yellow,
  book-open,
  book-close,
  folder,
  folder-plus,
  folder-minus,
  file,
  file-minus,
  file-plus,
  file-text,
  face-smile,
  face-meh,
  face-frown,
  inform-info,
  inform-alert-circle,
  inform-alert-white,
  inform-alert-triangle,
  inform-help-circle,
  phone-call-white,
  phone-call,
  parcelservice-white,
  map,
  download,
  upload,
  download-cloud,
  upload-cloud,
  link,
  link-2,
  external-link,
  unlock,
  lock,
  clip,
  check,
  check-white,
  checkbox,
  checkbox-disabled,
  eye-on,
  eye-off,
  share,
  share-hover,
  share-active,
  mail,
  bell,
  check-circle,
  bookmark,
  brifcase,
  clock,
  credit-card,
  calendar,
  ellipsis,
  face-smile-yellow,
  new,
  status-best,
  status-recommend,
  status-discount-01,
  status-discount-02,
  status-new,
  status-discount-11,
  status-discount-12,
  status-contact,
  system-danger,
  system-info,
  system-success,
  system-warning,
  sns-naver,
  sns-kakao,
  sns-google,
  arrow-line-up,
  arrow-line-down
);

// index 기반 믹스인: $idx(1~), $size(출력크기), $pseudo(::before|::after)
@mixin sprite-icons($idx, $size, $pseudo: before) {
  $sprite-width: $sprite-cols * $size;

  $col: (
    $idx - 1) % $sprite-cols;
  $row: math.floor(math.div($idx - 1, $sprite-cols )
  );

$offset-x: - $col * $size;
$offset-y: - $row * $size;

&::#{$pseudo} {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: $size;
  height: $size;
  background-image: url(#{$sprite-path});
  background-repeat: no-repeat;
  background-size: $sprite-width auto;
  background-position: $offset-x $offset-y;
}
}

// $size만 지정
@mixin sprite-icons-size($size, $cols: $sprite-cols, $orig: $sprite-orig) {
  $scale: math.div($size, $orig);

  display: inline-block;
  line-height: 0;

  &::before {
    content: '';
    display: inline-block;
    width: $size;
    height: $size;
    background-image: url(#{$sprite-path});
    background-repeat: no-repeat;
    background-size: ($cols * $orig * $scale) auto;
  }

  $total: list.length($icons);

  @for $i from 1 through $total {
    $colIndex: (
      $i - 1) % $cols;
    $rowIndex: math.floor(math.div($i - 1, $cols)
    );
  $posX: -$colIndex * $orig * $scale;
  $posY: -$rowIndex * $orig * $scale;

  &.icon-#{$i}::before {
    background-position: $posX $posY;
  }
}
}

// svg-icons
@function svgIcon($iconName, $color-text-basic: #4c4c4c, $color-border-primary: #ed6190, $color-text-primary: #ea4279, $color-text-subcolor-deep: 737373) {
  $iconList: (
    "user": "%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' fill='none'%3E%3Cpath stroke='%23#{$color-text-basic}' stroke-linecap='round' stroke-linejoin='round' d='M26 27v-2a4 4 0 0 0-4-4h-8a4 4 0 0 0-4 4v2M18 17a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z'/%3E%3Cpath stroke='%23#{$color-border-primary}' d='M25 8.5h5M27.5 6v5'/%3E%3C/svg%3E",
    "search": "%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath d='M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z' stroke='%23#{$color-text-basic}' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.9999 21.0004L16.6499 16.6504' stroke='%23#{$color-text-basic}' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E",
    "cart": "%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='22' fill='none'%3E%3Cpath stroke='%23#{$color-text-basic}' stroke-linecap='round' stroke-linejoin='round' d='M9 21.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2ZM20 21.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2ZM1 .5h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 5.5H6'/%3E%3C/svg%3E",
    "arrow-right": "%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M9.5 18L15.5 12L9.5 6' stroke='%23#{$color-text-basic}' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E",
    "arrow-left": "%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M15.5 18L9.5 12L15.5 6' stroke='%23#{$color-text-basic}' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E",
    "util-quote": "%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' fill='none'%3E%3Cpath fill='%23737373' d='M45.245 63.696H1.489A1.101 1.101 0 0 1 .39 62.602V10.51c0-.6.495-1.095 1.098-1.095h12.93c.602 0 1.097.494 1.097 1.095v2.884H31.23v-2.884c0-.6.496-1.095 1.098-1.095h12.93c.602 0 1.098.494 1.098 1.095v52.09c0 .601-.496 1.095-1.098 1.095h-.013Zm-42.672-2.19h41.574V11.594H33.399v2.884c0 .6-.495 1.095-1.098 1.095H14.405a1.101 1.101 0 0 1-1.097-1.095v-2.884H2.573v49.914Z'/%3E%3Cpath fill='%23737373' d='M32.315 15.572H14.419a1.101 1.101 0 0 1-1.098-1.095V5.41c0-.601.495-1.095 1.098-1.095h4.015A4.921 4.921 0 0 1 23.173.696h.28a4.921 4.921 0 0 1 4.74 3.619H32.3c.603 0 1.098.494 1.098 1.095v9.067c0 .6-.495 1.095-1.098 1.095h.014Zm-16.812-2.177h15.714v-6.89H27.27a1.086 1.086 0 0 1-1.085-1.028 2.728 2.728 0 0 0-2.717-2.59h-.28a2.74 2.74 0 0 0-2.731 2.59 1.086 1.086 0 0 1-1.085 1.028h-3.855v6.89h-.013'/%3E%3Cpath fill='%23737373' d='M22.958 27.176H6.776a1.101 1.101 0 0 1-1.098-1.095c0-.601.495-1.095 1.098-1.095h16.182c.603 0 1.098.494 1.098 1.095 0 .6-.495 1.095-1.098 1.095'/%3E%3Cpath fill='%23737373' d='M22.958 39.808H6.776a1.101 1.101 0 0 1-1.098-1.095c0-.601.495-1.095 1.098-1.095h16.182c.603 0 1.098.494 1.098 1.095 0 .6-.495 1.095-1.098 1.095'/%3E%3Cpath fill='%23737373' d='M39.556 52.426H6.776a1.101 1.101 0 0 1-1.098-1.095c0-.6.495-1.095 1.098-1.095h32.78c.602 0 1.098.494 1.098 1.095s-.496 1.095-1.098 1.095'/%3E%3Cpath fill='%23737373' d='M54.507 62.348a1.09 1.09 0 0 1-1.017-.695l-2.69-6.97a18.166 18.166 0 0 1-1.219-6.53V17.601c0-.6.495-1.095 1.098-1.095h7.683c.602 0 1.097.494 1.097 1.095V48.14c0 2.243-.415 4.433-1.218 6.53l-2.69 6.97a1.09 1.09 0 0 1-1.018.694l-.026.014Zm-2.758-43.665V48.14c0 1.976.362 3.899 1.071 5.742l1.673 4.34 1.673-4.34a15.889 15.889 0 0 0 1.071-5.742V18.683H51.75'/%3E%3Cpath fill='%23737373' d='M56.475 18.696h-3.949a1.101 1.101 0 0 1-1.097-1.095v-6.89c0-.6.495-1.095 1.097-1.095h3.949c.602 0 1.097.494 1.097 1.095v6.89c0 .601-.495 1.095-1.097 1.095Zm-2.851-2.176h1.753v-4.714h-1.753v4.714'/%3E%3Cpath fill='%23737373' d='M62.525 38.7a1.101 1.101 0 0 1-1.098-1.096V22.57c0-.922-.75-1.67-1.673-1.67a1.101 1.101 0 0 1-1.098-1.095c0-.6.495-1.095 1.098-1.095a3.851 3.851 0 0 1 3.855 3.846v15.036c0 .6-.495 1.095-1.098 1.095l.014.013'/%3E%3Cpath fill='%23EA4279' d='M34.135 28.845c-.335 0-.643-.147-.857-.415l-2.115-2.643a1.099 1.099 0 0 1 .174-1.536 1.104 1.104 0 0 1 1.54.174l1.258 1.562 3.828-4.9a1.078 1.078 0 0 1 1.526-.188c.482.374.562 1.055.187 1.523l-4.685 5.995c-.2.267-.522.414-.856.414v.014ZM32.448 42.371c-.28 0-.562-.107-.776-.32a1.078 1.078 0 0 1 0-1.536l3.72-3.712a1.084 1.084 0 0 1 1.54 0 1.078 1.078 0 0 1 0 1.536l-3.72 3.712c-.215.213-.496.32-.777.32h.013'/%3E%3Cpath fill='%23EA4279' d='M36.17 42.371c-.282 0-.563-.107-.777-.32l-3.721-3.712a1.078 1.078 0 0 1 0-1.536 1.084 1.084 0 0 1 1.54 0l3.72 3.712a1.078 1.078 0 0 1 0 1.536c-.214.213-.495.32-.776.32h.013'/%3E%3Cpath fill='%23737373' d='M58.335 49.235h-7.683a1.101 1.101 0 0 1-1.097-1.095c0-.601.495-1.095 1.097-1.095h7.683c.603 0 1.098.494 1.098 1.095 0 .6-.495 1.095-1.098 1.095Z'/%3E%3C/svg%3E",
    "util-guide": "%3Csvg xmlns='http://www.w3.org/2000/svg' width='62' height='63' fill='none'%3E%3Cpath fill='%23EA4279' d='M39.242 30.322c-.28 0-.562-.107-.763-.321a1.078 1.078 0 0 1 0-1.536l7-6.983c.295-.294.75-.4 1.152-.254 3.56 1.309 7.576.427 10.24-2.23a9.7 9.7 0 0 0 2.703-8.506L53.953 16.1a1.084 1.084 0 0 1-1.54 0L46.03 9.731a1.078 1.078 0 0 1 0-1.536l5.621-5.608a9.753 9.753 0 0 0-8.526 2.697A9.715 9.715 0 0 0 40.889 15.5c.147.401.053.842-.255 1.149l-7.067 7.05a1.084 1.084 0 0 1-1.54 0 1.078 1.078 0 0 1 0-1.535l6.586-6.57c-1.258-4.166-.134-8.746 2.958-11.83a11.95 11.95 0 0 1 12.542-2.738c.348.133.602.427.683.788.08.36-.027.734-.295 1.001l-6.17 6.156 4.845 4.834 6.17-6.156a1.082 1.082 0 0 1 1.005-.294c.361.08.656.334.79.681 1.619 4.326.535 9.24-2.744 12.512-3.106 3.098-7.697 4.22-11.873 2.951l-6.532 6.516c-.214.214-.495.32-.763.32l.013-.012ZM12.07 61.835c-1.392 0-2.784-.24-4.122-.734a1.098 1.098 0 0 1-.683-.788c-.08-.36.027-.735.295-1.002l6.17-6.155-4.845-4.834-6.17 6.155a1.082 1.082 0 0 1-1.005.294 1.099 1.099 0 0 1-.79-.68C-.698 49.763.386 44.85 3.666 41.577a11.923 11.923 0 0 1 11.859-2.95l5.26-5.248a1.084 1.084 0 0 1 1.54 0 1.078 1.078 0 0 1 0 1.535l-5.73 5.715c-.294.294-.749.4-1.15.254-3.561-1.309-7.577-.427-10.24 2.23A9.7 9.7 0 0 0 2.5 51.62l5.622-5.608c.401-.401 1.124-.401 1.54 0l6.384 6.369a1.078 1.078 0 0 1 0 1.536l-5.622 5.608a9.715 9.715 0 0 0 8.526-2.697 9.715 9.715 0 0 0 2.236-10.216 1.08 1.08 0 0 1 .254-1.148l5.916-5.902a1.084 1.084 0 0 1 1.54 0 1.078 1.078 0 0 1 0 1.536l-5.435 5.434c1.258 4.167.134 8.747-2.958 11.845a11.933 11.933 0 0 1-8.42 3.471l-.013-.013Z'/%3E%3Cpath fill='%23737373' d='M56.295 58.617s-.12 0-.174-.013l-7.75-1.296a1.095 1.095 0 0 1-.589-.307L2.34 11.374a1.1 1.1 0 0 1-.321-.775c0-.293.12-.56.32-.76l6.506-6.437a1.097 1.097 0 0 1 1.54 0l45.442 45.627c.16.16.267.374.308.588l1.244 7.745a1.098 1.098 0 0 1-1.07 1.269l-.014-.014Zm-7.228-3.405 5.916.988-.95-5.902L9.595 5.685 4.642 10.6l44.425 44.613Z'/%3E%3Cpath fill='%23737373' d='M17.465 19.826c-.281 0-.562-.107-.776-.32l-3.226-3.245a1.09 1.09 0 0 1 0-1.536 1.097 1.097 0 0 1 1.539 0l3.226 3.245a1.09 1.09 0 0 1-.763 1.856ZM59.762 62.102c-.281 0-.562-.107-.776-.32l-3.467-3.486a1.09 1.09 0 0 1 0-1.535 1.097 1.097 0 0 1 1.54 0l3.466 3.485a1.09 1.09 0 0 1-.763 1.856ZM4.588 10.225c-.294 0-.562-.12-.763-.32L.44 6.526a1.078 1.078 0 0 1 0-1.535l3.386-3.379c.402-.4 1.125-.4 1.54 0L8.75 4.991a1.078 1.078 0 0 1 0 1.535L5.365 9.905c-.201.2-.482.32-.763.32h-.014Z'/%3E%3C/svg%3E",
    "util-delivery": "%3Csvg xmlns='http://www.w3.org/2000/svg' width='58' height='59' fill='none'%3E%3Cpath fill='%23737373' d='M35.017 53.05H22.622a.987.987 0 1 1 0-1.976h11.404V42.02c0-.547.442-.988.99-.988.55 0 .991.44.991.988v10.042a.987.987 0 0 1-.99.988Z'/%3E%3Cpath fill='%23737373' d='M52.886 53.05a.987.987 0 1 1 0-1.976 2.878 2.878 0 0 0 2.877-2.871V33.167c0-.667-.24-1.322-.669-1.842l-8.62-10.256a2.871 2.871 0 0 0-2.208-1.028H5.114a2.878 2.878 0 0 0-2.878 2.871v25.304a2.879 2.879 0 0 0 2.878 2.871.987.987 0 1 1 0 1.976c-2.677 0-4.859-2.176-4.859-4.847V22.912c0-2.67 2.182-4.847 4.86-4.847h39.15c1.446 0 2.798.627 3.722 1.736l8.62 10.255a4.818 4.818 0 0 1 1.138 3.111v15.036c0 2.67-2.182 4.847-4.86 4.847Z'/%3E%3Cpath fill='%23737373' d='M55.844 32.74H35.967a.987.987 0 0 1-.99-.988V19.039c0-.547.441-.988.99-.988.549 0 .99.44.99.988v11.724h18.887a.987.987 0 1 1 0 1.977Z'/%3E%3Cpath fill='%23EA4279' d='M44.547 58.03c-3.306 0-5.983-2.684-5.983-5.968 0-3.285 2.69-5.97 5.983-5.97 3.292 0 5.983 2.685 5.983 5.97 0 3.285-2.69 5.969-5.983 5.969Zm0-9.974a4 4 0 0 0-4.003 3.992 4 4 0 0 0 4.003 3.993 4 4 0 0 0 4.002-3.993 4 4 0 0 0-4.002-3.992ZM13.413 58.03c-3.306 0-5.983-2.684-5.983-5.968 0-3.285 2.69-5.97 5.983-5.97 3.293 0 5.983 2.685 5.983 5.97 0 3.285-2.69 5.969-5.983 5.969Zm0-9.974a4 4 0 0 0-4.002 3.992 4 4 0 0 0 4.002 3.993 4 4 0 0 0 4.002-3.993 4 4 0 0 0-4.002-3.992Z'/%3E%3Cpath fill='%23737373' d='M39.54 37.96h-1.646a.987.987 0 1 1 0-1.976h1.647a.987.987 0 1 1 0 1.977ZM47.84 10.908a.987.987 0 0 1-.991-.989V5.593H44.01v1.589a.987.987 0 0 1-.99.988.987.987 0 0 1-.99-.988V4.605c0-.548.441-.988.99-.988h4.818c.55 0 .99.44.99.988v5.314a.987.987 0 0 1-.99.989Z'/%3E%3Cpath fill='%23737373' d='M9.505 15.5a.962.962 0 0 1-.857-.493.984.984 0 0 1 .375-1.349L32.259.492a.982.982 0 0 1 .977 0L43.49 6.301a.984.984 0 0 1 .374 1.348.989.989 0 0 1-1.352.374l-9.757-5.528L10 15.381a.907.907 0 0 1-.482.133l-.013-.013ZM55.977 15.501a.907.907 0 0 1-.481-.133l-8.125-4.594a.984.984 0 0 1-.375-1.349.992.992 0 0 1 1.352-.373l8.125 4.593a.984.984 0 0 1-.482 1.843l-.014.013Z'/%3E%3Cpath fill='%23737373' d='M36.556 10.573a.907.907 0 0 1-.482-.133l-3.748-2.123-3.493 1.976a.989.989 0 0 1-1.352-.374.984.984 0 0 1 .375-1.349l3.989-2.256a.982.982 0 0 1 .977 0l4.23 2.39a.984.984 0 0 1-.483 1.843l-.013.026ZM52.658 20.722a.987.987 0 0 1-.99-.988v-6.556c0-.548.442-.989.99-.989.55 0 .991.441.991.989v6.556a.987.987 0 0 1-.99.988ZM13.882 16.796a.987.987 0 0 1-.99-.988v-2.644c0-.548.44-.988.99-.988.548 0 .99.44.99.988v2.644a.987.987 0 0 1-.99.988Z'/%3E%3C/svg%3E",
    "util-faq": "%3Csvg xmlns='http://www.w3.org/2000/svg' width='58' height='58' fill='none'%3E%3Cpath fill='%23737373' d='M20.828 57.852a.988.988 0 0 1-.99-.988v-9.387h-.228a4.599 4.599 0 0 1-4.604-4.594v-16.09c0-.548.442-.989.99-.989.55 0 .99.441.99.989v16.09A2.625 2.625 0 0 0 19.61 45.5h1.218c.55 0 .99.44.99.988v7.905l8.18-8.586a.972.972 0 0 1 .722-.307h22.313a2.625 2.625 0 0 0 2.623-2.617V15.269a2.625 2.625 0 0 0-2.623-2.617H35.646a.987.987 0 1 1 0-1.977h17.387a4.599 4.599 0 0 1 4.604 4.594v27.627a4.599 4.599 0 0 1-4.604 4.594H31.148l-9.597 10.068a.993.993 0 0 1-.723.307v-.013Z'/%3E%3Cpath fill='%23EA4279' d='M51.453 22.373h-6.572a.987.987 0 1 1 0-1.977h6.572a.987.987 0 1 1 0 1.977ZM51.453 30.117h-6.572a.987.987 0 1 1 0-1.976h6.572a.987.987 0 1 1 0 1.976ZM51.453 37.862H37.947a.987.987 0 1 1 0-1.976h13.506a.987.987 0 1 1 0 1.976Z'/%3E%3Cpath fill='%23737373' d='M31.135 37.582a.997.997 0 0 1-.696-.294l-9.53-9.507H3.6a3.238 3.238 0 0 1-3.239-3.232V3.76A3.238 3.238 0 0 1 3.602.526h29.781c1.78 0 3.24 1.442 3.24 3.231v20.804a3.238 3.238 0 0 1-3.24 3.232h-1.258v8.8c0 .4-.24.76-.616.908a.947.947 0 0 1-.374.08ZM3.6 2.503c-.696 0-1.258.561-1.258 1.255v20.804c0 .695.562 1.256 1.258 1.256h17.722c.268 0 .509.106.696.293l8.125 8.106v-7.411c0-.548.442-.988.99-.988h2.25c.695 0 1.258-.561 1.258-1.256V3.759c0-.694-.563-1.255-1.259-1.255H3.601Z'/%3E%3Cpath fill='%23737373' d='M18.392 23.681a9.451 9.451 0 0 1-6.693-2.764 9.406 9.406 0 0 1-2.77-6.677c0-2.523.99-4.887 2.77-6.676A9.42 9.42 0 0 1 18.38 4.8c2.53 0 4.898.988 6.692 2.764a9.406 9.406 0 0 1 2.77 6.677c0 2.523-.99 4.887-2.77 6.676a9.42 9.42 0 0 1-6.679 2.764Zm0-16.892a7.474 7.474 0 0 0-5.287 2.177 7.372 7.372 0 0 0-2.195 5.275c0 1.99.776 3.872 2.181 5.274a7.408 7.408 0 0 0 5.288 2.19 7.474 7.474 0 0 0 5.287-2.177 7.373 7.373 0 0 0 2.195-5.274c0-1.99-.777-3.873-2.182-5.275a7.408 7.408 0 0 0-5.287-2.19Z'/%3E%3Cpath fill='%23737373' d='M21.832 11.116c-.562-1.108-1.78-1.736-3.346-1.736-1.044 0-1.888.32-2.517.975-1.017 1.041-1.004 2.47-1.004 2.63 0 .534.442.962 1.004.962.536 0 .977-.454.977-1.002 0 0 0-.774.455-1.215.241-.254.603-.374 1.098-.374.803 0 1.365.24 1.58.668.133.267.08.48.066.507-.08.107-.441.32-.669.454-.87.494-2.316 1.322-2.316 3.312 0 .547.442.988.991.988.549 0 .99-.44.99-.988 0-.815.482-1.122 1.326-1.603.468-.267.963-.547 1.285-1.001.495-.681.535-1.71.093-2.564l-.013-.013ZM18.218 17.953c-.549 0-.99.4-.99.88v.295c0 .48.441.881.99.881.549 0 .99-.4.99-.881v-.294c0-.48-.441-.881-.99-.881Z'/%3E%3C/svg%3E",
    "util-location": "%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='64' fill='none'%3E%3Cpath fill='%23737373' d='M24.328 56.372a2.826 2.826 0 0 1-2.516-1.482L7.556 29.319c-3.346-5.996-3.252-13.1.228-19.015 3.48-5.916 9.677-9.44 16.544-9.44 6.867 0 13.064 3.524 16.544 9.44 3.48 5.915 3.574 13.02.227 19.015L26.844 54.89a2.868 2.868 0 0 1-2.516 1.482Zm-.013-53.346c-6.09 0-11.579 3.125-14.67 8.373-3.092 5.248-3.173 11.55-.201 16.865l14.255 25.571c.187.32.495.36.616.36.12 0 .428-.04.615-.36l14.255-25.571c2.959-5.315 2.892-11.617-.2-16.865-3.092-5.248-8.58-8.373-14.67-8.373ZM36.602 43.78c-.455 0-.884-.294-1.044-.748a1.086 1.086 0 0 1 .696-1.375l7.99-2.59a1.1 1.1 0 0 1 1.38.694 1.086 1.086 0 0 1-.697 1.375l-7.99 2.59a.977.977 0 0 1-.335.054ZM1.667 54.21a1.1 1.1 0 0 1-1.044-.775 1.08 1.08 0 0 1 .736-1.349l13.613-4.073a1.083 1.083 0 0 1 1.351.735 1.08 1.08 0 0 1-.736 1.348L1.975 54.17c-.107.027-.215.04-.308.04ZM3.327 46.905c-.469 0-.897-.294-1.044-.761a1.092 1.092 0 0 1 .722-1.362l7.616-2.364a1.085 1.085 0 0 1 1.366.721 1.092 1.092 0 0 1-.723 1.362l-7.616 2.364a.903.903 0 0 1-.321.053v-.013'/%3E%3Cpath fill='%23737373' d='M23.86 63.516c-.134 0-.282-.027-.429-.08L1.238 54.129a1.1 1.1 0 0 1-.588-1.43c.227-.547.87-.814 1.432-.587l22.192 9.307a1.1 1.1 0 0 1 .59 1.43 1.089 1.089 0 0 1-1.005.667ZM58.34 47.532a.948.948 0 0 1-.456-.106l-13.746-6.343a1.088 1.088 0 1 1 .91-1.976l13.746 6.342a1.083 1.083 0 0 1-.455 2.07v.013ZM12.522 50.777c-.134 0-.28-.027-.415-.08l-9.289-3.873a1.09 1.09 0 0 1-.589-1.428c.228-.548.87-.815 1.432-.588l9.29 3.873a1.09 1.09 0 0 1-.415 2.096h-.014'/%3E%3Cpath fill='%23737373' d='M23.86 63.516a1.082 1.082 0 0 1-.456-2.07l34.48-15.983a1.087 1.087 0 0 1 1.446.534 1.083 1.083 0 0 1-.535 1.442l-34.48 15.983a1.132 1.132 0 0 1-.456.107v-.013ZM40.658 42.058c-.134 0-.268-.027-.402-.08l-2.797-1.109a1.08 1.08 0 0 1-.603-1.415c.228-.561.857-.828 1.42-.601l2.797 1.108c.562.227.83.855.602 1.416a1.086 1.086 0 0 1-1.017.68Z'/%3E%3Cpath fill='%23EA4279' d='M24.315 28.344c-5.194 0-9.41-4.206-9.41-9.387s4.216-9.388 9.41-9.388c5.193 0 9.41 4.207 9.41 9.388 0 5.18-4.217 9.387-9.41 9.387Zm0-16.598c-3.99 0-7.228 3.231-7.228 7.21 0 3.98 3.239 7.211 7.228 7.211 3.988 0 7.227-3.231 7.227-7.21 0-3.98-3.239-7.211-7.227-7.211Z'/%3E%3C/svg%3E"
  );
$icon: map.get($iconList, $iconName);
@return url("data:image/svg+xml;charset=utf8,#{$icon}");
}