@use 'mixin' as *;
@use 'variables' as *;

@media (max-width:565px) {

  .top-banner,
  .header-top,
  .header-inner,
  .all-menu-wrap,
  .footer-wrap,
  .footer-link {
    width: 100%;
  }

  .side-wrap+.content,
  .content {
    width: calc(100% - 40px);
    margin: 40px 20px;
  }

  .page-title+.content-box,
  .content-box+.btn-wrap.confirm,
  .content-box+.btn-wrap.vertical,
  .btn-wrap.link+.content-box,
  .content-box+.content-box {
    margin-top: 20px;
  }

  .side-wrap {
    display: none;
  }

  // header
  .header-top {
    padding: 8px 20px;

    .logo {
      .logo-link {
        padding: 0;

        .logo-img {
          width: 49px;
        }

        p {
          display: none;
        }
      }
    }

    .util-menu-wrap .util-menu [class^=btn-] {
      width: 24px;
      height: 24px;
    }
  }

  header {
    border-bottom: none;

    .gnb-wrap {
      .gnb {
        padding: 0 20px;

        strong.depth-1 {
          display: none;
        }

        .depth-1 {
          &.--home {
            display: inline-block;
          }
        }

        .gnb-menu {
          ul {
            .depth-1 {
              a {
                padding: 12px 3px;
                @include depth-small-medium;
              }

              &.--active:not(.product) a {
                position: relative;

                &::after {
                  content: '';
                  display: block;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  width: 100%;
                  height: 2px;
                  background: $color-border-primary;
                  // border-bottom: 2px solid $color-border-primary;
                }
              }
            }
          }
        }
      }

      .util-menu-wrap {
        display: none;
      }
    }
  }

  .search-wrap {
    .search-inner {
      min-width: auto;
    }

    .search-content {
      width: 100%;
    }
  }

  // main
  .main-wrap {
    .main-banner-wrap {
      min-width: 100%;
      margin-top: 0;

      .swiper {
        .swiper-wrapper {
          .swiper-slide {
            width: 100%;

            .item {
              height: auto;
              border-radius: 0;
            }
          }
        }

        .swiper-util {
          position: absolute;
          bottom: 12px;
          right: 16px;
          margin: 0;
          border-radius: 40px;
          background: $color-alpha-inverse50;
          z-index: 1;

          .swiper-pagination {
            @include font-body-xxsmall-bold;

            .swiper-pagination-current {
              color: $color-text-basic-inverse;
            }

            .swiper-pagination-total {
              color: $color-text-subcolor;

              &::before {
                height: 8px;
                background: $color-border-disabled;
              }
            }
          }

          .swiper-button-prev,
          .swiper-button-next {
            position: relative;
            display: inline-flex;
            top: auto;
            left: auto;
            right: auto;
            width: 24px;
            height: 20px;
            margin-top: 0;

            &::after {
              content: '';
              display: inline-block;
              width: 16px;
              height: 16px;
              background-size: 16px 16px;
            }
          }
        }
      }
    }

    .main-product-wrap {
      overflow-x: auto;
      scrollbar-width: none;
      margin: 0 -20px;

      .list {
        gap: 32px 12px;
        width: max-content;
        max-width: 673px;
        margin: 0 20px;
      }

      .item {
        width: 125px;

        .product-info {
          .badge-wrap {
            order: 2;
            margin-top: 20px;
          }

          .product-title {
            flex-direction: column;
            margin-top: 0;
          }

          .product-text {
            margin-top: 12px;
          }
        }
      }
    }

    .img-title-event {
      img {
        max-width: 275px;
      }
    }

    .box-list {
      grid-template-columns: 1fr;
      gap: 32px;
    }

    .content-box {
      &.product-review-wrap {
        position: relative;
        margin-top: 48px;
        padding: 40px 0;

        &::before {
          position: absolute;
          top: -8px;
          left: 0;
          content: '';
          display: block;
          width: 100%;
          height: 8px;
          background: $color-divider-gray-light;
        }

        background: transparent;

        .title-review-wrap {
          .img-title-review {
            img {
              max-width: 208px;
            }
          }
        }

        .product-review {
          min-width: 100%;
          padding: 12px 20px 0;

          .swiper-wrapper {
            gap: 12px;

            .swiper-slide {
              width: 125px;
            }

            .item {
              >a:hover {
                top: 0;
              }

              .review-img {
                border-radius: 10px;
              }

              .review-text {
                margin-top: 12px;
                padding: 0;
                border-radius: 0;

                .review-date {
                  margin-top: 16px;
                }
              }
            }
          }
        }
      }
    }

    .blog-list-wrap {
      max-width: 100%;
      margin-bottom: 40px;

      .swiper {
        overflow-x: auto;
        scrollbar-width: none;
        padding: 0 20px;

        .swiper-wrapper {
          gap: 12px;
          width: max-content;
        }

        .swiper-slide {
          width: 125px;

          &.blank-slide {
            display: none;
          }
        }
      }

      .swiper-util,
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }

    .main-banner-wrap,
    .util-menu-list-wrap {
      order: -1;
    }

    .util-menu-list-wrap {
      margin-top: 24px;
      padding: 4px 20px;
      background: transparent;

      .util-menu-list {
        gap: 20px;
        justify-content: space-between;
        width: 100%;
        border-left: none;

        .item {
          padding: 0;
          border-right: none;

          &.--quote a::before {
            background-size: 28px 28px;
          }

          &.--guide a::before {
            background-size: 28px 28px;
          }

          &.--delivery a::before {
            background-size: 28px 28px;
          }

          &.--faq a::before {
            background-size: 28px 28px;
          }

          &.--location a::before {
            background-size: 28px 28px;
          }

          >a {
            &::before {
              width: 48px;
              height: 48px;
              border-radius: 16px;
              background-color: $color-background-gray-subtler;
              border: 1px solid $color-border-gray-light;
            }

            span {
              @include font-body-xxsmall;
              color: $color-text-subcolor-deep;
            }
          }
        }
      }
    }

    >.content {
      margin: 24px 20px 0;

      .content-box {
        +.content-box:not(.util-menu-list-wrap) {
          &::before {
            left: -20px;
            width: calc(100% + 40px);
          }
        }
      }
    }

    .content-box {
      +.content-box:not(.util-menu-list-wrap) {
        position: relative;
        margin-top: 48px;
        padding-top: 40px;

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: -8px;
          left: 0;
          width: 100%;
          height: 8px;
          background: $color-divider-gray-light;
        }
      }
    }
  }

  .radio-wrap {
    &.img-option {
      gap: 8px;
      flex-wrap: nowrap;
      padding: 0;
    }
  }

  .product-wrap {
    .product-inner {
      flex-direction: column;
    }

    .product-img {
      flex: 0 0 auto;
      width: auto;
    }

    &.scroll {
      .product-inner {
        display: block;
        padding: 20px;
      }

      .product-img {
        float: left;

        .product-img-detail {
          width: 50px;
          height: 50px;
          border-radius: 8Px;
        }
      }

      .product-info {
        display: block;

        .item+.item {
          margin-left: 0;
          padding-left: 0;
          border: none;
        }

        .btn-wrap.--hide {
          justify-content: flex-end;

          [class^=btn-] span {
            width: auto;
          }
        }
      }
    }
  }

  .product-order-wrap {
    flex-direction: column;
    margin-bottom: 20px;

    .product-order {
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .product-price-wrap {
    flex-direction: column;

    .product-order-price {
      flex-wrap: wrap;

      .product-price {}

      .icon-sum+.product-price {
        flex: 1;
        justify-content: flex-end;
      }
    }
  }

  .product-order {
    margin-bottom: 20px;

    .product-option {

      .row-span-2,
      .row-span-3,
      .row-span-4 {
        grid-row: auto;
        grid-column: auto;
      }

      &.columns-4 {
        grid-template-columns: 1fr;
      }

      .column-item {
        grid-template-columns: 1fr;

        >dd {
          .guide-wrap {

            .guide-sub-deep {
              display: block;
              margin: 4px 0 0;
              padding: 0;
            }
          }

          .width-436 {
            width: 100%;
          }

          .form-field {
            .button-option {
              &.--v-center {
                flex-direction: column;
                align-items: flex-start;

                .form-wrap {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }

    .--add-option>.option-item:first-of-type>.product-option {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  .product-detail {
    .img-cont {
      padding: 0;
    }
  }

  .product-review {
    &-list {
      .list {
        .list-item {
          >a {
            .review-img {
              width: 80px;
              height: 80px;
            }
          }
        }
      }
    }
  }

  .btn-wrap.confirm [class^=btn-]>span {
    min-width: 84px;
  }

  .desc-box {

    &.tertiary-light-box {
      flex-direction: column;
      gap: 12px;
    }
  }

  .item-box-wrap {
    grid-template-columns: 1fr;

    &::after {
      display: none;
    }

    .item-box {
      align-items: flex-start !important;
      padding: 0 !important;

      .item-box-inner>input {
        width: 100%;
      }
    }
  }

  .step-wrap {
    .step-status {
      gap: 80px;

      li {
        +li {
          .item-number::before {
            left: -80px;
            width: 64px;
          }
        }
      }
    }
  }

  .division-item-wrap {
    flex-direction: column;
    gap: 40px 0;

    &.--type-01 {
      gap: 40px 0;

      .division-item {
        padding: 0;

        +.division-item {
          flex: 1;
        }
      }
    }

    &.--type-02 {
      gap: 40px 0;

      .division-item+.division-item {
        justify-content: normal;
        flex: auto;
      }
    }
  }

  .modal.--large .modal-wrap {
    width: calc(100% - 40px);
  }

  // footer
  footer {
    .footer-link-wrap {
      .footer-link {
        li {
          flex: auto;
        }

        a {
          padding: 8px 0;
        }
      }
    }

    .footer-wrap {
      display: block;
      padding: 32px 17px;
      @include font-body-xxsmall;

      .company {
        text-align: center;
      }

      .contact {
        width: 100%;
      }

      .info {
        .info-inner {
          margin: 24px 0;
          text-align: center;

          .info-chkbox {

            &:checked {
              ~dl {
                display: block;
              }

              ~.info-label .checkbox-icon {
                transform: rotate(-90deg);
              }
            }
          }

          .info-label {
            display: inline-flex;
            align-items: center;
            margin: 10px 0;

            .checkbox-label {
              color: $color-text-subcolor-light;
            }

            .checkbox-icon {
              position: relative;
              width: 16px;
              height: 16px;
              font-size: 0;
              display: inline-block;
              width: 16px;
              height: 16px;
              background: svgIcon(arrow, 'A5A5A5') no-repeat center center/16px 16px;
              transform: rotate(90deg);
            }
          }

          dl {
            display: none;
          }
        }
      }

    }
  }
}

@media (min-width:566px) {

  .top-banner,
  .header-top,
  .header-inner,
  .all-menu-wrap,
  .footer-wrap,
  .footer-link {
    width: 1200px;
    margin: 0 auto;
  }
}