@use 'mixin' as *;
@use 'variables' as *;
@use "sass:list";

.breadcrumb {
  margin: -32px 0 16px;
  padding: 3px 0 2px;

  >ol {
    display: flex;

    li {
      display: flex;
      align-items: center;

      +li::before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 0 2px;
        background: #003f6d url('') no-repeat center center/100% 100%;
      }

      a {
        display: inline-block;
        color: $color-text-subcolor;
        @include font-body-xxsmall;

        &:hover {
          text-decoration: underline;
        }
      }

      strong {
        color: $color-text-basic;
        @include font-body-xxsmall;
      }
    }
  }
}

.title-wrap {
  display: flex;
  justify-content: space-between;

  &:not(:first-of-type) {
    margin: 40px 0 16px;
  }

  .cont-title {
    @include font-body-large-bold;

    span {
      padding-left: 4px;
      color: $color-text-primary;
    }

    &.--small {
      @include font-body-small-bold;
    }

    >.btn-title {
      @include font-body-small;

      &.--active {
        @include font-body-small-bold;
      }

      +.btn-title {
        margin-left: 24px;
      }
    }
  }
}

.step-wrap {
  margin-bottom: 48px;
  padding-bottom: 20px;

  .step-status {
    counter-reset: steplist 0;
    display: flex;
    justify-content: center;

    li {
      position: relative;
      width: 36px;

      .item {
        position: relative;
        display: flex;
        justify-content: center;
        padding-top: 8px;
        margin-top: 36px;

        .item-number {
          display: inline-block;
          position: absolute;
          top: -36px;
          left: 50%;
          width: 36px;
          height: 36px;
          transform: translateX(-50%);
          border-radius: 50%;
          background-color: $color-border-gray;

          &:after {
            content: counter(steplist);
            counter-increment: steplist 1;
            position: absolute;
            top: 50%;
            left: 50%;
            height: 24px;
            padding: 6px 0;
            color: $color-text-basic-inverse;
            @include font-body-medium;
            transform: translate(-50%, -50%);
          }
        }

        strong {
          white-space: nowrap;
          @include font-body-xsmall-bold;
          color: $color-text-subcolor-light;
        }

      }

      +li {
        margin-left: 234px;

        .item-number {

          &:before {
            content: '';
            display: inline-block;
            position: absolute;
            left: -234px;
            top: 50%;
            width: 218px;
            height: 2px;
            margin: 0 8px;
            background-color: $Line-line;
            transform: translateY(-50%);
          }
        }
      }

      &.current {
        .item {
          .item-number {
            background-color: $color-border-gray-dark;
          }

          strong {
            color: $color-text-basic;
          }
        }
      }
    }
  }
}

.badge-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;

}

.badge {
  display: inline-flex;
  align-items: center;
  height: 22px;
  padding: 2px 10px;
  border-radius: 50px;
  @include font($weight: $font-weight-medium, $size: $font-size-body-xxsmall, $line-height: 16px, $family: ($font-typo-icon-en-font, $font-typo-main-font));
  white-space: nowrap;

  i {
    font-size: 0;
  }

  +.badge {
    margin-left: 8px;
  }

  &.--large {
    height: 25px;
    padding: 4px 10px;
    font-size: $font-size-body-xsmall;
  }

  &.square {
    height: 32px;
    padding: 0 10px;
    font-size: $font-size-body-xsmall;
    border-radius: 4px;

    &:before {
      order: 2;
      margin: 0 0 0 2px;
    }

    &:has(i):before {
      margin: 0;
    }
  }

  &.fill-display-2 {
    color: $color-text-basic-inverse;
    background: $Display-Status-Display-2;
  }

  &.fill-gray-dark {
    color: $color-text-basic-inverse;
    background: $color-border-gray-dark;
  }

  &.fill-secondary {
    border-color: $color-border-secondary;
    background: $color-border-secondary;
    color: $color-text-subcolor-inverse;
  }

  &.fill-tertiary {
    border-color: $color-border-tertiary;
    background: $color-border-tertiary;
    color: $color-text-subcolor-inverse;
  }

  @each $class, $values in ('line-display-1': ($Display-Status-Display-1, rgba(250, 92, 84, 0.10)),
    'line-display-3': ($Display-Status-Display-3, rgba(235, 141, 87, 0.10)),
    'line-display-4': ($Display-Status-Display-4, rgba(132, 200, 96, 0.10)),
    'line-display-6': ($Display-Status-Display-6, rgba(91, 197, 210, 0.10)),
    'line-display-7': ($Display-Status-Display-7, rgba(114, 132, 198, 0.10)),
    'line-display-8': ($Display-Status-Display-8, rgba(164, 84, 221, 0.10)),
    'line-display-9': ($Display-Status-Display-9, rgba(246, 91, 144, 0.10)),
    'line-tertiary': ($color-border-tertiary, $color-background-white)) {
    &.#{$class} {
      color: list.nth($values, 1);
      border: 1px solid list.nth($values, 1);
      background: list.nth($values, 2);
    }
  }

  &:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    background-color: #003f6d; // 나중에 삭제 예정
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }

  /* before에 background-image 적용할 클래스들 (recommend, new, best, discount-1, discount-2, step-ing, step-end, step-cart) */
  @each $class, $img in ('recommend': 'recommend.png',
    'new': 'new.png',
    'best': 'best.png',
    'discount-1': 'discount-1.png',
    'discount-2': 'discount-2.png',
    'step-ing': 'step-ing.png',
    'step-end': 'step-end.png',
    'step-cart': 'step-cart.png'

  ) {
    &.#{$class} {
      &:before {
        content: '';
        background-image: url(#{$img});
      }
    }
  }
}

.rating-wrap {
  display: flex;
  align-items: center;

  .rating-container {
    display: inline-flex;
    width: 80px;
    height: 16px;
    background: url('../img/icon/icon-star-off-24.png') repeat-x left center/auto 100%;

    .rating-num {
      display: inline-block;
      height: 100%;
      background: url('../img/icon/icon-star-on-24.png') repeat-x left center/auto 100%;
    }

    &.input {
      flex-direction: row-reverse;
      background: none;

      .ipt-rating {
        display: none;
      }

      label {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url('../img/icon/icon-star-off-24.png') no-repeat left center/auto 100%;
        cursor: pointer;

        &:before {
          content: '';
          display: inline-block;
          width: 100%;
          height: 100%;
          margin: 0;
        }
      }

      label:hover,
      label:hover~label,
      .ipt-rating:checked~label,
      .ipt-rating:checked+label:hover,
      .ipt-rating:checked~label:hover~label,
      label:hover~.ipt-rating:checked~label {
        background: url('../img/icon/icon-star-on-24.png') no-repeat left center / auto 100%;
      }
    }
  }

  .text {
    padding-left: 10px;
    @include font-body-small-bold;
    color: $color-text-subcolor;
  }

  .user-name {
    padding-left: 8px;
    @include font-body-xsmall;
    color: $color-text-subcolor;
  }

  &.--medium {
    .rating-container {
      width: 120px;
      height: 24px;

      &.input {
        label {
          display: inline-block;
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  &.--large {
    .rating-container {
      width: 160px;
      height: 32px;

      &.input {
        label {
          display: inline-block;
          width: 32px;
          height: 32px;
        }
      }
    }

    .text {
      padding-left: 8px;
      @include font-body-large-bold;
      color: $color-text-basic;
    }
  }

  &.black {
    .rating-num {
      background-image: url('../img/icon/icon-star-on-black-24.png');
    }
  }
}

.product-wrap {

  .product-inner {
    display: flex;
    flex-direction: row;
    gap: 0 56px;
  }

  .rating-wrap {
    margin-bottom: 10px;
  }

  .product-img {
    flex: 0 0 auto;
    display: flex;
    gap: 0 20px;

    .product-img-detail {
      overflow: hidden;
      width: 407px;
      height: 407px;
      border-radius: 10px;

      img {
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .product-img-items {
      display: flex;
      flex-direction: column;
      gap: 20px 0;
      height: 407px;

      .img-item-wrap {
        flex: 1;
        overflow-y: hidden;

        .img-item {
          +.img-item {
            margin-top: 12px;
          }

          overflow: hidden;
          width: 70px;
          height: 70px;
          border-radius: 10px;
          border: 1px solid transparent;

          &:hover {
            border-color: $color-border-gray-dark;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .button-item {
        text-align: center;

        &:first-child {

          [class^=btn-]:before {
            background-image: url('');
          }
        }

        &:last-child {

          [class^=btn-]:before {
            background-image: url('');
          }
        }

        [class^=btn-] {
          display: inline-block;
          position: relative;
          width: 24px;
          height: 24px;
          border-radius: 100%;
          border: 1px solid $color-border-gray;
          background: $color-border-gray-light;

          &:before {
            content: '';
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 16px;
            height: 16px;
            background-color: #003f6d;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100% 100%;
          }

          i {
            font-size: 0;
          }
        }
      }
    }
  }

  .product-info {
    display: flex;
    flex-direction: column;
    flex: 1;

    .top-area {
      position: relative;
      padding-right: 48px;

      .btn-wrap {
        position: absolute;
        top: 0;
        right: 0;

        .btn-share {
          display: inline-block;
          width: 36px;
          height: 36px;
        }
      }
    }

    .product-name {
      @include font-heading-medium-bold;
      color: $color-text-basic;
      margin-bottom: 10px;
    }

    .product-text {
      margin-top: 16px;
      @include font-body-xsmall;
      color: $color-text-subcolor-deep;

      .text+.text {
        margin-top: 4px;
      }
    }

    .product-price {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      grid-gap: 16px 0;
      margin-top: 16px;
      padding: 20px 12px;
      background: $color-background-gray-subtler;

      .discount-title {
        @include font-body-xxsmall;
        color: $color-text-subcolor;
      }

      .total-title {
        @include font-body-xsmall-bold;
        color: $color-text-basic;
      }

      [class$=-price] {
        text-align: right;
      }

      .discount-price {
        @include font-body-xsmall;
        color: $color-text-subcolor;
      }

      .total-price {
        @include font-body-large-bold;
        color: $color-text-basic;
      }
    }

    .btn-wrap.--hide {
      display: none;
    }
  }

  &.scroll {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: $color-background-white;
    z-index: 1;
    box-shadow: 0px 2px 4px 0px $color-alpha-shadow1, 0px 8px 20px 0px $color-alpha-shadow1;
    z-index: 9;

    .product-inner {
      gap: 0 20px;
      margin-bottom: 0;
      padding: 20px 0;
    }

    .product-img {
      width: 104px;
      height: 104px;
      border-radius: 20px;
    }

    .product-info {
      flex-direction: row;

      .item {

        &:first-of-type {
          flex: 1;
        }

        +.item {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          margin-left: 20px;
          padding-left: 20px;
          border-left: 1px solid $Line-line;
        }

        .top-area {
          display: flex;
          align-items: center;
          padding: 0;

          .badge-wrap,
          .product-name {
            display: inline-flex;
            margin-bottom: 0;
            margin-right: 8px;
          }

          .btn-wrap {
            display: none;
          }
        }

        .product-text {
          margin-top: 8px;

          .text {
            @include ellipsis;
          }
        }

        >.badge-wrap {
          order: 1;
          margin: 10px 0 0 0;
        }

        .rating-wrap.badge,
        .badge-wrap {
          display: none;
        }

        .product-price {
          background: none;
        }
      }

      .btn-wrap.--hide {
        display: flex;
        margin-top: 10px;

        [class^=btn-] {
          span {
            width: 136px;
          }
        }
      }
    }
  }
}

.product-order-wrap {
  display: flex;
  gap: 0 80px;
  margin-bottom: 40px;

  >* {
    flex: 1 1 50%;
  }

  .product-order {
    margin-bottom: 0;
  }
}

.product-order {
  margin-bottom: 40px;

  &:last-of-type {
    margin-bottom: 0;
  }

  .required {
    &:after {
      content: '*';
      display: inline-flex;
      color: $color-text-primary;
      @include font-body-small;
      line-height: 12px;
      vertical-align: 2px;
    }
  }

  .title-wrap {
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid $Line-line;

    >h5 {
      margin-bottom: 0;
    }
  }

  .desc-guide {
    @include desc-guide;

    &.line-round {
      min-height: 27px;
      // margin-left: 12px;
      padding: 1px 16px;
      border-radius: 12px;
      border: 1px solid $color-border-gray;

      >dt {
        @include font-body-xsmall-bold;
      }

      >dd {
        padding-left: 4px;
        @include font-body-small;

        +dt {
          padding-left: 16px;

          &:before {
            content: '/';
            display: inline-block;
            padding-right: 16px;
            @include font-body-xsmall;
            color: $color-text-subcolor-light;
          }
        }
      }
    }

    &.required {
      &:after {
        order: -1;
        padding: 1px 2px 0 0;
      }
    }
  }

  .product-option {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: minmax(40px, auto);
    grid-gap: 20px 0;
    padding-top: 20px;

    >dt {
      padding: 9px 0;
      @include font-body-small;

      &.required {
        &:after {
          float: left;
          padding: 3px 4px 0 0;
        }
      }
    }

    >dd {
      display: flex;
      // align-items: center;
      min-height: 100%;
      padding-left: 4px;

      .width-436 {
        input {
          width: calc(50% - 100px);
        }
      }

      .form-field {
        flex: 1;

        &.file {
          max-width: 100%;
        }
      }

      .desc-box {
        flex: 1;
        margin: 0;

        +button {
          margin-left: 8px;
        }
      }

      [class^=guide-] {
        margin-top: 0;
      }

      >.inner-wrap {
        display: inline-flex;
        align-items: center;
      }
    }

    &.columns-1 {
      grid-template-columns: 1fr;

      dd {
        padding-left: 0;
      }
    }

    &.columns-4 {
      grid-template-columns: 120px 1fr 200px 1fr;

      >dt {
        &:nth-of-type(even) {
          margin-left: 80px;
        }
      }
    }

    &+.title-wrap {
      margin-top: 40px;
    }

    .row-span-2 {
      grid-row: 1 / 3;

      ~dt:nth-of-type(odd) {
        margin-left: 80px;
      }
    }

    .--add-option {
      margin-top: 20px;

      .option-item {
        display: grid;
        grid-template-columns: 120px 1fr;
        gap: 20px 0;
        @include font-body-small;
        color: $color-text-basic;

        dt {
          padding: 9px 0;
        }

        .form-option {
          display: flex;
          align-items: center;
          gap: 0 8px;

          strong {
            @include font-body-small;
            color: $color-text-subcolor;
          }

          input[type=text] {
            width: 87px;
          }

          .icon {
            position: relative;
            display: inline-block;
            width: 16px;
            height: 16px;

            &:before,
            &:after {
              @include cross-line-base-1px;
              height: 9px;
            }

            &:after {
              @include cross-line-after-1px;
            }

            i {
              font-size: 0;
            }
          }
        }
      }
    }
  }

  [class^=btn-] {

    input[type=file] {
      display: none;
    }
  }

  .print-option {
    .option-form {
      display: inline-block;

      input {
        width: 100px;
      }
    }
  }
}

.product-price-wrap {
  display: flex;
  justify-content: space-between;
  gap: 0 12px;
  margin-top: 60px;
  padding: 32px 16px;
  border-top: 1px solid var(--Line-line-3);
  border-bottom: 1px solid var(--Line-line-3);

  .product-order-price {
    display: flex;
    align-items: center;
    gap: 0 12px;

    [class^=icon-] {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 2px;
      border-radius: 100%;
      background: $color-border-gray;
      font-size: 0;

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 9px;
        height: 1px;
        border-radius: 1px;
        background: $color-background-white;
        transform: translate(-50%, -50%);
      }

      &:after {
        width: 1px;
        height: 9px;
      }
    }

    .icon-minus {
      &:after {
        content: none;
      }
    }

    .icon-sum {
      color: $color-text-basic-inverse;
      background: $color-border-gray-dark;

      &:before {
        top: calc(50% - 2px);
      }

      &:after {
        top: calc(50% + 2px);
        width: 9px;
        height: 1px;
      }
    }

    .product-price {
      dt {
        @include font-body-xsmall;
        color: $color-text-subcolor-deep;

        &.total-sum {
          font-weight: $font-weight-semibold;
        }

        span {
          padding-left: 2px;
          @include font-body-xxsmall;
          color: $color-text-subcolor-light;
        }
      }

      dd {
        padding-top: 4px;
        @include font-body-xsmall-bold;
        color: $color-text-basic;
        line-height: 20px;

        strong {
          @include font-body-medium-bold;
          line-height: 20px;
        }

        &.total-sum {
          strong {
            @include font-body-large-bold;
            color: $color-text-primary;
            line-height: 20px;
          }
        }
      }
    }
  }

  &.--step {
    margin-top: 20px;
    justify-content: right;

    &.--end {
      justify-content: center;
    }

    .product-order-price {
      gap: 0 20px;

      .product-price {
        display: flex;
        align-items: center;

        dt {

          &.total-sum {
            @include font-body-small-bold;

            span {
              font-weight: $font-weight-medium;
            }
          }
        }

        dd {
          padding: 0 0 0 8px;

          strong {
            @include font-body-large-bold;
          }

          &.total-sum {
            padding: 0 0 0 20px;
            @include font-body-small-bold;

            strong {
              @include font-heading-medium-bold;
            }
          }
        }
      }
    }
  }
}

.tab-wrap {
  display: flex;
  align-items: center;
  border: 1px solid $Line-line;

  .btn-tab {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 60px;
    border-left: 1px solid $Line-line;

    span {
      display: inline-block;
      @include font-body-medium;
      color: $color-text-basic;
    }

    &.--active {
      background: $color-border-gray-dark;

      span {
        font-weight: $font-weight-semibold;
        color: $color-text-basic-inverse;
      }
    }
  }
}

.product-detail {

  .img-cont {
    overflow: hidden;
    max-height: 488px;
    padding: 0 100px;

    img {
      width: 100%;
    }
  }

  &.more {
    .img-cont {
      max-height: max-content;
      overflow: visible;
    }
  }

  .btn-more {
    @include button;
    background: $color-border-inverse;
    color: $color-text-basic;
    width: 100%;
    height: 60px;
    border-radius: 0;
    border: 1px solid $Line-line;
    @include font-body-small-bold;
    box-shadow: none;

    span {
      padding: 0;

      &:after {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-left: 4px;
        vertical-align: -6px;
        background: #003f6d url() no-repeat center center/24px auto;
      }
    }
  }
}

.product-review {

  &-photo {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0 15px;
      overflow: hidden;
      height: 120px;

      li {
        flex: 0 120px;
        border-radius: 4px;

        a {
          overflow: hidden;
          display: block;
          width: 120px;
          height: 120px;
          border-radius: 4px;
          border: 1px solid $Line-line;
          background: $color-border-gray-light;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &.btn-more {
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0;
            border: none;
            background: $color-border-gray;
            @include font-body-small;

            em {
              &:before {
                content: '';
                display: inline-block;
                width: 16px;
                height: 16px;
                margin-right: 2px;
                background: #003f6d url('') no-repeat center center/100% 100%;
                vertical-align: -3px;
              }
            }
          }
        }
      }
    }
  }

  &-list {
    border-top: 1px solid $Line-line-3;

    .list {
      .list-item a {
        display: flex;
        gap: 0 24px;
        padding: 16px 0 32px;
        border-bottom: 1px solid $Line-line;

        .review-img {
          flex: 0 0 auto;
          position: relative;
          overflow: hidden;
          width: 148px;
          height: 148px;
          border-radius: 4px;
          border: 1px solid $Line-line;
          background: $color-border-gray-light;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .count {
            position: absolute;
            right: 0;
            bottom: 0;
            min-width: 20px;
            padding: 3px 6px;
            border-radius: 4px;
            background: $color-border-disabled;
            @include font-body-xsmall;
            line-height: 14px;
            color: $color-text-basic-inverse;
          }
        }

        .review-text {
          flex: 1 1 auto;
          display: flex;
          flex-direction: column;
          gap: 15px 0;
          min-width: 0;

          .product-option {
            @include font-body-xsmall;
            color: $color-text-subcolor-light;
            @include ellipsis;
            -webkit-line-clamp: 2;
          }

          .text-content {
            @include font-body-small;
            color: $color-text-basic;
            @include ellipsis;
            -webkit-line-clamp: 3;
          }

          .review-date {
            @include font-body-xsmall;
            color: $color-text-subcolor;
          }
        }
      }
    }
  }
}

.quote-wrap {
  display: flex;
  align-items: center;
  flex: 1;

  .quote-title {
    flex: 0 auto;
    min-width: 180px;

    .title {
      color: $color-text-tertiary;
      @include font-body-large;

      strong {
        display: block;
        @include font-heading-small-bold;
      }
    }

    .description {
      margin-top: 20px;
      @include font-body-xxsmall;
    }
  }

  .quote-check {
    flex: 1;

    .checkbox-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2px 0;
      margin: 4px 0;

      .checkbox-label {
        font-weight: $font-weight-bold;
        color: $color-text-subcolor-deep;
      }

      .price {
        @include font-body-small-bold;
      }
    }
  }
}

// 장바구니, 주문결제, 배송지 변경
.util-wrap+.table-list {
  margin-top: 20px;
}

.desc-box+.table-list {
  margin-top: 24px;
}

.table-list {

  .list-item-wrap {
    &.--header {
      .list-item {
        border-bottom-color: $color-border-gray-dark;

        .item {
          padding: 14px 16px;
          @include font-body-small-bold;
          background: $color-border-gray-light;
          color: $color-text-basic;
        }
      }
    }

    &.--body {
      .list-item {
        .item {

          &.--product,
          &.--address {
            justify-content: left;
          }
        }
      }
    }

    .list-item {
      display: grid;
      border-bottom: 1px solid $color-border-gray;
      display: flex;

      .--checkbox {
        width: 50px;
      }

      .--product,
      .--address {
        flex: 1;
      }

      .--quantity,
      .--delivery,
      .--status,
      .--delivery-fee {
        width: 140px;
      }

      .--tel {
        width: 160px;
      }

      .--name {
        width: 180px;
      }

      .--amount {
        width: 200px;
      }

      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 24px 16px;
        @include font-body-small;
        color: $color-text-subcolor-deep;
        background: $color-border-inverse;

        .product-wrap {
          .product-inner-item {
            display: flex;
            flex-direction: row;
            gap: 0 16px;
          }

          .product-img {
            overflow: hidden;
            width: 120px;
            height: 120px;
            border-radius: 4px;
            border: none;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .product-info {
            .product-name {
              margin: 0;
              @include font-body-small-bold;
            }

            .product-text,
            .btn-wrap {
              margin-top: 20px;
            }
          }
        }

        &:before {
          content: attr(data-label);
          display: none;
        }

        &.--no-item {
          flex: 1;
          flex-direction: column;

          &:before {
            content: '';
            display: inline-block;
            width: 216px;
            height: 161px;
            margin-bottom: 20px;
            border: 1px solid $color-border-gray;
          }

          .guide-sub-deep {
            margin-top: 12px;
          }

          .btn-wrap {
            margin-top: 20px;
          }
        }
      }

      // 배송지 변경
      &.--selected {
        .--name {
          >span {
            &:before {
              content: '';
              display: inline-block;
              width: 13px;
              height: 13px;
              margin: 0 4px 0 0;
              background: $color-border-gray-dark url('') no-repeat center center/6.5px auto;
              vertical-align: -2px;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}

.selected-item {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 0 48px;

  dt {
    @include font-body-small-bold;
    color: $color-text-subcolor-deep;

    +dd {
      @include font-heading-xsmall-bold;
    }
  }

  dd {
    @include font-body-small;
    color: $color-text-basic;
  }
}

.item-box-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  .item-box {
    &:nth-child(odd) {
      padding-right: 48px;
    }

    &:nth-child(even) {
      padding-left: 48px;
      border-left: 1px solid $Line-line;
    }

    display: inline-flex;
    flex-direction: column;
    text-align: left;

    &:first-child {
      align-items: flex-end;
    }

    .item-box-inner {
      flex: 0;

      >input {
        width: 415px;
      }
    }
  }
}

.product-order-item {
  +.product-order-item {
    margin-top: 32px;
    padding-top: 32px;
    border-top: 1px solid $Line-line-2;
  }

  >h5 {
    text-align: left;
  }

  .order-item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px 0;

    dt {
      text-align: left;
      @include font-body-small-bold;
      color: $color-text-basic;
    }

    dd {
      text-align: right;
      @include font-body-small;
      color: $color-text-subcolor-deep;
    }

    .account {
      color: $color-text-secondary;
    }

    .total-sum {
      color: $color-text-primary;
      font-weight: $font-weight-semibold;
    }
  }
}