@use 'mixin' as *;
@use 'variables' as *;

/* Root 공통 스타일 */
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  background-color: $color-background-white;
  color: $color-text-basic;
  font-weight: 400;
  font-size: 10px;
  font-family:
    // 'Montserrat',
    'Pretendard Variable', Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  line-height: normal;
  letter-spacing: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  color: $color-text-basic;
  font-size: 1.4rem;
  @include font-body-small;
}

body,
p,
span,
img,
div,
ol,
ul,
li,
dl,
dt,
dd,
table,
caption,
thead,
tbody,
tr,
th,
td,
col,
colgroup,
form,
fieldset,
legend,
select,
option,
input,
textarea,
pre,
header,
footer,
article,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
i,
em,
a,
figure,
figcaption,
nav,
embed,
iframe,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
select,
button,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
table {
  letter-spacing: inherit;
  color: inherit;
}

textarea {
  resize: none;
}

ul,
ol {
  list-style: none;
}

img,
a {
  -webkit-user-drag: none;
}

img {
  vertical-align: top;
}

a {
  color: inherit;
  text-decoration: none;
}

caption {
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

fieldset {
  border: 0;
}

i,
em,
address {
  font-style: normal;
}

.blind {
  position: absolute;
  left: -9999px;
  top: 0;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}

.hide {
  display: none;
}

#skipnavi {
  position: absolute;
  left: 0;
  top: -300px;
}

input[type='text'],
input[type='password'],
input[type='submit'],
input[type='tel'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='date'],
select,
.btn-select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  width: 100%;
  height: 40px;
  padding: 9px 12px;
  box-shadow: none;
  border: 1px solid $Line-line;
  background: $color-background-white;
  border-radius: 4px;
  @include font-body-small;
  color: $color-text-basic;

  &::placeholder {
    color: $color-divider-gray;
  }

  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    outline: none;
    border: 1px solid $color-border-gray-dark;
  }

  &:disabled,
  &:read-only {
    border: 1px solid $color-border-gray;
    background: $color-background-gray-subtle;
  }
}

input[type='number'] {
  padding-right: 12px !important;
}

input[type='date'] {
  min-width: 153px;
  padding-right: 12px !important;

  &:focus:before,
  &:valid:before,
  &::-webkit-clear-button,
  &::-webkit-inner-spin-button {
    display: none;
  }

  &::-webkit-calendar-picker-indicator {
    background: transparent;
    z-index: 1;
  }

  &::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: calc(100% - 24px);
    background: $color-background-white;
  }

  @include sprite-icons(73, 20px, after);

  &::after {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    z-index: 0;
  }
}

th,
strong,
b {
  font-weight: 600;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}